[2021-06-23 19:29] jaymedavis opened #143 "TTGO ESP32 Previous Program slowly fades in/out even when overwritten"
I am using a LORA TTGO ESP32.  If I program it with a built in library of theirs (examples), I can program it and it works fine.  In my case I am using their meters example.  If I come behind that program and put blynk on the chip, so it only has BlynkEdgent.begin() in setup and BlynkEdgent.run() in loop(), it slowly fades in/out the meters display.  I'm not sure how this is happening, because I a

[2021-06-23 20:48] #142 closed, assigned to nobody

[2021-06-23 20:48] blynkkk commented on #142
Unlikely to be implemented.

[2021-06-23 20:48] vshymanskyy commented on #143
this is not a blynk issue.
your TFT screen just remembers the last picture it was showing.

And blynk indicator is driving the screen backlight by coincidence. You should consult your module pinout

[2021-06-23 20:48] #143 closed, assigned to vshymanskyy

[2021-06-23 21:34] jaymedavis commented on #143
alrighty.  my app works perfectly fine until I add blynk to it, then it causes it to fade in/out  🤷

edit: not sure what the module pinout would help with?  I have nothing hooked up

[2021-06-23 22:35] vshymanskyy commented on #143
Check out settings.h in your sketch

On Thu, Jun 24, 2021, 12:34 AM Jayme Davis ***@***.***> wrote:

[2021-06-24 02:39] zerg960 opened #144 "pressure & illuminance not available in datastream units"
I would like to request you add pressure and illuminance to the datastream units options. Specifically hectopascals (hPa) and lux.

[2021-06-24 12:37] nbolton commented on #141
I would classify this as a bug, rather than a question. Unless I'm using the widget incorrectly.

[2021-06-24 12:48] vshymanskyy commented on #141
We're currently looking into this and several similar bugs

On Thu, Jun 24, 2021, 3:37 PM Nick Bolton ***@***.***> wrote:

[2021-06-24 13:33] nbolton commented on #135
I know this is closed, but I think offline notification for **specific** devices would be useful; I have a test device that I use for continuous integration testing, and every time the test runs, it causes my phone to tell me it went offline (a bit annoying).

So for now, I will disable the offline notification (but for someone who is not a developer, the "notify offline for all devices" feature i

[2021-06-24 14:57] Ad758 opened #145 "Can't share/transfer app dashboard to other users"
Hi, I've created a new device and it's pulling data into the web dashboard no problem, but I can't share it with another user.

I plan to use the "Plus" version of the new Blynk until I'm comfortable to commit to the "Pro" version, so I don't want to create sub-organisations to do the sharing, as that feature is not offered with the Plus version.

When I do the transfer to the new user, they are s

[2021-06-24 14:59] doom369 commented on #145
@Ad758 hello. You need to invite that user to your org and only after the invite you can make the transfer.

[2021-06-24 15:42] Ad758 commented on #145
Thanks, they were invited and used the link in the mail, and the transfer was only done after they joined.
![image](https://user-images.githubusercontent.com/71893553/123292450-57427480-d513-11eb-80cd-e1f6f59356b5.png)
They got the mail to confirm that the device had been transferred to their account.

I uninstalled and reinstalled the app, same result.

[2021-06-24 15:52] doom369 commented on #145
@Ad758 please send me your email to dmitriy@blynk.cc I'll check.

[2021-06-24 17:02] doom369 commented on #145
solved in email (permissions were missing for the invited user)

[2021-06-24 17:02] #145 closed, assigned to doom369

[2021-06-25 12:03] srikumarc opened #146 "Website improvement"
1. The Menu structure of the Website needs to be improved. Navigation to Templates and Devices is not very intuitive.
2. Data update is slow on widgets.

[2021-06-25 12:23] doom369 commented on #146
Could you please provide more details?

[2021-06-25 12:29] srikumarc commented on #146
Thanks Dimitry. I am new user of Blynk 2. I have a simple Nodemcu project
for water level monitoring using a ultrasonic sensor.

What I notice is that the web dashboard widgets such as chart and label
takes some time to update change in water level.

On Fri, 25 Jun 2021, 17:53 Dmitriy Dumanskiy, ***@***.***>
wrote:

[2021-06-25 12:34] doom369 commented on #146
@srikumarc all Blynk dashboards updated in real time. If that's not true, most likely you have some issues with your hardware.

[2021-06-25 16:29] Ad758 opened #147 "Timer"
Is there a timer on the new app, to run a scheduled event every day?

I can't find anything in the documentation or in the app. Thanks.

[2021-06-26 07:33] buihuuduc opened #148 "Function Blynk.logEvent() intermittent when I upgrade new firmware from midnight 25 Jun 2021. pls fix it"

[2021-06-26 08:04] doom369 commented on #148
@buihuuduc hello, few more details would be helpful

[2021-06-26 08:09] doom369 commented on #147
@Ad758 hello., it was replaced with automations - https://docs.blynk.io/en/blynk.apps/automations

[2021-06-26 08:09] #147 closed, assigned to nobody

[2021-06-26 09:13] buihuuduc commented on #148
BLYNK_CONNECTED()
{
  //sync TIME
  rtc.begin();
  blynk_connected = true;// update var blynk_connected
  gprs_connected = true;// update var gprs_connected
  Serial.println("[BLYNK] Blynk is connected");
  Blynk.logEvent("mobile_connected", "Mobile is connected") ;
}
The line Blynk.logEvent() not working when I upgrade new firmware from 25/6/21 . Present I test 3 device for 1 template ID. Before

[2021-06-26 09:50] Ad758 commented on #147
Thanks but the Automations are not showing up on the customer’s mobile app, only on my app.

I want to turn on a relay at a set time each day, to run a circulation pump at a customer.

As a service provider I’d like to be able to provide that functionality in the app, but the customer must be able to change the circulation times as he wants, from his mobile app.

I hope we can do this with the new

[2021-06-26 09:52] buihuuduc commented on #148
I just test ESP32 use example Blynk 2.0 for interval every 10s send cmd Blynk.logEvent("interval_10s", "Send from ESP32 every 10S")  to server. But still not working and dissapear in infor item of timeline tab. Thanks all.

[2021-06-26 09:57] doom369 commented on #147
How did you invite your customer?

Yes. But it depends on the way you invited the customer.

[2021-06-26 10:02] Ad758 commented on #147
The device was transferred to them.

Adrian Tromp

Ph: 082 449 5015

Water & Ozone Solutions

 <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Saturday, 26 June 2021 11:57
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***@***.***>; Mention ***@***.***>
Subject: Re: [blynkkk/blynk_Issues] Timer (#147)

Thanks but the Automations are not showing up o

[2021-06-26 10:07] doom369 commented on #148
@buihuuduc we introduced recently some limits for the log events, as some users were sending too much:

- Only 1 event per second per event type is allowed
- You are limited to 100 events per device per day (without online/offline events)

For now, these limits could be removed only for white-label clients.

[2021-06-26 10:16] doom369 commented on #147
@Ad758 automations are created per organization. So if you transferred the device to a sub-organization, you can switch to this sub-organization and create the automation there. The docs are missing right now. I'll update them.

[2021-06-26 10:20] Ad758 commented on #147
Thanks Dmitriy

I only have one organisation – Earthsmart technologies – there are no sub organisations.

Adrian Tromp

Ph: 082 449 5015

Water & Ozone Solutions

 <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Saturday, 26 June 2021 12:16
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***@***.***>; Mention ***@***.***>
Subject: Re: [blynkkk/blynk_

[2021-06-26 11:04] doom369 commented on #147
@Ad758 I see... In that case, that's about permissions like it was in the prev use case:

- Go to the **Settings** in the left menu
- Click on **Roles and Permissions**
- Click on **Organizations** and enable **Create/Edit/Delete/View Automations** permissions

[2021-06-26 11:35] Ad758 commented on #147
Great, thanks, I see it now.

Adrian Tromp

Ph: 082 449 5015

Water & Ozone Solutions

 <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Saturday, 26 June 2021 13:05
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***@***.***>; Mention ***@***.***>
Subject: Re: [blynkkk/blynk_Issues] Timer (#147)

@Ad758 <https://github.com/Ad758>  I see... In that ca

[2021-06-26 12:48] #148 closed, assigned to vshymanskyy

[2021-06-26 12:51] buihuuduc commented on #148
@doom369 thank you.

[2021-06-26 13:19] srikumarc opened #149 "Need Help - Device Offline"
On new BLYNK IOT app:
1. I could create a template and a device.
2. Could flash the code to my Node mcu device.
3. on the App in my mobile phone the new device shows as "offline". How can I flash the network credentials in such situations?
4. On the web app also it shows offline.
5. I can see the local hotspot of the device but when I connect to it the Mobile app it  goes off line and messages tha

[2021-06-26 13:26] doom369 commented on #149
@srikumarc hello, have you checked the docs - https://docs.blynk.io/en/getting-started/activating-devices/blynk-edent-wifi-provisioning#setting-up-your-sketch-to-enable-wifi-provisioning?

[2021-06-26 17:58] Ad758 commented on #147
Where do you set the conditions to send a notification?

I’ve checked permissions…

I don’t see anything like this:

https://docs.blynk.io/en/blynk.apps/automations

Adrian Tromp

Ph: 082 449 5015

Water & Ozone Solutions

 <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Saturday, 26 June 2021 13:05
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***

[2021-06-26 18:01] Ad758 commented on #147
Ignore the last mail, think I found it in advanced settings…

Complicated way to set up a notification though.

Thanks

Adrian Tromp

Ph: 082 449 5015

Water & Ozone Solutions

 <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Saturday, 26 June 2021 13:05
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***@***.***>; Mention ***@***.***>
Subject: Re: [

[2021-06-26 19:16] ChristoTurmel opened #150 "Is it possible to «Mark as resolved» an event on IOS app ?"
Currently, i can't see where on my app to mark an event as resolved except going to the web dashboard. Is it normal ?
![image](https://user-images.githubusercontent.com/31734334/123523437-7bc45b00-d691-11eb-9a43-4393a24777e4.png)

Regards,
Christopher

[2021-06-26 21:00] Peterkn2001 opened #151 "Blynk.setProperty min/max attributes make no sense now datastreams have been introduced"
Previously, the min/max values of app widgets were set via the widget editing screen. This facility has now been removed, and these values are set in the datastream itself.

The `Blynk.setProperty(vPin, "max", value)` command still works, and is included in the documentation, but the way it works is confusing and the min/max attributes should probably be removed from this command.

Take an example

[2021-06-27 06:26] doom369 commented on #150
@ChristoTurmel yes, you need to swipe the required event. left or right, don't rememeber.

[2021-06-27 07:32] doom369 commented on #151
Yeah, agree. Removed min/max from the doc description for now. Thanks!

[2021-06-27 07:32] #151 closed, assigned to nobody

[2021-06-27 15:25] kdharrigan opened #152 "restartMCU(); after network timeout"
If my network goes down,  my esp8266 automatically restarts. is there any way to prevent this?

[2021-06-27 18:06] Peterkn2001 opened #153 "Blynk.setProperty can't be undone from the app"
Tested with iOS app 3.2.0 (2)

**Styled Button Widget**
If `Blynk.setProperty()` is used to set attributes such as background on/off color, on/off text color, on/off text values etc then these values are remembered, and can't be changed from the app.
When you put the app into edit mode an change the widget then the changes appear to be made, but when the app is put into Run mode the changes are fo

[2021-06-28 03:48] srikumarc commented on #149
Thanks. I did everything according to the document. I am now stuck with the problem of activating the device from mobile app.

First Attempt :

The mobile app detects the device during scan and when I select it, goes through the three steps1. Configuring wifi, 2. Reconnecting back to cloud but the third step, The first two steps are fine but with step 3. waiting for device online does not complete

[2021-06-28 05:25] srikumarc commented on #149
Further to the previous message, I tried performing the above steps using my iPhone and it stops at waiting for device online. I tried on two different wifi networks with the same result

[2021-06-28 05:53] buihuuduc opened #154 "Function send Notification and send Email of the Automation not working on account user and staff"
I use automation for sensor input with condition " device A sensor input is less than 100" action Send Notification and send Email, turn off the relay. It is working  well in acc admin, but not in acc user and staff. I use 1 template id and 3 device.

[2021-06-28 06:41] doom369 commented on #154
You are right, for now notifications can receive only the owner/creator of automation. We'll extend this to allow to select all users.

[2021-06-28 06:49] doom369 commented on #149
@srikumarc do you use the latest firmware? Did you provide correct wi-fi settings?

[2021-06-28 06:53] buihuuduc commented on #154
Noted. Thanks for your feedback.

[2021-06-28 07:02] srikumarc commented on #149
yes. I tried three firmwares today and strangely all three were working
fine the day before.

The iphone Blynk app is more user friendly and with that I know that it is
going through the various stages.

1. sometimes it says cant connect to device.
2. sometimes it goes through to getting device info and then says cant
connect to device.
3. and sometimes it goes further and completes wifi configura

[2021-06-28 08:07] srikumarc commented on #149
I forgot to add the following to item 3 in my previous message.....

after waiting for device it quits with the message "configuring error"

On Mon, 28 Jun 2021, 12:32 Sri Kumar, ***@***.***> wrote:

[2021-06-28 08:43] doom369 commented on #149
@srikumarc are you able to view/show the sertial output of the device?

[2021-06-28 09:06] srikumarc commented on #149
Yes, the serial monitor does not always show but after your message I tried
flashed the firmware again.

Thid time it I'd showing upto line -

CONFIGURING = SWITCH_TO_ STA

but the device doesnt connect

best regards

srikumar

On Mon, 28 Jun 2021, 14:14 Dmitriy Dumanskiy, ***@***.***>
wrote:

[2021-06-28 09:12] srikumarc commented on #149
Please see the serial monitor output attached

Srikumar

On Mon, Jun 28, 2021 at 2:36 PM Sri Kumar ***@***.***> wrote:

[2021-06-28 12:18] vshymanskyy commented on #135
Agree, we have an internal ticket for this (but no timeline yet).

[2021-06-28 15:22] srikumarc commented on #149
[Serial monitor output.pdf](https://github.com/blynkkk/blynk_Issues/files/6726818/Serial.monitor.output.pdf)
[Serial monitor output.pdf](https://github.com/blynkkk/blynk_Issues/files/6727412/Serial.monitor.output.pdf)

[2021-06-28 15:39] vshymanskyy commented on #149
1. You should use the latest version of library, not the beta.
2. Check your ESP core version, update to latest if possible.
3. Check if your wifi credentials are correct, and you have good wifi signal (say, 5 meters from the router for this initial test)

[2021-06-29 04:53] buihuuduc opened #155 "Missing Witgets on IPhone6S when I upgrade to PLUS rev not available "PRO Witgets" pls fix"

[2021-06-29 04:59] buihuuduc commented on #155
I had upgrade to PLUS reversion but PRO widgets not available on IP6S. Refer to Blynk Price it have.

[2021-06-29 05:35] srikumarc commented on #149
Thanks volodymyr. I tried the following as per your suggestion.

a. Deleted the Beta libraries and went back to version 1.0.0
b. My ESP core is the latest version
c. My wifi credentials were correct because I tested it just to be sure on
my mobile phone

It did not work with the above changes and the device wouldn't go online
and was getting stuck at the same step as in the serial monitor output I

[2021-06-29 07:14] Ad758 opened #156 "Multiple Dashboards"
Hi, is there a way to see mulitple devices on one dashboard, on the Blynk.cloud desktop site?

As a service provider I would like to be able to monitor sensors from various sites from one dashboard.

Thanks

[2021-06-29 09:02] doom369 commented on #156
@Ad758 hello. At the moment - no. Only one dashboard per one device. However, this feature is planned.

[2021-06-29 09:02] #156 closed, assigned to nobody

[2021-06-29 09:04] doom369 commented on #155
@buihuuduc hello. That's a bug, we already published the app update. Waiting for Apple to review it. Should be available in a day or two. Sorry for inconveniences.

[2021-06-29 16:24] doom369 commented on #152
Please use https://community.blynk.cc/ for this type of questions.

[2021-06-29 16:24] #152 closed, assigned to nobody

[2021-06-29 16:24] doom369 commented on #150
@ChristoTurmel please reopen if it doesn't work.

[2021-06-29 16:24] #150 closed, assigned to eepetrash

[2021-06-29 16:27] doom369 commented on #146
@srikumarc please reopen if you think there is some bug.

[2021-06-29 16:27] #146 closed, assigned to nobody

[2021-06-29 16:28] doom369 commented on #144
@zerg960 added (protoss here :))

[2021-06-29 16:28] #144 closed, assigned to doom369

[2021-06-29 16:29] doom369 commented on #140
@Peterkn2001 fixed. Please reopen if you see it again.

[2021-06-29 16:29] #140 closed, assigned to doom369

[2021-06-29 17:02] doom369 commented on #137
@whogarden should be fixed.

[2021-06-29 17:02] #137 closed, assigned to doom369

[2021-06-29 17:02] #125 closed, assigned to vshymanskyy

[2021-06-29 17:46] nbolton opened #157 "Upgrade flair still shows after subscribing"
I paid for a subscription today, but I still see the icon/button flair for the upgrade call-to-action (this is why I upgraded, to get rid of these... and also to use the controls).

![image](https://user-images.githubusercontent.com/313427/123843871-42e2eb00-d90a-11eb-8871-f51617762089.png)

[2021-06-29 17:59] doom369 commented on #157
@nbolton we released the update with the fix yesterday. Waiting for the apple to review it. Sorry for the inconvenience.

[2021-06-30 03:23] buihuuduc opened #158 "My organization not accept for account user"
Present I tested the functional of the **My organization** have to some problem as following:
1. Account user block login
2. Account staff and admin had login but still not function Notify and email on Automation.
3. My just received notify and email from the **main organization**

[2021-06-30 06:07] srikumarc opened #159 "Deleting a Device causes loss from Account"
I am currently using the free plan and had purchased an additional device on 29th May.  Due to some naming issues, I had to delete the device from the web application. When I tried  adding it again, I am being asked to pay for an additional device. Can you please correct the error? Deleting a device should not result in loss of already purchase credit which is supposed to be for lifetime.

[2021-06-30 06:26] doom369 commented on #159
@srikumarc hello. Thanks for the report. I'll check. Could you please provide your email? What does your billing section shows?

[2021-06-30 06:31] srikumarc commented on #159
***@***.***

On Wed, 30 Jun 2021 at 11:56 AM, Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-06-30 06:31] doom369 commented on #159
@srikumarc you can send me to email dmitriy@blynk.cc

[2021-06-30 06:42] doom369 commented on #159
@srikumarc I checked - looks like it's just a UI issue. Please refresh the page and it should allow you to add the device. We'll fix the UI issue in the meanwhile.

[2021-06-30 06:47] srikumarc commented on #159
Unfortunately No, I refreshed the page and clicked on add a device but it
results in the same credit card payment pop up as below

[image: image.png]

On Wed, Jun 30, 2021 at 12:12 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-06-30 06:49] srikumarc commented on #159
I think your web page should have a provision to show  the membership type
"___" and total devices as "__"

On Wed, Jun 30, 2021 at 12:17 PM Sri Kumar ***@***.***> wrote:

[2021-06-30 06:55] doom369 commented on #158
Could you please provide more details? Do you see some errors? Something else?

Not yet implemented.

Please provide more details about your setup

[2021-06-30 08:51] buihuuduc commented on #158
![login](https://user-images.githubusercontent.com/13497055/123928530-32894980-d9b8-11eb-839b-228591414529.jpg)
**case 1 as picture above**
**case 3**
+ I config my **_Hierarchy is A company_** have two email duc@gmail.com and role Admin
+ _**Sub organization is B_company**_ have email dung@gmail.com role Admin, and 1 email thanh@gmail.com role Admin.
@ When I create project in **A company** and t

[2021-06-30 09:20] kingstonheath opened #160 "invalid auth token - static provisioning when connecting with IP address"
In Blynk V1, I had problems after power failure with my system resolving the blynk-cloud.com address.  I started using the ip address to connect (Blynk.config(auth, "45.55.96.146", 8080);) and all was good.  When I converted to Blynk V2 (static provisioning), I cannot connect to the blynk.cloud server using the ip address - just keeps giving me an invalid auth token message in serial monitor.  Rep

[2021-06-30 09:36] doom369 commented on #160
@kingstonheath do you use the latest blynk firmware? Are you able to check the hardware serial console?

[2021-06-30 09:59] tuvalu22 commented on #157
Seeing exactly the same on my IOS devices after paying 24 hours ago. Hope its ok put this here ?

[2021-06-30 09:59] kingstonheath commented on #160
Thanks for the response.  definitely using firmware V1.0.0 (no beta).  I just did a ping check to blynk.cloud and it returned a different ip address (64.225.16.22).  When I use this ip address, connects no problems.  Has the ip address for my region changed?

[2021-06-30 10:14] doom369 commented on #160
@kingstonheath **45.55.96.146** is Blynk legacy cloud. **blynk.cloud** is new cloud. Why do you expect **45.55.96.146**  to work with the new app/firmware?

[2021-06-30 10:25] doom369 commented on #157
@tuvalu22 hello. Did you check for the new app update? As far as I know the release is already available.

[2021-06-30 10:29] doom369 commented on #157
Unfortunately, the app update was rejected by Apple. We'll try to resubmit the app asap.

[2021-06-30 10:31] kingstonheath commented on #160
No reason why I expected 45.55.96.146 to work - just assumed it would and couldn't find any documentation to the contrary for the new firmware.  Certainly explains why I can't connect with it using the new firmware.  Should I use the ip address returned when I ping blynk.cloud (64.225.16.22)?
Thanks
Steve

[2021-06-30 10:32] tuvalu22 commented on #157
Thanks Dumanskiy. Not a problem

Phil
On 30 Jun 2021, 11:29 +0100, Dmitriy Dumanskiy ***@***.***>, wrote:

[2021-06-30 10:58] doom369 commented on #160
You can use it for testing. However, for reliability, it's better to use host `blynk.cloud`.

Thanks to your report I found a bug in our routing policy. During the ping, you should actually get the `128.199.144.129` (singpore), not `64.225.16.22` (new york). As you are in Australia... At the moment the simplest way to fix the routing would be to remove the account on blynk cloud and create it agai

[2021-06-30 11:13] kingstonheath commented on #160
Thanks Dmitriy.  I have upgraded to the plus plan so don't know whether removing the account is an option.  I have 6 projects active on the new system so I would rather not have to rebuild them.
Steve

[2021-06-30 11:18] doom369 commented on #160
We can move the plan. But yeah, recreating the 6 projects is not a simple task. Ok, we'll leave it as it is for now. Maybe we'll have "transfer to region" functionality at some point

[2021-06-30 11:18] #160 closed, assigned to doom369

[2021-06-30 12:09] kingstonheath commented on #160
Thanks.  So I use the NY address for testing? I suspect the dns resolving issue is with my ISP or my modem so would like to see if using it address resolves if.

Steve

[2021-06-30 12:13] doom369 commented on #160
Yes.

[2021-06-30 14:31] doom369 commented on #158
Log in with your main account, go to settings, "Roles and permissions". Add desired permissions for the User role.

At the moment automation sends emails/pushes to the creator/owner of the automation. We'll improve it and will add more options.

At the moment you may consider using Events instead of Automations.

[2021-06-30 14:46] buihuuduc commented on #158
Thanks @doom369 . Unfortunately I had adjust User Role become to user of the main account **huuduc.electric@gmail.com**. It is account to pay money for Blynk. Present I can not do everything. Can you correct my account to role **Admin**.

[2021-06-30 14:59] buihuuduc commented on #158
@doom369 My Receipt #2553-8754 and Paid June 29, 2021.  Thanks

[2021-06-30 20:05] doom369 commented on #157
@nbolton @tuvalu22 update is published. Please let me know if everything works as expected.

[2021-06-30 20:06] doom369 commented on #155
@buihuuduc should be fixed with the new app update.

[2021-06-30 20:09] tuvalu22 commented on #157
Thanks Dmitriy updated and working ok
Phil
On 30 Jun 2021, 21:06 +0100, Dmitriy Dumanskiy ***@***.***>, wrote:

[2021-07-01 01:52] buihuuduc commented on #158
![image](https://user-images.githubusercontent.com/13497055/124051313-762a9480-da46-11eb-99f5-b4c2b9eb23f4.jpeg)
@doom369 Correct role to Admin as picture pls.
+ In this case if the clients of Blynk had changed user role to user or staff of main account. The web app( Blynk.console) can retore the main account to the role Admin or the define it is role admin when the first register or contact with

[2021-07-01 03:56] #157 closed, assigned to eepetrash

[2021-07-01 03:58] doom369 commented on #158
@buihuuduc changed.

[2021-07-01 05:52] buihuuduc commented on #158
@doom369 Thanks.

[2021-07-01 06:37] MagnusKihlbaum opened #161 "Super chart is crashing the Android Blynk IoT app"
Added a super chart in the android app (v1.1.5 (36)) and the app is now crashing. Tried to clear app cache and data without luck

[2021-07-01 09:02] #155 closed, assigned to buihuuduc, eepetrash

[2021-07-01 09:51] werpret opened #162 "data not displaying"
Good day
Have been working on my first new blynk project and all was working well and then suddenly some or most of my data is not displaying on my Ipone 6plus.

[2021-07-01 09:53] nbolton commented on #157
Confirmed fixed here too 👍

[2021-07-01 10:28] doom369 commented on #162
@werpret did you change anything on the firmware? Do you use the latest app version? Could you please send us the logs? It's hard to know what the problem is without more details.

[2021-07-01 10:32] doom369 commented on #161
@alexkipar have you published the build with the fix already?

[2021-07-01 10:37] alexkipar commented on #161
Bugfix will be available soon, possibly in 3-4 hours or later depending on Play store review duration

[2021-07-01 10:40] srikumarc commented on #159
The additional device that I had purchased is not restored yet.

[2021-07-01 10:40] werpret commented on #162
Thanks I am at work now and will send it on later.

[2021-07-01 10:42] werpret commented on #162
and yes i am using latest app version and did not change any firmware.

[2021-07-01 10:43] alexkipar commented on #161
@MagnusKihlbaum, the new app's version should be already available

[2021-07-01 11:31] doom369 commented on #159
@srikumarc we are preparing a deployment in order to fix your issue.

[2021-07-01 12:01] MagnusKihlbaum commented on #161
Tested new version (1.1.6 (37)) and the SuperChart is no longer crashing the app. However it's not possible to add Datastreams to the Superchart

[2021-07-01 12:14] srikumarc commented on #159
thanks

[2021-07-01 12:49] kingstonheath opened #163 "Template image won't display"
Hi,
I had uploaded template images (photos) for each of my templates but today they all display the broken image error.  When I try to upload again, I get the "uploading file" message but the image won't display.  Only thing that has happened in the last 24 hrs was highlighting an issue with the server routing policy (I was being routed to NY rather than Singapore - I am in Australia).  Not sure w

[2021-07-01 13:19] doom369 commented on #163
@kingstonheath thanks for the report. I know where the trouble is.

[2021-07-01 16:50] alexkipar commented on #161
You should be able to add at least one datastream in free plan. Is the button disabled?

[2021-07-01 21:06] Tutnetdebilov opened #164 "Widgets Blynk IoT"
Hello! There is no vidget "Time input" in the new app while everybody needs it. When can we expect it will be fixed? In the vidget "slider" I see no value in digits please fix it. In the vidget "SuperChart" the colour of the values in the left should be changed because now its the same as the diagram and you see nothing. Thank you! Kind regards!
![Screenshot_20210701_230517](https://user-images.gi

[2021-07-02 04:12] doom369 commented on #164
Hello.

Yes. You can use automations instead - https://docs.blynk.io/en/blynk.apps/automations. They are not fully replacing the Time Input. But we gonna improve that.

@blynkkk

@alexkipar please take a look.

[2021-07-02 09:13] MagnusKihlbaum commented on #161
Not possible to add any datastream to the Superchart. The Datastream section shows "+ Add Datastream" in green text . When 'clicked' nothing happens.

[2021-07-02 09:48] kingstonheath opened #165 "Flashing transition between images"
I have seen an issue raised relating to jerky video so not sure whether this is related.  I am using a series of static images with short delays between (2 secs) to simulate a door opening.  In Blynk V1, the transition was very smooth.  In Blynk V2, the image flashes between each transition (ie a short period where no image is displayed).

[2021-07-02 13:00] alexkipar commented on #161
@MagnusKihlbaum yes, reproduced this state. We will upload a new version on Monday or Tuesday - it will contain a fix

[2021-07-03 05:35] #158 closed, assigned to nobody

[2021-07-03 08:46] doom369 commented on #165
@kingstonheath hello is that android or ios or both?

[2021-07-03 08:47] doom369 commented on #162
@werpret do yu have any updates?

[2021-07-03 08:47] #159 closed, assigned to doom369

[2021-07-03 08:50] #85 closed

[2021-07-03 10:02] kingstonheath commented on #165
Apologies - android

[2021-07-03 12:36] alexkipar commented on #165
@kingstonheath why not use the image gallery widget and change its value to switch between images list?

If this is a video stream - we are switching to another more stable video streaming support, not sure we can somehow change this behavior. Can you provide details about your video stream: which format is used? RTSP or not? Motion JPEG inside or what?

[2021-07-03 13:29] kingstonheath commented on #165
Thanks for your response.  This is not a video.  I am using the image gallery widget.  I don't understand you comment "why not use the image gallery widget and change its value to switch between images list?"  Where is this value?

Steve

[2021-07-03 14:06] Selah50 opened #166 "Numeric input widget"
When directly entering a value in the app on a numeric input widget, the value stays within the datastream min/max values.  If the + or - buttons are used on the widget, it is possible to enter a number that is outside of the min/max values for that datastream.

[2021-07-03 15:50] alexkipar commented on #165
@kingstonheath I thought the comment about jerky video was about showing images via motion jpeg in video widget. Ok, got the issue. Next week will be a new build so I think it will contain a fix to this issue.

[2021-07-03 15:51] Tutnetdebilov commented on #164
I need the timer to keep running if the device goes offline

[2021-07-03 19:09] MarcoFilimon opened #167 "Moving widgets between tabs"
The bug I found:

- Problem: I have 4 tabs and trying to move some widgets between them. It takes a lot of time because it keeps selecting the last one, for some reason. The 2 in-between are really hard to get in. Sadly I can show it, because I would have to do a video.
  Also, the datastream disappears. I have to set it again
- OS : Android

Edit: Ok, the datastream doesn’t always disappears. Its

[2021-07-04 06:46] Tarun75 commented on #62
Is the micro python or python library for Blynk 2.0 now available.

[2021-07-04 12:15] doom369 commented on #167
@alexkipar please take a look.

[2021-07-04 12:48] alexkipar commented on #167
@MarcoFilimon
How large are texts in the tabs? How many letters/symbols in the second one?

On the datastream issue - is it possible that this swipe results in the duplicate option, which is available above tabs in left half of the topbar?

[2021-07-04 15:18] PeterUrbanGreens opened #168 "Can't see multiple datastreams in one graph on cloud dashboard"
It seems the cloud dashboard graph is only showing the first datastream that is selected in the dashboard template. This was working before but suddenly my grpahs have changed to only show datastream, while the others are still there in the template.

Moving another datstream to the top of the list in de template does also change the datastream in the actual dashboard.

[2021-07-04 15:38] MarcoFilimon commented on #167
I have 4 tabs, in this order:

- Monitoring
- Irrigation Control
- Light Control
- Charts

I've renamed the middle ones , by deleting the * Control * word to make them smaller, the problem persists.

The datastream issue might be my fault. I tried again a few times and it stays.  Only when I duplicate it, it disappears, which its ok.

On another note, sometimes the template its getting stuck, when

[2021-07-04 21:15] wjcloudy opened #169 "Blynk IOT - Location Widget on android will not save switch to satellite mode"
Blynk IOT - Location Widget on android cannot switch to satellite mode. You can change the switch, but it always resets back to map mode.
Also (perhaps relation) the web dashboard map widget settings menu refuses to open.

[2021-07-05 06:47] doom369 commented on #169
Android or ios?

This one is fixed. Will be deployed soon.

[2021-07-05 07:33] wjcloudy commented on #169
Thanks - Android

[2021-07-05 08:41] PeterUrbanGreens opened #170 "No data to download when generating report"
After my controller crashed I want to troubleshoot and download data from my now offline device. I'm logged in and can see the historic data in the graphs on my dashboard.

When I run a report for the last 24 hours on teh device page, trying to download raw data, the report generation starts, but it states there is no data. Yet there is clearly historic data in the graphs.

In the past I did do th

[2021-07-05 09:07] doom369 commented on #170
@PeterUrbanGreens maybe the data in the chart is aggregated data. Please try to download aggregated data from the report.

[2021-07-05 09:20] PeterUrbanGreens commented on #170
Aah, yeah. That solves it. Thanks, sorry I did not try.

I assumed RAW data would be stored by default but just found the option on the datastream.

[2021-07-05 09:20] #170 closed, assigned to nobody

[2021-07-05 09:32] doom369 commented on #170
It's not. In most cases 1 minute is enough, so that's why raw should be set explicitly. Also, this "raw" part will be restricted by plans.

[2021-07-05 14:57] blynkkk commented on #164
use the value label widget with the same datastream as slider and place it anywhere to show the slider value.

[2021-07-05 17:30] Tutnetdebilov commented on #164
is it a temporary solution or will it remain so?

[2021-07-05 17:36] alexkipar commented on #164
@Tutnetdebilov, it will remain; such implementation provides better options for configuration.

[2021-07-05 18:08] Tutnetdebilov commented on #164
@alexkipar, while moving the slider - I don't know what value it is on ...
The old version of Blynk had a "show value" button and it was convenient. I will become more and more disappointed...

[2021-07-05 18:11] alexkipar commented on #164
@Tutnetdebilov
1. Add additional value display or labeled display widget
2. Configure it with the same datastream
3. Set up it's UI options like font size, etc
4. Now moving the slider will show the value in that display widget with better UI than previous small text

[2021-07-05 18:23] Tutnetdebilov commented on #164
@alexkipar, я извиняюсь, мне сложно на английском объяснить. Значения показывает только когда отпускаешь слайдер, а во время движения - не понятно на сколько переместил.

[2021-07-05 18:25] alexkipar commented on #164
@Tutnetdebilov в настройках слайдера есть опция - отправлять значение сразу или же после того, как бегунок будет отпущен. Поменяйте эту настройку и получите желаемое поведение

[2021-07-05 18:36] Tutnetdebilov commented on #164
@alexkipar но в таком случае на контроллер постоянно будут передаваться новые значения, a не только после того, как выставишь новое нужное значение и только тогда оно отправится на контроллер.
Мне не очень понятно зачем было вырезать всякие нужные функции, которые замечательно работали, а потом использовать какие-то костыли. Я заплатил за год Plus и до сих пор не могу полноценно использовать свое

[2021-07-05 21:29] blynkkk commented on #164
Было принято решение сделать более атомарный GUI. Ваше предложение мы услышали и подумаем что можно сделать. Правда в ближайшее время это изменение не будет сделано в связи с более приоритетными задачами.

Если вам не подходит новая платформа, мы можем вернуть деньги. Напишите на iot@blynk.cc детали вашего аккаунта.

[2021-07-05 21:29] #164 closed, assigned to alexkipar, blynkkk

[2021-07-05 21:55] Tutnetdebilov commented on #164
@blynkkk, спасибо за предложение. Почему бы просто дополнить существующий рабочий проект  новыми функциями, интерфейсом? Зачем вырезать?
Я перешел на новую версию из-за веб интерфейса, что для меня было очень важно и интересно в дальнейшем.  Ну и новое оформление мне больше понравилось.
Я посмотрел на ваши презентации и мне очень понравилась новая версия!
Я планирую некое производство устройств, к

[2021-07-06 04:15] werpret commented on #162
I have the similar problem as #168  ,when I go into my template settings and select "erase all device data" and confirm "delete"
all goes back to normal. So I am not sure if its todo with the amount of data send to cloud, I am sending two ds18b20 at lowest resolution every 15 seconds and ADC value for water pump pressure every second and this works for about a day and then the same happens.
Thanks

[2021-07-06 07:08] doom369 commented on #168
Multiple datastreams per graph is now available only for paid plans.

[2021-07-06 07:10] doom369 commented on #162
@werpret Could you please send us logs when you see "no data is displayed"?

[2021-07-06 07:15] PeterUrbanGreens commented on #168
But I do have a paid (Plus) plan. So why would this not work?

[2021-07-06 07:20] doom369 commented on #168
Could be a bug.
@alexkipar please advise.

[2021-07-06 09:13] alexkipar commented on #168
@PeterUrbanGreens is this Android or ios. Which version?

[2021-07-06 09:19] PeterUrbanGreens commented on #168
@alexkipar, for now I am only using the web interface.

![actual dashboard](https://user-images.githubusercontent.com/86922065/124575851-6cdd6580-de54-11eb-91b3-65c3dd2293b2.PNG)
![dashboard config](https://user-images.githubusercontent.com/86922065/124575860-6ea72900-de54-11eb-88ea-539a42be9b35.PNG)

[2021-07-06 09:23] doom369 commented on #168
@PeterUrbanGreens do you have data for those DS? Please tell me your email I'll check.

[2021-07-06 09:34] PeterUrbanGreens commented on #168
@doom369 I do have data. When I change the order of the datastreams in the template and put another one top, it shows the one on top. And when I generate a report I can see the values come through. And the data is used on tiles as well so pretty sure a klack of data is not the problem.

Nevertheless, my email is p

See tiles for the data coming through:
![dashboard tiles](https://user-images.githu

[2021-07-06 09:40] doom369 commented on #168
@PeterUrbanGreens I think you're looking into the wrong dasbhoard. You need to open the device dashboard, not template dashboard. I see your data without any issues:

![screenshot-ny3 blynk cloud-2021 07 06-12_54_09](https://user-images.githubusercontent.com/1536494/124580957-4cfc7080-de59-11eb-9670-b2af70cbb854.png)

Also, please try to refresh the page + clean the cache. Does that help?

[2021-07-06 10:10] PeterUrbanGreens commented on #168
This seems to be the problem. It must have been from when my trial ended and took me a day to pay for a paid plan. When clearing cache (and web data) or opening in another browser or private window, it is indeed working.

Thanks for the assistance!

[2021-07-06 10:10] #168 closed, assigned to doom369, PeterUrbanGreens

[2021-07-06 15:28] Mark-Pan commented on #166
Please specify: Android or iOS app?

[2021-07-06 15:31] Selah50 commented on #166
This issue is on Android

[2021-07-06 15:43] Mark-Pan commented on #166
Can't reproduce the issue.
Provide web Datastream settings and app Widget settings screenshots and app log please.

[2021-07-06 15:54] Selah50 commented on #166
I am unable as well to recreate this issue now.  I have another issue I am going to post with video that is similar to this issue though

[2021-07-06 16:55] Selah50 opened #171 "Units do not match datastream setting"
Issue 1: I have 2 datastreams that are set to Fahrenheit. Yesterday, they started displaying in Celsius.
Issue 2: The numeric input widget that is displaying Celsius and not Fahrenheit is accepting an input that is above/below the min/max settings for its datastream when using the + and - increment buttons.

Video: https://photos.app.goo.gl/LeZde31q3W1zgcYX8

This issue is on android
[samsung_SM_G

[2021-07-06 17:04] doom369 commented on #171
Could you please clarify - do you mean they show converted values in the widget or they just show the wrong suffix?

@alexkipar Please take a look.

[2021-07-06 17:07] alexkipar commented on #171
@doom369 "unitSystem":"METRIC" in the profile.settings, and also datastreams returned by the server (in get device dashboard command) are using Celcius units

[2021-07-06 17:11] Selah50 commented on #171
It appears that it is just displaying the wrong suffix.

[2021-07-06 17:20] doom369 commented on #171
@alexkipar Why do we allow that in the app? It should be hidden until it's fully implemented. The default value should be null.

Yes, because it's a metric system. Response is correct.

[2021-07-06 17:22] alexkipar commented on #171
@doom369 it is definitely disabled in settings, while the value is Metric

[2021-07-06 17:23] doom369 commented on #171
@alexkipar that could be set only from the mobile...

[2021-07-06 17:23] doom369 commented on #171
@alexkipar that could be set only from the mobile...

[2021-07-06 17:24] alexkipar commented on #171
@doom369 it can't be set from the app

[2021-07-06 17:37] alexkipar commented on #171
@Selah50 till the end of the week, we will have a small bugfix update; I suppose this issue will be fixed.

[2021-07-07 04:47] JAndrassy commented on #106
@vshymanskyy I saw that the fix was commenting out `BLYNK_CONSOLE_USE_LAMBDAS`. but now it is not commented out in master
EDIT: I see the header is now used only in examples for boards with 'functional'

[2021-07-07 06:50] vshymanskyy commented on #106
It was fixed by different means.

On Wed, Jul 7, 2021, 7:47 AM Juraj Andrássy ***@***.***>
wrote:

[2021-07-07 09:13] JAndrassy commented on #106
yes, I see, but I would like to try OTA to Arduino Mega for example with WiFi101 shield  and then I will have the error

[2021-07-07 10:16] vshymanskyy commented on #106
We do not support OTA for Arduino Mega.

On Wed, Jul 7, 2021, 12:14 PM Juraj Andrássy ***@***.***>
wrote:

[2021-07-07 11:46] JAndrassy commented on #106
your MKR examples use my ArduinoOTA library and that supports classic ATmega with at lest 64kB flash and Optiboot from MegaCore, so the MKR1000 example would work for Mega with WiFi101 shield (Adafruit WINC1500 WiFi Shield)

[2021-07-07 11:59] vshymanskyy commented on #106
You can try, but i doubt it will work without tweaking or some black magic.

On Wed, Jul 7, 2021, 2:46 PM Juraj Andrássy ***@***.***>
wrote:

[2021-07-07 14:45] blynkkk opened #172 "Update particle library"
https://community.blynk.cc/t/particle-photon-showing-offline-using-new-blynk/54807/3

[code]

[2021-07-08 02:43] ChristoTurmel opened #173 "Roles and Permissions management absent from free plan"
I am trying to find the option to change rules for the user group and staff group. As I can see on the plan-comparison webpage, there is no option to change that. The problem is my account still use my old settings when the pro plan was free. Is it normal that i can't change those settings with my free plan ?

Best regards,
Christopher

[2021-07-08 06:41] doom369 commented on #173
@ChristoTurmel hello. Yes. Permissions editing are not available under the Free plan. You can only use the default setup.

[2021-07-08 11:11] ChristoTurmel commented on #173
Is it normal that the staff roll can only view organisation devices and user roll can only view Owners devices like i set when pro was free ?

[2021-07-08 11:51] OleksandrGora opened #174 "Issuies with Super chart on App"
Everything concerns App version.
When you launch the app, Superchart always stars showing Live data (unlike the previous version of the app which remembered your period choice. In my opinion, it was better).
After launching the app (when Live data is chosen by default) if you roll up Superchart on full screen you can see only Live data. Changing period does not help, always "No data yet" (or "No d

[2021-07-08 11:59] doom369 commented on #174
@OleksandrGora hello. Android/ios?

[2021-07-08 12:01] OleksandrGora commented on #174
Android.

[2021-07-08 13:26] alexkipar commented on #174
@OleksandrGora is it Blynk IoT app, latest version?

[2021-07-08 13:28] alexkipar commented on #167
Got it - we will investigate this issue. Try next time just tap on the dashboard - will it be able to scroll again? Probably it is enabled resize mode.

[2021-07-08 13:37] OleksandrGora commented on #174
Yes, it is.

[2021-07-08 14:44] alexkipar commented on #174
@OleksandrGora yep, we do not persist the period selection across app's launches, but it should be persisted in runtime. I will check the issue with fullscreen not working selection. On the persisting selection across app launch and full close - we will probably implement it later.

[2021-07-09 00:41] thorathome commented on #174
Another SuperChart issue...
I have multiple Devices on the same Template. When I create multiple Tiles for these Devices, I usually put in a SuperChart. However, these SuperCharts in different Tiles ALL duplicate the same chart title and other behaviors. This is unexpected.

For example: I have multiple temperature sensors on the same 'Temperature Sensor' Template. They all measure different thing

[2021-07-09 07:32] rmznsy commented on #120
@doom369 For my product, I use a terminal widget. When will it be implemented? I would be very happy if you prioritize this.

Thanks in advance.

[2021-07-09 08:06] doom369 commented on #120
@rmznsy it's in our roadmap. It' not hard to implement we just to do that in the most efficient way.

[2021-07-09 09:39] alexkipar commented on #174
@thorathome

The template dashboard setup is same for all the devices within this template, it is the intended behavior. If you have several different devices with some differences in their data or logic - you need to create a separate template for each different device.

[2021-07-09 13:59] thorathome commented on #174
Very helpful and clear response. Thanks.

To move a device from one template to a new template, I had to delete the device, then create a new device linked to the new template. Is there a smoother way to move a device from one template to another?
Thanks again.

[2021-07-09 14:05] alexkipar commented on #174
@thorathome, unfortunately, there is no other way currently.

[2021-07-09 14:15] blynkkk commented on #174
Do we understand correctly that you have multiple identical sensors (devices), but due to a different use-cases, charts should be renamed by the end-user.

For example: i have 2 of your sensors.
1. Is set up as indoor and chart should be name Indoor Temp
2. Is set up as outdoor and chart should be named Outdoor Temp

However, both of the sensors operate on the same firmware.

Is that correct?

[2021-07-09 14:16] thorathome opened #175 "Error parsing number message on Android"
I am running on Win 10, iOS and on Android. (Android 11 on Google Pixel 3a XL)

I have 6 different devices, all on different templates.

* When I add a widget - I have tried Value Display and LED - to one of my larger tiles on iOS, **it works as expected on iOS**, but causes an "Error parsing number" error message on Android when I try to open the tile. When I remove the new widget in iOS, the And

[2021-07-09 14:23] doom369 commented on #175
@thorathome could you please send the log right after you see the error it could speed up investigating?

[2021-07-09 14:31] alexkipar commented on #175
@thorathome please send logs from Android apps About screen

[2021-07-09 14:37] thorathome opened #176 "LED color setting (from sketch) problems"
Hi.  I use Blynk LED widgets, blinking them on and off using a timer to show a heartbeat from my devices.

[code]

I observe that the LED widgets do not operate consistently, often start working only when I manually set the LED color from the tile, but not always. This applies to "color", "label", and value. I see this behavior on iOS and on Android. Sometimes they work, sometimes they do not. Whe

[2021-07-09 14:42] alexkipar commented on #176
@thorathome Do you have a V29 data stream on the webdash in the template of this device? Which value type is it using?

[2021-07-09 14:55] thorathome commented on #176
Yes, thanks, I do.

The web dash widget was initially set as a Label. I also tried setting it as a Slider. Either way, the correct values show on the web.

Suggestions?

[2021-07-09 17:19] mike1964Blynk commented on #171
Same issue, Template set to "Fahrenheit",  Mobile Dashboard shows Celsius ("C"). will wait for the update.

Thanks,
Mike

[2021-07-09 18:00] doom369 commented on #171
@alexkipar have you released the update?

[2021-07-09 18:18] alexkipar commented on #171
Not yet, this issue will be fixed in next build it will be available on weekend

[2021-07-09 19:54] thorathome commented on #174
I'm thinking that the Admin would set up the Tiles to reflect the use cases for the end-users.

Your use case is correct. One Tile has a SuperChart called Indoor Temperature. The other should be called Outdoor Temperature. I would expect an Admin to set this up. Two tiles, two devices, one template.

It may get more interesting when the two temperature sensors have vastly different ranges. In my c

[2021-07-09 20:02] thorathome commented on #175
Sent.

[2021-07-09 20:03] alexkipar commented on #175
@thorathome thanks!

[2021-07-09 20:47] thorathome opened #177 "Not seeing BLYNK_APP_CONNECTED and BLYNK_APP_DISCONNECTED on iOS and Android"
Hi Blynk.

I am not seeing any calls to `BLYNK_APP_CONNECTED() `or `BLYNK_APP_DISCONNECTED()` using Android and iOS mobile apps.
`BLYNK_CONNECTED()` works wonderfully, by the way.

I rely on `BLYNK_APP_DIS/CONNECTED` primarily to initialize widget colors and labels, and have been using `BLYNK_APP_CONNECTED()` for years on old Blynk.
Neither seems to be getting called now no matter what I do on the

[2021-07-10 05:58] doom369 commented on #177
Hello. These handlers were removed as they were rarely used. You can implement your logic within `BLYNK_CONNECTED`, or you can use syncVirtual to fetch the state and decide whenever you want or not send somehting.

[2021-07-10 13:07] TejRajAdhikari97 opened #178 "fatal error: functional: No such file or directory"
I have a problem when compiling projects with Blynk version 1.0.0. board Arduino UNO
But when I use lower than version 1.0.0 i.e beta3 etc then this fatal error not showing and at that only show an ERROR of "no matching function for call to 'BlynkStream::begin(char [33], HardwareSerial&)'" and some program complies after using a lower version of blynk and some show no function matching as above. I

[2021-07-10 13:19] TejRajAdhikari97 commented on #106
I am using this library as mentioned above but showing BlynkSimpleStream.h: No such file or directory
What to do now
in another_ program no matching function for call to 'BlynkStream::begin(char [33], HardwareSerial&)'

help me to solve this. I am beginner

[2021-07-10 13:25] doom369 commented on #178
@TejRajAdhikari97 hello, you need to take the latest library version from the github - https://github.com/blynkkk/blynk_Issues/issues/106

[2021-07-10 13:25] #178 closed, assigned to nobody

[2021-07-10 17:53] ilya7zz opened #179 "Site profile, time zone, Moscow."
Error in the time zone for Moscow. Moscow uses UTC +3:00
<img width="501" alt="Снимок экрана 2021-07-10 в 20 49 47" src="https://user-images.githubusercontent.com/53345402/125172171-cdf09a80-e1c0-11eb-8c41-fa28f8520fe9.png">

[2021-07-10 22:25] Philwzen opened #180 "no menus in app!"
logon to app, but no developermode icon, no icons execpt account related. web portal looks fine. cannot accesss anything from mobile app. tried both latest and legacy.  if it worked it would be very usefull but as it is no. is this a joke!!?

[2021-07-11 04:20] doom369 commented on #180
Hello. Did you switch to the sub-organization? Please check - https://docs.blynk.io/en/getting-started/developer-mode

[2021-07-11 12:19] doom369 commented on #179
@ilya7zz thanks for the report. It's just a UI issue. Shouldn't cause any troubles. We'll fix it anyway.

[2021-07-11 12:21] #177 closed, assigned to nobody

[2021-07-11 12:23] doom369 commented on #173
If permissions were changed - that's correct.

[2021-07-11 12:23] #173 closed, assigned to nobody

[2021-07-11 12:48] alexkipar commented on #176
@thorathome what's the setup of your datastream: it's min/max and type?

[2021-07-11 21:30] thorathome commented on #176
It's set up as an Integer 0-255.

One thing I have noticed... I have 14 Datastreams numbered 1-4 and 6-15. I deleted number 5 after initially creating them, then added the last one numbered 15, also the same Datastream we are writing about. So we have a gap in Datastream IDs, number 5, and a last Datastream added, number 15.

I also notice that when I add any widget for Datastream 15, Integer -255

[2021-07-11 21:34] alexkipar commented on #176
@thorathome, We had found the cause for that parsing error, looks like you had some set property call on that datastream in the wrong format. Soon it will be fixed.

[2021-07-12 20:43] rmznsy opened #181 "Android app loading screen is strange"
There is an error in the loading image when you put the application in the background while on the device page and then enter the application again.

Blynk IoT App v1.1.8
Galaxy S10e

![Screenshot_20210712-233401_Blynk IoT.jpg](https://user-images.githubusercontent.com/81516108/125353214-eb616800-e36a-11eb-81a4-40cd6f7b87e3.jpg)

[2021-07-13 07:11] whogarden commented on #85
.csv files always have commas.

[2021-07-13 09:38] rmznsy opened #182 "Android App. The information page is displayed instead of the timeline."
When I click on a card from the notifications tab, the timeline tab is selected on the page that opens, but the information page is displayed.

Blynk IoT v1.1.8
Android App
Galaxy s10e

![Screenshot_20210713-123023_Blynk IoT (1)](https://user-images.githubusercontent.com/81516108/125429350-180b4dd1-2d04-4f42-9fe8-9a7bde95eb0f.jpg)

[2021-07-13 13:50] hms-11 commented on #165
Hello @alexkipar  I have a similar issue involving a program that previously worked on "old" Blynk but now has this issue, among others in Blynk2.0.

Should I create a new issue with details or explain my problem in here? When is the new build being released? If it contains the fix this will be a non issue for me.

[2021-07-13 15:21] alexkipar commented on #169
@jameswarner62 should be fixed in yesterday update

[2021-07-13 15:34] doom369 commented on #169
@alexkipar let's close by default and reopen if reproduced.

[2021-07-13 15:34] #169 closed, assigned to alexkipar, wjcloudy

[2021-07-13 15:35] doom369 commented on #180
@Philwzen please reopen if you can provide more info. right now it's not clear what the problem is.

[2021-07-13 15:35] #180 closed, assigned to nobody

[2021-07-13 15:36] doom369 commented on #179
@ilya7zz should be fixed now. Please refresh the web browser to get the latest version.

[2021-07-13 15:36] #179 closed, assigned to doom369

[2021-07-13 15:36] doom369 commented on #175
@thorathome should be fixed now. You'll need to update the app. Please reopen if it's not fixed

[2021-07-13 15:36] #175 closed, assigned to alexkipar, doom369

[2021-07-13 15:39] doom369 commented on #171
@Selah50 @mike1964Blynk should be fixed with the latest app. Please reopen if not fixed.

[2021-07-13 15:39] #171 closed, assigned to alexkipar, doom369

[2021-07-13 15:40] doom369 commented on #162
@werpret do you still see the issue?

[2021-07-13 15:44] mike1964Blynk commented on #171
Confirmed, Thank you, Sent from my Galaxy
-------- Original message --------From: Dmitriy Dumanskiy ***@***.***> Date: 7/13/21  11:40 AM  (GMT-05:00) To: blynkkk/blynk_Issues ***@***.***> Cc: mike1964Blynk ***@***.***>, Mention ***@***.***> Subject: Re: [blynkkk/blynk_Issues] Units do not match datastream setting (#171)
@Selah50 @mike1964Blynk should be fixed with the latest app. Please reopen if

[2021-07-13 16:09] wjcloudy commented on #169
Can confirm android map switch bug and the settings menu on web are both fixed - Thankyou!

[2021-07-13 17:19] thorathome commented on #176
Thanks for fixing this. The Blynk 2.0 System is getting more reliable day by day.
I am submitting another Issue on Android LED behavior...

Thanks, all.  Enjoying the power of the new Blynk server-side logic.

[2021-07-13 17:41] thorathome opened #183 "LED color behavior on Android"
Hi Blynk.
I am running on iOS (iPad) and on Android (Google Pixel 3a XL + Android 11).

LED widgets on iOS are working well now. Android still having problems with "color".

Using `Blynk.setProperty` with "color" works on iOS, not on my Android.
With Android, it appears that I need to manually set the LED color at the mobile app for it to respond to the
`Blynk.setProperty ( ..., "color"` ... comma

[2021-07-13 19:31] hms-11 commented on #165
@alexkipar I've got a workaround, if not an outright fix.
Blynk.setProperty seems to be far more responsive/sensitive in Blynk2.0 in comparison to the old one.
I had issues with flickering when the program was running a set property command as a regularly occuring function but when I added a boolean flag to check if the pointed URL was changed or not and only ran Blynk.setProperty if there was an

[2021-07-13 19:33] alexkipar commented on #183
@thorathome can you provide examples of color values sent to the led, maybe it is smth connected to their format

[2021-07-13 20:31] alexkipar commented on #165
@hms-11 I suppose the next build will fix this issue; I hope it will be ready on Tuesday or Friday, depending on the Play Store review duration. First, I'll check the cache clearing code; it should clear the cache when the set property call has been used.

[2021-07-13 20:32] thorathome commented on #183
Yes.
The screenshots you saw use
- "color" = "#23C48E" `Blynk.setProperty ( Vx, "color", "#23C48E" ); `
- value = 150 or 0  `Blynk.virtualWrite ( Vx, 150 ); `or `Blynk.virtualWrite ( Vx, 150 ); `
- datastream min/max of 0/255

LED widget "color" works as expected on iOS 14.6 on iPad, not on Android 11.

FYI, the `setProperty ... "label" `functions appears to work on both iOS and Android.

[2021-07-13 20:45] hms-11 commented on #165
@alexkipar
Yeah the cache clearing is an issue I had with "old" Blynk as well, so it could potentially be sloppy coding on my part.
Basically, I have a program where an ESP32CAM takes a photo, and uploads it to an FTP server to be available for the Blynk Image Gallery Widget. To keep folder sizes down, my original plan was to simply overwrite the image each time, and use set property to flush the

[2021-07-13 22:28] alexkipar commented on #165
@hms-11, can you send logs from the app (the about screen - send logs) - old blynk and the new one uses the same code for cache clearing; maybe it is another issue.

[2021-07-14 02:19] hms-11 commented on #165
@alexkipar, I think my code may in fact have been the problem and that I was just getting lucky with old Blynk. I have a working solution now that seems to function very well, no flickering, successful cache clearing and all seems well. Originally (old Blynk) my program was rearranging the image order in the app with the setProperty function which worked with my code but would sometimes cause rand

[2021-07-14 12:52] #172 closed, assigned to vshymanskyy

[2021-07-14 12:52] vshymanskyy commented on #172
Library is on the latest version and behaves correctly

[2021-07-14 14:47] OleksandrGora commented on #174
@alexkipar, this bug has been eliminated:

Thanks.

But this one has not:

[2021-07-14 14:48] alexkipar commented on #174
@OleksandrGora can you send logs once more

[2021-07-14 14:52] OleksandrGora commented on #174
Are there logs in the App?

[2021-07-14 15:16] OleksandrGora commented on #174
https://user-images.githubusercontent.com/85741797/125646631-0bf3ec8b-df09-4252-a9b3-f9ae868fd8f4.mp4

Launching the app is shown on video. It has not been shown a moment when you change the period before setting full screen mode. But be sure: everything works properly then.

[2021-07-14 17:40] alexkipar commented on #174
on the about screen there is an option to send logs, click on it and select gmail app - file with the logs will be attached to the email, as well as recipient email.

[2021-07-15 07:23] OleksandrGora commented on #174
@alexkipar Sent.

[2021-07-15 10:28] alexkipar commented on #174
@OleksandrGora thanks, seems it is too small. Can you reproduce this issue and send the log again later?

[2021-07-15 10:29] alexkipar commented on #166
@Selah50 have you tried to click the send button on the keyboard after editing the value?

[2021-07-15 10:29] alexkipar commented on #166
Please provide your device model and Android OS version

[2021-07-15 10:47] OleksandrGora commented on #174
@alexkipar Reproduced. Sent.

[2021-07-15 11:28] alexkipar commented on #174
@OleksandrGora thanks, I see now the cause of the issue, looks like the next version will contain a fix to this issue.

[2021-07-15 12:12] alexkipar commented on #183
@thorathome it seems we fixed the issue on our side, I suppose we will upload a new version tomorrow or the day after tomorrow

[2021-07-15 14:20] zaczamo opened #184 "Event Notifications Issue"
I have been using the Log Event and Get Notifications feature.  I can get it to work as described initially, but after a few days,  it stops sending notifications and does not log them on the time line.

[2021-07-15 15:18] whogarden opened #185 "More than one device on the same mobile dashboard."
It's what I have done with the previous Blynk : version=0.6.1
Please follow that link :  https://1drv.ms/u/s!AumeH7O_5gYEquZX01DLlWEHStA5ZA?e=YjWHEe
In that Blynk project  there are 8 roller shutters driven by 4 ESP01.
On the same mobile dashboard, I have put 8 buttons to open them + 8 buttons to close them.
![Blynk_Project2_PhoneNC](https://user-images.githubusercontent.com/16666934/125811580-30d

[2021-07-15 15:39] thorathome commented on #183
I am pleased and impressed with the constant progress, will watch for a new Android app.
Thanks.

[2021-07-15 15:59] doom369 commented on #185
@whogarden no. In blynk 2.0 you'll have 4 tiles with 2 led and buttons each.

[2021-07-15 16:04] doom369 commented on #184
Hello. Most likely it's a firmware issue. Please make sure your firmware send the events.

[2021-07-16 07:28] whogarden commented on #185
Suppose I am a roller shutter seller.
Each roller shutter is build with an ESP inside (in order to close or open it).
In the case where we need 8 roller shutters, I understand that we must have 8 tiles.
Is it correct?

I tried "ESP_NOW" with no success (I am not an expert).
Is ESP_NOW compatible with Blynk ino sketchs?
Thank you.

[2021-07-16 08:19] doom369 commented on #185
Correct. You may find this to be a problem. However, you need to look into it from a business case perspective. You made 100 roller shutters. For 10 users you sold 1 item. For 20 users you sold 2 items. Etc. So every user will have a dynamic list that will be expanded automatically as a new device is added. With old project approach you couldn't make it.

However, I agree that for the "maker" use

[2021-07-16 12:50] blynkkk commented on #185
Additionally, in [White-Label option](https://blynk.io/pricing ) we offer **grouping** of devices. Then, end-customers can create groups (bedroom windows, living room windows) and open/close shutters in a group with 1 button.

[2021-07-16 14:14] DmytroTool commented on #174
@OleksandrGora Can you check with your device one more time, please, it seems to be fixed for now.

[2021-07-16 14:17] alexkipar commented on #174
@DmytroTool no, it will be fixed with the new build being available.

[2021-07-16 16:33] Ad758 opened #186 "Change AP"
Hi, if a device has been connected to a wifi router with Edgent, and the customer then wants to change their router, how is that done?

I don't see anything in the documentation.

Thanks

[2021-07-16 16:42] doom369 commented on #186
@Ad758 you can "reconfigure" the device. It should be somewhere in the device settings, in the device actions menu. Don't have my phone under my hand right now. But, yeah, the doc is missing

[2021-07-16 17:58] Ad758 commented on #186
Thanks, I did the reconfigure but I couldn't connect through Edgent after that (the device wasn't showing up to connect to).

I deleted the device and then I could reconnect it. Not sure the "reconfigure" was working properly? Obviously don't want to have to delete all the device data if we need to change the router.

[2021-07-16 21:46] vshymanskyy commented on #186
1. Hold the config reset button on the device for 10-15 seconds, release it. Device enters configuration mode.
2. In the App, navigate to your device and click `Reconfigure` in the menu. Follow the instructions.
3. Device should re-connect with the new credentials.

[2021-07-17 05:01] doom369 commented on #186
@vshymanskyy could you please add it to the documentation?

[2021-07-17 08:43] Ad758 commented on #186
Thanks, got it working using the "flash" button on the ESP8266, but on an ESP32, I still can't get the device to show up when reconfiguring.

[2021-07-17 08:46] vshymanskyy commented on #186
It depends on your configuration of the firmware. Check out "Settings.h"

On Sat, Jul 17, 2021, 11:43 AM Ad758 ***@***.***> wrote:

[2021-07-17 08:53] Ad758 commented on #186
Should I be assigning a button pin in settings.h? Not sure what I'm looking for...
![image](https://user-images.githubusercontent.com/71893553/126031828-700025dc-22e4-4497-9c77-c76fab08ad87.png)
Thanks

[2021-07-17 09:59] vshymanskyy commented on #186
Correct. You may need to add some prints to verify this function.

On Sat, Jul 17, 2021, 11:53 AM Ad758 ***@***.***> wrote:

[2021-07-17 20:56] zaharenkov opened #187 "Y-axis always shown on web dashbord's charts"
On web dashboards charts Y-axis shown for all data streams notwithstanding that it ON or OFF in charts settings. So it almost impossible to add more data streams on single charts. Please see attach.

![Y-axis](https://user-images.githubusercontent.com/13500680/126049175-ef31e80c-d986-4467-a2cd-f0e63f7ad106.png)

[2021-07-18 10:52] alexkipar commented on #183
@thorathome, a new build with a fix to this issue should be available soon to update

[2021-07-18 10:55] alexkipar commented on #182
The new app's version 1.1.9 contain a fix to this bug

[2021-07-18 10:55] alexkipar commented on #181
The new app's version 1.1.9 contain a fix to this bug

[2021-07-18 10:56] alexkipar commented on #174
@OleksandrGora please check 1.1.9 version which should be already available or will be available to update quite soon

[2021-07-18 10:57] alexkipar commented on #165
@hms-11, please check the 1.1.9 app's version; if it does not fix the issue - please resend apps logs

[2021-07-18 10:57] #161 closed, assigned to alexkipar

[2021-07-18 11:03] rmznsy commented on #182
Confirmed, thank you.

[2021-07-18 11:03] #182 closed, assigned to alexkipar

[2021-07-18 11:03] rmznsy commented on #181
Confirmed, thank you.

[2021-07-18 11:04] #181 closed, assigned to alexkipar

[2021-07-19 08:57] whogarden commented on #185
Yes and it's very good
And what about the idea of a super tile where the user can gather widgets from different similar devices (a "bridge"?).

[2021-07-20 00:14] hms-11 commented on #165
@alexkipar issue is resolved in my testing. Thanks for the fix!

[2021-07-20 04:37] #165 closed, assigned to alexkipar

[2021-07-20 05:33] Programmer-Maker opened #188 "SSID Not Changing"
I Flashed Micropython Firmware On My Esp8266, After That I Changed My Mind To Use Arduino Ide. I Used Blynk Iot App But When I Flashed My Code The SSID Name Was **ESP-######**, So Blynk App Don't Recognized It I Tried To Manual Connect But It Won't Work. Here Is My Code:
[Code.zip](https://github.com/blynkkk/blynk_Issues/files/6845915/Code.zip).
Any Solution. Please Help. Sorry For My English.

[2021-07-20 05:33] Programmer-Maker commented on #188
Please Help

[2021-07-21 06:54] whogarden commented on #185
I can see that ESP_NOW is not working.
It seems that it can't work when there is wifi already connected...
Am I right?

[2021-07-21 07:59] OleksandrGora commented on #174
@alexkipar The issue is solved (except of remembering period choice across app's launches). You can close the issue from my side, but there was a suggestion from @thorathome.

[2021-07-21 10:42] fabridelo69 opened #189 "add fastled library"
Hi everyone

is it possible to add the fasteled.h library in blynk edgent i am trying to get it to work but i can't.
Especially in the "indicator.h" section

Thank you

Best Regards

[2021-07-21 11:22] QaziTheGr8 opened #190 "Template error"
when i want to create template, its show an error "Manufacturer field can contain only letters, digits or space"

[2021-07-21 17:33] thorathome commented on #183
Hi Blynk team.
We're almost there with this fix. I find the Blynk LED widgets work well under iOS (iPad), still have a problem on Android.

Android 11
Google Pixel 3a XL
- and -
Android 9 (latest version for this model phone)
Samsung Note8

In order for the Android LEDs to work, I have to MANUALLY open the LED widget on the Android device in developer mode and change the LED color from the default

[2021-07-22 01:05] kingstonheath opened #191 "Bug- Superchart"
Since the latest update, when opening the superchart, the y axis is reduced by a second line in the title bar which is used when holding on the chart to display data as the chart is scrolled.  If I hold on the chart and display some data and then release, the full y axis is restored.  I'm using an android device with latest Blynk app

![image](https://user-images.githubusercontent.com/39555202/126

[2021-07-22 05:35] Programmer-Maker commented on #190
What Name Do You Want To Give To Your Template?

[2021-07-22 06:10] #188 closed, assigned to nobody

[2021-07-22 13:07] markwkiehl opened #192 "iOS Blynk app doesn't permit mode to display live data"
On 21 July 2021 I created a new Mobile Dashboard on my friend's iOS phone.  We were unable to switch from the editor to a view that displayed the live data from the Blynk cloud.  Tried all possible options without success.  Please run tests on the iOS mobile app.

[2021-07-22 13:13] whogarden opened #193 "AP IP: 0.0.0.0"
With esp 2.0.0-rc1 and Blynk v1.0.1
An esp32 device flashed with Edgent_ESP32
gives : an AP with IP = 0.0.0.0
[114] Using default config.
[213]
    ___  __          __
   / _ )/ /_ _____  / /__
  / _  / / // / _ \/  '_/
 /____/_/\_, /_//_/_/\_\
        /___/ v1.0.1 on ESP32

[215] --------------------------
[218] Product:  ESP32free
[220] Hardware: 1.0.0
[222] Firmware: 0.1.2 (build Jul 22 2021 15

[2021-07-22 14:12] hms-11 opened #194 "LCD Widget Displays Nothing (Android)"
Login Email: coreyearl1985@gmail.com
Logs sent from: corey@hotchsautoparts.com
Issue is in App
Android IOS Version 11
Logs sent

Datastream set as Virtual Pin V8 - String

Issue:
When using the LCD widget in Advanced mode, nothing displays in app. Attempting to send simple char data ("Door Open", "Door Closed", etc

Related Issues: Sometimes the widget in the app seems to "lose" its datastream, an

[2021-07-22 14:23] ghost opened #195 "ROLE Staff problem change to admin"
Hi I have entered as a staff role, unfortunately I can no longer return to the admin role,
even if I enter admin again, a message is displayed indicating that the change in admin has occurred but in reality it doesn't change.

Message :
"Account data has been successfully updated"

![staff](https://user-images.githubusercontent.com/71384188/126655284-e5f808c7-fb09-407d-b1a0-32260b96f03b.png)

[2021-07-22 14:41] doom369 commented on #195
@Zanzaux please provide your email I can fix that manually. Could you please provide the steps? As we fixed that recently.

[2021-07-22 15:07] Zanzaux commented on #195
my account is  peppe.insinga@hotmail.it

[2021-07-22 15:27] doom369 commented on #195
@Zanzaux fixed. Steps still would be nice to have.

[2021-07-22 15:35] ghost commented on #195
Thanks, if you want I can try if it happens also by setting the invitation user role of the screenshots of each step.

[2021-07-22 15:48] ghost commented on #195
User role setting is not done, here are the steps taken.
![1](https://user-images.githubusercontent.com/71384188/126668749-1a94df00-e4ef-4e37-b261-9cbf14c6c499.png)
![2](https://user-images.githubusercontent.com/71384188/126668761-8724cb33-71f5-4955-b238-6a0b054b6d04.png)
![3](https://user-images.githubusercontent.com/71384188/126668770-2f8d2e1e-6c18-40f9-ba4e-b8948ef7acfd.png)

[2021-07-22 15:50] ghost commented on #195
Even setting staff again, the role is not changed and remains "admin"

[2021-07-22 15:55] ghost commented on #195
I managed to change the role from "settings" unfortunately I can't go back to admin ...

![new1](https://user-images.githubusercontent.com/71384188/126669809-a83ad229-d190-4811-8b19-4d8f52b0e83c.png)
![new2](https://user-images.githubusercontent.com/71384188/126670177-f0a7aa29-f6bf-49d4-99d8-74abab2c0b59.png)

[2021-07-22 15:57] doom369 commented on #195
@Zanzaux you need to refresh the browser cache. This issue was fixed. The field is disabled:

![screenshot-fra blynk-qa com-2021 07 22-18_56_49](https://user-images.githubusercontent.com/1536494/126670163-94e5d84d-10a2-4ff3-acdc-03143d817069.png)

[2021-07-22 15:58] doom369 commented on #195
@Zanzaux returned admin role one more time.

[2021-07-22 16:09] Zanzaux commented on #195
Unfortunately I was stuck in the staff, I also deleted the cache but nothing to do ...

![staff](https://user-images.githubusercontent.com/71384188/126671909-f2e430d3-5a89-4025-9a8f-fda7bfa49afa.png)

[2021-07-22 16:10] ghost commented on #195
Unfortunately I was stuck in the staff, I also deleted the cache but nothing to do ...
![staff](https://user-images.githubusercontent.com/71384188/126672146-38f2eab1-5d3e-47ff-b4ca-82d543f8edd2.png)

[2021-07-22 16:24] doom369 commented on #195
I changed it. Or you have another acc?

[2021-07-23 12:13] hms-11 commented on #194
Here is a screenshot from the app, screen appears blank.
[https://photos.app.goo.gl/iUZ3L3SQeTYAT9mh9](url)

[2021-07-24 12:46] mike1964Blynk commented on #191
I'm experiencing the same issue,  just an fyi, no hurry.

Mike

[2021-07-27 01:03] alexkipar commented on #194
@hms-11 I've checked your logs: it seems that LCD updates from the sketch are updating datastream with V8 pin, while the widget has as a "LCD Test" datastream (V1)

[2021-07-27 02:00] hms-11 commented on #194
@alexkipar Sorry, must have sent the wrong logs. Just resent the logs with the appropriate widget settings.

[2021-07-27 18:50] alexkipar commented on #194
@hms-11 got it; I hope this week to release a new bugfix version with this fix.

[2021-07-27 19:20] hms-11 commented on #194
@alexkipar Awesome, thanks Alex.
Tag me when you release it and I'll run some tests right away.

[2021-07-28 00:33] nath027 opened #196 "Template Bug Fixed"

[2021-07-28 03:35] ExcitePrime opened #197 "Web Dashboard Switch Widget not working"
hello, the switch widget in the web dashboard is kind of stuck, even though i had deleted the widget and made a new one

![image](https://user-images.githubusercontent.com/61999025/127259466-541180c8-eb9c-478d-aa78-4204d2ed1178.png)

[2021-07-28 04:35] ExcitePrime commented on #197
this happens when the widget is connected to virtual pin v0 by the way, and when i try to use other virtual pins, the widget works fine

the web dashboard switch also wont actuate when i turn on the button switch which has the same V0 datastream on the mobile dashboard

[2021-07-28 05:07] rmznsy commented on #196
Make sure that, you use correct template id and auth. If you create the device under Template A for example, and when you use that device auth with Template B template id, it can be the problem.

I had a similar problem. I noticed that I used the wrong template id.

[2021-07-28 06:02] nath027 commented on #196
thanks all sorted

[2021-07-28 12:57] Ad758 opened #198 "WiFi Connection"
Hi, when connecting with Blynk.Inject I get a "Connection with device was interrupted" error?

I've used the same network credentials before with no problems.

![image](https://user-images.githubusercontent.com/71893553/127325717-944c4bd9-50fe-44cd-a205-700d888580a5.png)

[2021-07-29 14:49] doom369 commented on #198
@Ad758 hello, android, ios? Have you send the logs?

[2021-07-30 02:53] #196 closed, assigned to nobody

[2021-07-30 02:54] nath027 commented on #196
issue with HTTP wrong region all fixed

[2021-07-30 19:44] DeltaZero0 opened #199 "Webhooks section doesn't found"
Greetings

I have admin and developer permissions but I can't see the Webhooks section. Isn't implemented yet?

In Settings there is only "Organization Settings"

[2021-07-31 00:59] thorathome commented on #183
But wait, there's more. I am seeing the same behavior on other Android Blynk widgets where they work well on iOS.

**The LED, Text Input, and Icon Button widgets all show the same behavior.**.. their colors, as assigned by `Blynk.setProperty( Vx, "color", ...)` commands, do not change UNLESS the widget's color has been manually reset once at the mobile app. Once the widget's color has been set MAN

[2021-07-31 16:23] Rabelbeat commented on #177
@doom369 BLYNK_APP_CONNECTED() / BLYNK_APP_DISCONNECTED() was very useful at my projects,
Examples:
1. My uncle is a farmer and he want to know what is the realtime of wind speed to know if to go out and spray the corn field,
so I develop a few solar power weather station with Particle Electron to him and implement
BLYNK_APP_CONNECTED() - if app connected update windspeed at realtime, app disconne

[2021-07-31 16:58] doom369 commented on #177
Isn't that enough in your use case? I mean, when your uncle opens the app he sees the almost "fresh" value, so you don't need additional `BLYNK_APP_CONNECTED` logic here.

2, 3 seems very interesting. Thanks for sharing. I'll check if we can return it easily.

[2021-07-31 17:12] doom369 commented on #199
Hello. It's not yet available as it doesn't have device triggers right now. As soon as we add it - we'll enable it.

[2021-08-03 12:40] hms-11 commented on #194
@alexkipar, just wanted to let you know the update you just released seems to have fixed this issue.

Thanks!

[2021-08-04 10:02] ajcryan opened #200 "can't add new device sparkfun blynkboard"
I have not used my blynkboard for some time and registered a new account.  I have flashed the firmware with the latest version.  I have created a template and copied the template ID and auth code into the firmware before flashing.  I have connected to the device network and provided the ssid and password.  The device connects to the local network and then to the blynk cloud, but then fails to auth

[2021-08-05 07:42] whogarden opened #201 "I need a "push button" automation"
In my project, I use some push buttons, but how can I use automation to :
1 . set the push button to "On"
2 . then after one second or two, the push button should automatically be set to  "Off".
We should appreciate a kind of momentary automation.

[2021-08-05 14:40] Mark-Pan commented on #193
Check your router to have DHCP enabled please. Otherwise run Manual Connect during the device provision procedure.

[2021-08-05 15:41] Mark-Pan commented on #192
Is this issue about Superchart?
Specify the widget(s) please.

[2021-08-06 07:17] whogarden commented on #193
Thank you for this reply.
DHCP is enabled.
And manual connect don't work because the AP IP is 0.0.0.0

It was working with esp32 version 1.0.5.
then I upgraded to new versions but :
It's not working with version 2.0.0.alpha1 (this version can not  generate binaries)
It's not working with version 2.0.0.rc1 (this version can generate binaries).
I am now back to esp32 version 1.0.5
(with esp8266 3.0.

[2021-08-06 12:22] markwkiehl commented on #192
All widgets.  Cannot start the live display on Apple iOS.

On Thu, Aug 5, 2021, 11:41 AM Mark ***@***.***> wrote:

[2021-08-06 13:33] Mark-Pan commented on #193
Yes, this could be due to unstable ESP32 core versions.
We recommend to use stable versions (1.0.6 is the latest one).

[2021-08-06 20:33] kdharrigan opened #202 "Problem Transferring device to customer"
I'm unable to add my device from the customer app even after sending them an invite. I can add from my main account but when i try to transfer to the customer, the transfer process is successful but the customer app is empty with no device. this problem seems to be specific to the customer email address as i cannot replicate it with another account.

[2021-08-07 09:22] kingstonheath opened #203 "Not all units displaying"
Having problems getting some units to display.  Ones I have tried that don't seem to display are ppm, ppb, HPa.  Haven't tried all units but not having any problems with others I am using (Celsius, %, degrees, km.hr, mm).  I am using latest app on android.  Have changed the units on the datastreams that are giving me problems to a unit I know displays and the units displays fine.

[2021-08-07 21:19] kdharrigan commented on #202
![Screenshot 2021-08-07 at 5 12 17 PM](https://user-images.githubusercontent.com/57235227/128614071-4903391b-c26b-4fcb-a90b-ecacdf233e34.png)

Here is what the customer account looks like after transferring the device to them. this is on a IOS device.

[2021-08-09 08:37] doom369 commented on #202
@kdharrigan customer should be within your organization or your suborganization. Is that the case? Otherwise you can't share the device with him.

[2021-08-09 09:01] doom369 commented on #203
@kingstonheath these are newly added units, not yet added to the mobile apps.
@alexkipar @eepetrash please make sure you have fully support **MeasurementUnit** class types.

[2021-08-09 09:42] #194 closed, assigned to nobody

[2021-08-09 09:44] alexkipar commented on #183
@thorathome Icon Button does not support same color change logic: it uses onColor, offColor properties

[2021-08-09 09:49] alexkipar commented on #183
@thorathome, can you send logs after reproducing this issue? We have problems reproducing it on our side.

[2021-08-09 09:55] alexkipar commented on #174
@OleksandrGora, the latest app's version should remember period choices, reopen if it is not working on your side.

[2021-08-09 09:55] #174 closed, assigned to alexkipar, OleksandrGora

[2021-08-09 14:14] kdharrigan commented on #202
@doom369 customer is in my organization and sub organization.

[2021-08-09 14:16] doom369 commented on #202
@kdharrigan please provide email of the customer that doesn't see the device.

[2021-08-09 14:18] kdharrigan commented on #202
@doom369 this is happening across a few email addresses.
1) loubieparis@gmail.com
2) ljpropman@gmail.com

[2021-08-09 14:21] kdharrigan commented on #202
I've now noticed that i can no longer provision devices in my sub organization. I will check my Roles and permissions.

[2021-08-09 14:54] doom369 commented on #202
@kdharrigan hm... all seems correct. Are you able to send the logs from the above account?

[2021-08-09 14:57] kdharrigan commented on #202
Sure.

Sent from my iPhone

[2021-08-09 16:00] doom369 commented on #202
@kdharrigan please let me know when done. (you can send it directly to me dmitriy@blynk.cc)

[2021-08-09 16:31] doom369 commented on #201
What should trigger that event?

[2021-08-09 16:53] kdharrigan commented on #202
@doom369 . Sent

[2021-08-09 16:55] doom369 commented on #202
@kdharrigan Thanks. I think I found the root cause. So in order to fix the issue, you need to:

- Create a new Organization
- Transfer the user to the newly created org
- Transfer the devices to this new org
- Remove the old org

This should fix the issue. Please do not make the user as "developer". We'll disable this thing to avoid such problems in future.

[2021-08-09 17:04] kdharrigan commented on #202
Dymitriy,

How do you make the user as a “developer”? I do not see this option.

Best regards,
Kevin Harrigan, Owner
Cell. 340-643-1573
www.yourideasvi.com
Your Ideas VI

From: Dmitriy Dumanskiy
Sent: Monday, August 9, 2021 12:55 PM
To: blynkkk/blynk_Issues
Cc: kdharrigan; Mention
Subject: Re: [blynkkk/blynk_Issues] Problem Transferring device to customer(#202)

@kdharrigan Thanks. I think I found

[2021-08-09 17:30] doom369 commented on #202
@kdharrigan please ignore my comment about "developer". You need to follow the above steps in order to fix the issue. Let me know how it goes.

[2021-08-10 06:10] whogarden commented on #201
I just want to momentarily activate a relay like when you briefly press the button on a remote control to command the opening or closing of a garage door.

[2021-08-10 11:32] doom369 commented on #200
Hello. Are you able to check the device console output?

[2021-08-10 11:32] doom369 commented on #202
@kdharrigan please reopen if above instructions didn't help.

[2021-08-10 11:32] #202 closed, assigned to doom369, kdharrigan

[2021-08-10 11:33] #199 closed, assigned to nobody

[2021-08-10 11:33] doom369 commented on #198
@Ad758 please reopen if you have more info.

[2021-08-10 11:33] #198 closed, assigned to nobody

[2021-08-10 11:34] doom369 commented on #197
@ExcitePrime fix is deployed. Please reopen if the bug still occurs.

[2021-08-10 11:34] #197 closed, assigned to doom369

[2021-08-10 11:35] ajcryan commented on #200
Hi Dmitry,

Thanks for the response.  I hadn't hooked up a console, but I'll do so and
reply.

On Tue, 10 Aug 2021 at 21:32, Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-08-10 11:35] #195 closed, assigned to nobody

[2021-08-10 11:36] doom369 commented on #193
@Mark-Pan @vshymanskyy add to doc troubleshooting section?

[2021-08-10 12:39] kdharrigan commented on #202
creating a new organization worked. I'm trying to figure out how it happened. I transferred a few devices to the new org  and it worked perfectly. Thank you for assisting. @doom369

[2021-08-10 12:53] doom369 commented on #202
@kdharrigan it happened due to a bug on the server side. the bug is fixed and now you should not see this behavior.

[2021-08-11 03:18] mylesalexa opened #204 "Min Max irrationality"
Just a comment about data.

Sometimes Min and Max datastream aren't wanted in a way that means MAX number should be above MIN number

in my case with distance measurement, the smaller the number the more i want the gauge to read.

the old Blynk allowed a smaller number for max, and a larger number for min. please fix.

Otherwise thank you for the awesome platform.

[2021-08-12 11:31] vshymanskyy commented on #193
Added to the docs

[2021-08-12 11:31] vshymanskyy commented on #193
@whogarden please close the issue if it's fixed by using the stable ESP Core.

[2021-08-12 12:01] doom369 commented on #193
@vshymanskyy let's close by default, and reopen if not fixed. Link to doc also would be helpful in case anyone will google this issue and not doc.

https://docs.blynk.io/en/getting-started/activating-devices/blynk-edgent-wifi-provisioning#esp-32-esp-8266-specific-issues

[2021-08-12 12:01] #193 closed, assigned to Mark-Pan

[2021-08-13 07:21] slaw54 opened #205 "tile switch, widget switch and dasboard switch not synching correctly."

[2021-08-13 07:37] slaw54 commented on #205
I am experiencing a problem in the mobile app where the front page tile switch state is not updated by the switch widget and also when logged in on two mobiles (one used as a permanent display) the tile switches show reversed states when actioned, ie: one is "on" and one  is "off". Everything is using the same virtual pin. Is this a bug or an error in programming.
Thanks

[2021-08-13 08:25] doom369 commented on #205
@slaw54 hello ios or Android?

[2021-08-13 08:31] slaw54 commented on #205
Hi

Samsung S7(Android 8) and S8(Android 9)

Thanks for the quick response

On Friday, August 13, 202.1, Dmitriy Dumanskiy ***@***.***>
wrote:

https://ci5.googleusercontent.com/proxy/YhSJa2TPJAstbxPv-O5-2nEI6u6xVAUlNL9USD952bZLQdFO3FYy-vwOqJgmXl_FqPvnb5maFAfw0bntTIvfjT9VLop0jAerTTiX_Nw3rgPgiMNvnSQJ4OrMR7n2BiWiW2ORn09PieZ3CTsi3FODWY2h7xJvhfgKWtjpz8zat0eW-A5PgkFjBsUDDfWaUEpdtqV4sL4wxIgiwMfd5KM_tv5g

[2021-08-13 09:32] doom369 commented on #205
@alexkipar please take a look.

[2021-08-14 03:19] Pekik1266 opened #206 "automation issue"
I am using automation feature to monitor controlled room temperature, which was set on 31 degrees C to trigger a notification send to all phone cell.
first and biggest issue is that its trigger not in the correct temperature setting (which is 31 C), its randomly trigger on 29 or sometime in 30 C, the temperature chart is not show any spike or temperature rise to trigger the notification

[2021-08-14 13:58] doom369 commented on #206
@Pekik1266 the value could be changed right after the trigger, so you may think it's not a valid, but it is. Do you store the "raw" data? As by default graph shows "average per minute", not max or every data point.

[2021-08-15 02:19] Pekik1266 commented on #206
Thank you for your reply, I will check on raw data.At the moment I dont need to be that precise on the triger point, the average value as triger point is more than enough. Can automation feature use that value as triger point?Thanks and regardsPekik
-------- Original message --------From: Dmitriy Dumanskiy ***@***.***> Date: 8/14/21  20:58  (GMT+07:00) To: blynkkk/blynk_Issues ***@***.***> Cc: Pek

[2021-08-16 11:15] hotrework opened #207 "dashboard"
dashboard only shows slider,switch,label,chart,map in edit mode
the mobile app works fine
..new monthly subscriber

[2021-08-16 11:16] doom369 commented on #207
@hotrework hello. that's all widgets we have on the web right now. We will add more over time.

[2021-08-16 11:19] hotrework commented on #207
Disappointing…maybe a disclaimer on the dashboard would be advisable

From: Dmitriy Dumanskiy ***@***.***>
Sent: August 16, 2021 7:17 AM
To: blynkkk/blynk_Issues ***@***.***>
Cc: hotrework ***@***.***>; Mention ***@***.***>
Subject: Re: [blynkkk/blynk_Issues] dashboard (#207)

@hotrework <https://github.com/hotrework>  hello. that's all widgets we have on the web right. We will add more over time.

[2021-08-16 19:54] wiwins01 opened #208 "error compiling Edgent ESP32 for MKR1010"
Followed setup instructions for new account, but unable to compile Edgent ESP32 on my MKR1010.  Arduino 1.8.12/Mac 10.13.6.  "Uncomment your board, or configure a custom board in Settings."; is there a #define for the MKR1010 board?

[2021-08-17 04:49] vshymanskyy commented on #208
For MKR1010, there is a separate Edgent example in the library.

[2021-08-17 04:49] #208 closed, assigned to vshymanskyy

[2021-08-18 12:22] Bresca-eng opened #209 "Menu widget issues"
Blynk library version: [1.0.1]
IDE: [Arduino]
IDE version: [1.8.15]
Board type: [MKR1010]
Additional modules: [...]
Blynk app: [3.2.4(1)]
OS: [iOS 14.7.1]

### Scenario, steps to reproduce
I'm experimenting problems with menu widget: I would like to add some items in menu but it is not possible or, better, initially I have correct menu then (after 1-2 minutes) it disappears
I have a template  call

[2021-08-18 12:44] doom369 commented on #209
@eepetrash please take a look

[2021-08-18 13:04] eepetrash commented on #209
@doom369 looks like server did not update `labels` property

[2021-08-18 14:07] Bresca-eng commented on #209
If it can be useful, I got the similar behavior with an android phone.

[2021-08-18 15:11] doom369 commented on #209
@Bresca-eng bug confirmed. We'll fix it soon.

[2021-08-18 17:14] ptasson opened #210 "Bridge widget missing on new Blynk"
I am working on a project that requires 12 esp8266 to work together to manage 12 gas fired furnaces. the new Blynk App. does not have the "bridge" widget. Is there any other way to accomplish this on the newer Blynk? Thanks.

[2021-08-18 17:16] doom369 commented on #210
@ptasson hello. you can look into automations. It may fit your needs - https://docs.blynk.io/en/blynk.apps/automations

[2021-08-19 04:18] mtkreitz opened #211 "Web Dashboard not reading virtual pins"
ESP32 using DHT11 and capacitive moisture sensor, connected over WiFi SSL.

1. App on iOS reports values from virtual pins correctly
2. Serial monitor reports them correctly
3. Web dashboard (Label) widget **DOES NOT** report them correctly.

#define BLYNK_FIRMWARE_VERSION        "0.1.0"
#define BLYNK_PRINT Serial
#define BLYNK_TEMPLATE_ID "XXXXXXXXXXXXXXXXXXXXXXXXX"
#define BLYNK_DEVICE_NAME "Soi

[2021-08-19 05:22] doom369 commented on #211
What do you mean by that? Do you have example?

[2021-08-19 12:15] mtkreitz commented on #211
Sure, attached are (4) files.

First is the iOS app on my phone, showing the correct values
Second is the serial monitor from Arduino, showing the correct values via Serial.Print.
Third is the datastream configuration for just humidity
Fourth is the Web Dashboard showing incorrect value.

Thank you.
![iOS_App](https://user-images.githubusercontent.com/25873071/130066317-30bb3d2a-a8e9-4c90-882b-867

[2021-08-19 12:24] doom369 commented on #211
@mtkreitz thanks. that's a template dashboard, not device dashboard. It's shows fake data as this is a template it just shows you how the data will look like on the real device. In order to see the real data open the search view and click on "My devices".

[2021-08-19 12:41] mtkreitz commented on #211
Thank you!

On Thu, Aug 19, 2021 at 5:24 AM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-08-20 09:08] #211 closed, assigned to nobody

[2021-08-22 20:13] semy821 opened #212 "Analog pins on arduino mega"
Hello, i start using Blynk iot and i have an arduino mega, but when i create a Datastream i am limitetd on 4 analog pins.
How do i change something to get all analog pins?

[2021-08-23 02:33] EarlOld commented on #212
@semy821 Hi. Yep, we have this limitation for now. You can use virtual Datastreams. Link to docs: https://docs.blynk.io/en/blynk.edgent/mainoperations/virtual-pins

[2021-08-23 06:51] #212 closed, assigned to nobody

[2021-08-25 14:05] CMJ111 opened #213 "Web Dashboard slider glitch"
Web dashboard slider on Windows10, Chrome Browser

When slider is left at minimum range value a value of zero is sent. If the slider is moved above min val it works properly.

[2021-08-25 14:08] doom369 commented on #213
Why is that a bug? What is your minimum setting for the datastream?

[2021-08-25 14:24] CMJ111 commented on #213
Same as the minimum setting of slider(not zero) but  if that's the way its supposed to work then I misunderstood.

[2021-08-25 14:28] CMJ111 commented on #213
To be specific DataStream range is set from 150 - 300.  Slider range is set to 150 - 300.  When slider is at 150 it sends a value of 0 when it is set to 151 or above it sends that value.  The slider isn't ranging anything so why would it ever send a zero if you do not have a minimum value of zero set?

[2021-08-25 14:45] doom369 commented on #213
@CMJ111 looks like a bug. Thanks for the detailed info. We'll check.

[2021-08-25 14:50] doom369 commented on #213
@CMJ111 what data stream type do you have? Are you sure you print the value that slider sends (in other words - where exactly do you check that slider send 0)? I just checked the code 0 can't be send if DS.min is 150. Server adjust the values to min/max. We'll try to reproduce of course. But quick look says that's not possible.

[2021-08-25 14:58] CMJ111 commented on #213
Virtual Pin, Integer, no default value set and no exposure to automation.
Now the values sent are correct but I am not sure what changed it.  Before posting I did re-launch browser and mobile app with no change.
 The only thing I did after my post was to edit one of the data streams and widget's max value for an unrelated reason.  Now when I test it all is well.  I double checked my serial monitor

[2021-08-25 15:01] doom369 commented on #213
@CMJ111 did you change the min/max values of the Data Stream after you created it?

[2021-08-25 15:02] CMJ111 commented on #213
No not initially

[2021-08-25 15:08] CMJ111 commented on #213
![image](https://user-images.githubusercontent.com/89530137/130815948-00a3cb6d-4abd-4433-a985-88e23bd1fb18.png)
![image](https://user-images.githubusercontent.com/89530137/130816224-41be9ac4-bf32-441d-8c4d-3c434ce41093.png)

[2021-08-25 17:02] DmytroTool commented on #213
@CMJ111 You have slider widget set for V16 pin DS and and settings you provided on the screen is V15

[2021-08-25 19:12] CMJ111 commented on #213
![image](https://user-images.githubusercontent.com/89530137/130850834-e83727d4-bcee-40b3-8362-0cb573b53688.png)
Sent wrong SS, sorry about that.

[2021-08-26 10:48] doom369 commented on #213
Ok. So closing for now. Fill free to reopen if you able to reproduce.

[2021-08-26 10:48] #213 closed, assigned to doom369

[2021-08-26 10:48] #210 closed, assigned to nobody

[2021-08-26 10:52] doom369 commented on #209
@Bresca-eng fixed. Please reopen if not.

[2021-08-26 10:52] #209 closed, assigned to doom369

[2021-08-26 10:53] #207 closed, assigned to nobody

[2021-08-26 10:53] #206 closed, assigned to nobody

[2021-08-26 10:54] #162 closed, assigned to eepetrash, werpret

[2021-08-26 11:07] Bresca-eng commented on #209
It seems to work. Thanks!

[2021-08-29 17:25] thorathome opened #214 "Android SuperChart bugs"
Hi Blynk.
I am running ESP32s and ESP8266s on Blynk.io and using iOS and Android as mobile targets.
See two screenshots below for Android bugs and differences from iOS using the same Device and Template.

**Android SuperChart bugs**
one - Note the **positioning of the 12h horizontal axis button on Android.**
Position is correct on iOS, not so on Android.
two - Note the difference in the green Data

[2021-09-07 20:11] daddyben1 opened #215 "IOS slider value not showing"
hello, dont know if you have looked into this or not but the slider value does not show on the IOS app but it does show on the android app. even if the sw  on the app is switched to show value..  app version i am using is  1.2.1 (45)

[2021-09-11 16:21] thorathome commented on #214
Hi Blynk. I'm happy to provide more info on this issue which makes my Android Blynk apps largely unusable.

For Android only:
Auto selection of y-axis values doesn't work properly.

X-axis values from selector appear broken.

Thanks for all. Good luck.

[2021-09-12 15:48] alexkipar commented on #214
@thorathome we are investigating this issue. can you provide some details for "Auto selection of y-axis values doesn't work properly" - whats exactly is not working properly, on the screenshots above it seems android and ios have similar y axis values.

[2021-09-12 18:55] thorathome commented on #214
Thanks for picking this issue back up.
Scroll back up, please, to the two screenshots, above.

I have the **SuperChart Barometer Y-AXIS SCALING** set to AUTO on iOS and on Android.
In the Template, this Barometer Datastream is a DOUBLE #.### with a Min/Max of 26/42.

On Android, (first screen shot) Blynk automatically selects the range as 25 to 33
On iOS, (second screenshot) Blynk automatically -

[2021-09-13 14:38] alexkipar commented on #214
@thorathome I've reproduced both issues. it will be fixed in the next release

[2021-09-13 19:02] thorathome commented on #214
**Thanks for taking time for this.** I appreciate the progress I have seen on Blynk IoT since I moved over from Old Blynk.
Lots of progress! I'll keep reporting things I do not understand.

**I do wish to add one request for the old TimeInput widget.** I currently use 4 different widgets to perform a similar function on IoT, and it's still not as powerful or helpful as the original TimInput widget

[2021-09-13 19:19] doom369 commented on #214
@thorathome

Hello, but we already returned TimeInput like 2 months ago.

[2021-09-13 19:22] alexkipar commented on #214
@thorathome Time Input is available, and it is also one of the free plan widgets.

[2021-09-13 20:16] thorathome commented on #214
Hah! Thanks for fixing the SuperCharts AND for TimeInput. I will update my Blynk IoT sketches.
**Now I Know!**

[2021-09-14 17:31] thorathome opened #216 "Any doc for Blynk Iot Time Input widget"
Thanks for including the Time Input widget in Blynk IoT.
I used them extensively in Old Blynk for input and display.

**Looking for any doc on the Blynk IoT Time Input widget.**
- How to set up the Datastream, for example.

Got any examples or doc on the new Time Input widgets?
Thanks.

[2021-09-14 19:00] doom369 commented on #216
It works in the same way as before. The only difference you need to create the Data Stream on Blynk.Console (web portal) with the type **String**

[2021-09-16 22:53] Toro-Blanco commented on #120
@doom369 Any News on the progress of the terminal widget?

[2021-09-17 06:50] doom369 commented on #120
No work have been done here.

[2021-10-15 14:19] zaharenkov commented on #187
i suspect someone fixed it.

[2021-10-15 14:19] #187 closed, assigned to nobody

[2021-11-02 03:46] Selah50 opened #217 "Numeric input widget"
Hi, I am having some issues.  I have a data stream that initially had a max value of 600.  I changed the data stream to have a max value of 1440. I am using the numeric input widget with this data stream. After I changed the max value to 1440, I can directly input that value with no issues, but as soon as I use the "+" button on the widget the displayed value goes back to 600.  For example, if I d

[2021-11-02 09:30] doom369 commented on #217
Thanks for the report. We'll check. Do you use the latest app version?

[2021-11-02 13:34] Selah50 commented on #217
I am using version 1.3.5 of the app and running version 10 of Android.
Thanks

DJ Skone

On Tue, Nov 2, 2021, 2:30 AM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-11-04 17:36] blynkkk commented on #201
Hello, now you can use "Wait" feature of Automation

[2021-11-04 17:36] #201 closed, assigned to nobody

[2021-11-05 16:10] whogarden commented on #201
Tests in progress...

[2021-11-05 22:19] whogarden opened #218 "Ticker is not working with Arduino core for the ESP32 release v2.0.0"
I reuse an old project that was compiled with Arduino core for the ESP32 release v1.0.6,
but now with release 2.0.0 ticker doesn't work anymore.

**Hardware:**

ESP32 16MB (dev board)
4 relay boards

**Sketch**:
[code]

[2021-11-08 23:05] Selah50 opened #219 "Numeric input widget sending values before the number is completely entered."
Hi.  I am using the numeric input widget with my project.  When I tap on the widget to directly enter in a value, as I am typing in my value, it is being sent to my device in real time.  For example, if I tap on the widget and bring up the keyboard, enter 1, it immediately sends the value 1 to my device before I tap the send button.  It will send any value, even if it is outside of the min/max tha

[2021-11-09 08:28] whogarden commented on #201
Really very good.
Thank you.

[2021-11-09 08:46] doom369 commented on #219
@Selah50 hello, do you use Android or iOS?

[2021-11-09 13:48] Selah50 commented on #219
@doom369 I am running Android 12 and version 1.3.5 of the Blynk app

[2021-11-09 14:09] doom369 commented on #219
@Selah50 thanks. Looking into it.

[2021-11-10 14:32] Selah50 commented on #219
@doom369 I just emailed you some more information about this issue.  Thanks.

[2021-11-11 04:30] alexkipar commented on #219
@Selah50 we will fix this issue in the next version, I hope it will be available at the beginning of the next week.

[2021-11-11 04:32] alexkipar commented on #65
flip option is available already in several last versions.

[2021-11-11 04:32] #65 closed

[2021-11-11 16:06] Selah50 commented on #219
@alexkipar Thanks for the update, I appreciate it.

[2021-11-17 17:26] Selah50 commented on #219
@alexkipar Can you notify me when the fix is available?  When you say it will be in the next version, does that mean that the app will have to be updated from the app store?  Thanks.

[2021-11-18 22:14] TheodosiosKatis opened #220 "Blynk can't connect to the server"
Hey. I'm doing this simple steps (https://iotdesignpro.com/projects/iot-controlled-led-using-raspberry-pi-and-blynk-app) to run a led via blynk server. But when i try to connect to the server with my auth-token then says invalid auth token. What's wrong?

[2021-11-21 03:13] Selah50 commented on #219
@doom369 Any ETA on when this issue might be fixed?  My current work around is a step slider.  The only issue with that is that on android devices you are able to see the value of the slider and on iOS devices you can't see the value. So I have to also have a value display directly above the slider.  It's confusing for the people who have purchased my device.  Thanks.

[2021-11-21 08:25] alexkipar commented on #219
@Selah50 new version should be available to update

[2021-11-21 15:10] Selah50 commented on #219
@alexkipar @doom369 The issue still persists on my android device.  I uninstalled and installed the version that is available on the google play store.  Here is a video taken this morning.  Watch the value display to the left of the numeric input update from hardware as I am typing in values.  This shouldn't update until I tap the "send" button. https://photos.app.goo.gl/MymodQSCeSS8f5mX6

[2021-11-21 15:14] alexkipar commented on #219
@Selah50 which version of the app?

[2021-11-21 15:21] Selah50 commented on #219
@alexkipar The version I installed from the app store says 1.3.5

[2021-11-21 15:24] alexkipar commented on #219
It should be 1.3.6, I'll check why it it still not available

[2021-11-21 15:24] Selah50 commented on #219
Thanks, I appreciate it.

[2021-11-22 16:13] alexkipar commented on #219
@Selah50 Looks like the latest update should be finally available everywhere

[2021-11-22 20:35] Selah50 commented on #219
@alexkipar Thank you, I saw that this morning!  Appreciate it.

[2021-11-22 20:41] doom369 commented on #219
I think we can close.

[2021-11-22 20:41] #219 closed, assigned to alexkipar

[2021-11-26 15:23] blynkkk commented on #218
Not working is very abstract. Not compiling? Not connecting? Etc.

First of all, these 2 lines **should be always at the top** of the code

[code]

[2021-11-26 15:23] blynkkk commented on #220
Hi, questions like that can be answered on our forum: https://community.blynk.cc . Please use search, and if there is no answer, please create a new topic. Thanks!

[2021-11-26 15:23] #220 closed, assigned to nobody

[2021-11-26 15:26] blynkkk commented on #189
Hi, questions like that can be answered on our forum: https://community.blynk.cc . Please use search, and if there is no answer, please create a new topic. Thanks!

[2021-11-26 15:26] #189 closed, assigned to vshymanskyy

[2021-11-26 15:26] #186 closed, assigned to vshymanskyy, Mark-Pan

[2021-11-26 15:26] #183 closed, assigned to alexkipar

[2021-11-26 15:27] #185 closed, assigned to nobody

[2021-11-26 15:27] #120 closed, assigned to doom369

[2021-11-26 15:28] blynkkk commented on #112
@mscsco implemented data import

[2021-11-26 15:28] #112 closed, assigned to blynkkk

[2021-11-26 15:28] #190 closed, assigned to nobody

[2021-11-26 15:29] #216 closed, assigned to nobody

[2021-11-26 15:54] eepetrash commented on #134
To clarify: latest data is displayed when opening device. Looks like this is about opening the app from background which had device already opened.

[2021-11-27 17:22] whogarden commented on #218
Hello,
Thank you for this response.
In that case, ticker is used to secure a relay that can be activated with a virtual push button.
Sometimes, the relay stays on (I suppose, that the order sent by blynk when I release the virtual push button is lost somewhere...)
If after some delay the relay stays on, ticker is used to set the relay off.
I have just updated the device (compiled with the new ardu

[2021-11-28 09:18] whogarden commented on #218
Hello,
With the 2 lines at the top of the sketch there is nothing new...
(Relays are not set off)
I restored Arduino core for ESP32 V1.0.6 and everything is working good.
(Return to ESP32 V2.0.1 and hello problems).
Any idea?
Thank you.

[2021-12-01 15:40] whogarden commented on #218
:(

[2021-12-01 15:40] #218 closed, assigned to nobody

[2022-01-25 07:49] whogarden commented on #85
Pete said
It’s very easy to work around using the text to columns wizard in Excel.
https://support.microsoft.com/en-us/office/split-text-into-different-columns-with-the-convert-text-to-columns-wizard-30b14928-5550-41f5-97ca-7a3e9c363ed7
Thanks to him.

[2022-01-27 14:08] whogarden commented on #218
Hello,
To help someone with same pb,
I found the error, it's a bad update of Blynk.
The file **indicator.h** was not updated.

[2022-02-13 11:58] Johnep101 opened #221 "Blynk.setProperty not working"
Hi,
Im trying to set the "Label" property of a segmented switch in Blynk 2.
The switch works as expected but I can't seem to change the menu titles as indicted in the documentation.
I'm using 'Blynk.setProperty(V4, "Labels", "A", "B","C");'
But the labels just remain as labeled as written in the app.
im using IOS 15.2.1 on an iPad.

 is it possible to also change the name of the switch? (I want to

[2022-02-14 11:37] doom369 commented on #221
@Johnep101 hello, "labels" should be fully lowercase.

`Blynk.setProperty(V4, "labels", "A", "B","C");`

What doc did you use?

[2022-02-14 14:36] Johnep101 commented on #221
Hi Dmitriy,
Thank you my mistake, I used the on line docs but didn’t spot the lower case🤯🤯
All working perfectly👍

[2022-02-15 19:33] #221 closed, assigned to Johnep101

[2022-04-05 14:51] DhaaraaShaah opened #222 "Invalid auth token error"
Hi, I'm looking for help with an "invalid auth token" message in the serial monitor after uploading an arduino sketch.

My serial monitor looks like this:
10:36:20.505 -> [759] Connecting to MELAB
10:36:23.279 -> [3554] IP: 192.168.1.100
10:36:23.319 -> [3555]
10:36:23.319 ->     ___  __          __
10:36:23.359 ->    / _ )/ /_ _____  / /__
10:36:23.408 ->   / _  / / // / _ \/  '_/
10:36:23.408 ->

[2022-04-05 15:01] doom369 commented on #222
`blynk-cloud.com` is blynk 1.0 host, you need to use the correct firmware with the correct host.

[2022-04-06 15:58] DhaaraaShaah commented on #222
Do you know what the blynk 0.6.1 host is? I have also tried to use Blynk's new version, but I get a error that deals with some function called atoll() in the BlynkParam.h file I believe. I've seen people having the same issues around the internet, but have not found a solution that works for me, so if you have any idea on how to fix that or what the blynk 0.6.1 host, please let me know!

[2022-04-21 12:10] nbolton opened #223 "Tell customers when they hit the widget limit"
Feature request.

I discovered that when adding 13 text labels, the 13th does not render and no error is displayed.

Workaround: Delete a label that you don't need, then delete and re-create the 13th text label to get it to render.

Edit: @eepetrash suggested that I may have hit the widget limit for my pricing tier: https://github.com/blynkkk/blynk_Issues/issues/223#issuecomment-1270177319

It wou

[2022-04-21 12:25] nbolton commented on #223
@doom369 also seems to happen for labelled values too.

![image](https://user-images.githubusercontent.com/313427/164457536-3f7c9d85-b24d-45fe-ba7e-a533d4fdc7bc.png)
![image](https://user-images.githubusercontent.com/313427/164457565-2098015b-2d3e-4bbe-8d0a-7dfb287c6a34.png)
![image](https://user-images.githubusercontent.com/313427/164457572-e5bf7638-99b0-4869-939a-40fa1ca094d4.jpeg)

[2022-05-05 23:25] orilzzz commented on #149
I had the same problem while using my "ESP32 devkit C v4" board. After going through the entire internet, I was able to solve my problem by downgrading my esp32 board, to version 1.0.0 in the Board Manager of the Arduino IDE.

Really terrible and time-consuming experience. Hopefully, this glitch is resolved soon, and there is proper documentation.

[2022-06-16 14:24] OSAMU-cooG commented on #69
I have the same problem. Did the problem go away after that?

[2022-07-19 20:22] italex33 commented on #120
The thread was closed without being it solved, any update on this issue? I am using Blynk 2.0 which means I am paying for something better.

[2022-07-22 10:55] nbolton opened #224 "Erase data does not use default values"
Related: #225

To reproduce: Click 'Erase data'

Expect: Fields are set to default values
Actual: Fields have no data

![image](https://user-images.githubusercontent.com/313427/180425038-ad8d5bc1-a2e5-4634-bb6a-4e0514510b56.png)

Workaround: Delete the device and create a new one, update the auth token in the code, re-deploy app, etc.

[2022-07-22 10:56] nbolton opened #225 "Erase data does not erase chart data"
Related: #224

To reproduce: Click 'Erase data'

Expect: Chart data also resets
Actual: Charts have old data

![image](https://user-images.githubusercontent.com/313427/180425191-76a9a4d2-ff29-45aa-86c1-7424ea6245f4.png)

Workaround: Delete the device and create a new one, update the auth token in the code, re-deploy app, etc.

[2022-10-05 09:23] nbolton commented on #223
Still experiencing this issue.

[2022-10-06 14:39] eepetrash commented on #223
@nbolton this sounds like hitting a widget limit: https://blynk.io/pricing

[2022-10-10 08:44] nbolton commented on #223
I see! Ok, thanks.

<img width="233" alt="Screenshot 2022-10-10 at 09 43 02" src="https://user-images.githubusercontent.com/313427/194828524-c6f46e28-2f8f-40f2-aca4-d06b5135face.png">

[2022-10-15 10:26] Atomix2402 opened #226 "Invalid Auth Token issue on ESP8266"
Hey guys I need help here, I'm new to IoT and Blynk and for mini projects i was doing this Plant watering system using nodemcu and blynk app.
So when i was running the code in the ide.
in the serial monitor i got like this

[6303] Connected to WiFi
[6303] IP: xxx.xx.xx.xx
[6303]
    ___  __          __
   / _ )/ /_ _____  / /__
  / _  / / // / _ \/  '_/
 /____/_/\_, /_//_/_/\_\
        /___/ v1.1.

[2022-10-15 10:36] Atomix2402 commented on #226
@doom369  @blynkkk  Would you look at this issue please

[2022-10-26 06:20] Merlin-Arthur commented on #114
Please am having a problem upload my code to esp8266. any help?
scandone
state: 0 -> 2 (b0)
state: 2 -> 3 (0)
state: 3 -> 5 (10)
add 0
aid 1
cnt

connected with DWIN, channel 2
dhcp client start...
ip:192.168.43.192,mask:255.255.255.0,gw:192.168.43.97
[10582] Connected to WiFi
[10582] IP: 192.168.43.192
[10582]
    ___  __          __
   / _ )/ /_ _____  / /__
  / _  / / // / _ \/  '_/
 /____/_/\_

[2022-11-04 18:41] hacksick commented on #114
thank you so much it worked

[2022-11-21 06:55] defailopest opened #227 "arduino invalid auth token problem"
i have been trying to connect to my blynk but its writing invalid auth token

[2022-11-21 07:00] defailopest commented on #227
![invalid auth](https://user-images.githubusercontent.com/106540798/202985103-54187166-432e-47ff-a879-3e649995b27e.jpg)
![invalid auth](https://user-images.githubusercontent.com/106540798/202985375-a0efd279-9c0a-432a-972e-db8b382ea0a9.jpg)

[2022-11-21 08:35] EarlOld commented on #227
@defailopest please check server URL. You need to connect to blynk.cloud

[2022-11-21 08:37] EarlOld commented on #226
@Atomix2402 please check server URL. You need to connect to blynk.cloud

[2022-11-21 08:39] EarlOld commented on #226
@Atomix2402 just replace `Blynk.begin(auth, ssid, pass);` to `Blynk.begin(auth, ssid, pass, "blynk.cloud", 80);`

[2022-11-21 08:40] EarlOld commented on #227
[code]
@defailopest

[2022-11-21 10:49] defailopest commented on #227
i have done all that and it will start indicating that my auth token is invalid

[2022-11-21 21:49] defailopest commented on #227
![DDDDD](https://user-images.githubusercontent.com/106540798/203164891-b6dd8f8b-b14b-468f-a989-b1ea1bf85b4e.jpg)

[2022-11-21 21:51] defailopest commented on #227
![DDD](https://user-images.githubusercontent.com/106540798/203165186-4d8852f9-1bf7-47c5-9852-a9ad7f906fe9.jpg)