[2021-03-26 19:02] gustavolsj opened #1 "Beta Demo"
Hi

Is there a recording of the demo session I could watch again?

I had some connection problems and I missed some parts.

Or maybe you can point me out some place where I can read the documentation?

Thanks

[2021-03-26 19:11] doom369 commented on #1
@blynkkk could you please provide a demo?

[2021-03-26 19:17] doom369 opened #2 "ESP8266 provision failed (device hasn't connected to the cloud)"
@vshymanskyy report from a user with failed provision:

[code]

[2021-03-26 19:53] Peterkn2001 opened #3 "ESP8266: Provisioning Failed, had to use workaround"
Android device: Nexus 7 running Android 6.0.1
Hardware:  Wemos D1 Mini

I tried to add a new device from the app, Selected the device in the "Choose your WiFi network screen" and received the "Connecting..." screen.
Initially my D1 Mini rebooted as in: https://github.com/blynkkk/beta/issues/2

I then saw the `WAIT_CONFIG => CONFIGURING` message in the serial monitor but the app showed "Can't conne

[2021-03-26 19:55] vshymanskyy commented on #2
@thanxx did you try provisioning esp8266 devices on `blynk.cloud`?
I connected several devices for the demo without issues.

[2021-03-26 20:05] spiutm commented on #2
the serial monitor above appears after configuring wi-fi **checked**, reconnecting back to cloud **check** but it’s stuck on waiting for device online

[2021-03-26 21:21] spiutm commented on #3
besides the ssid , pass and token , what did u put on host and port? blynk-cloud. com and 80?

[2021-03-26 21:41] jxl77 opened #4 "The link to the documentation to blynk.360 does not work for me"
The link to the documentation  to blynk.360
given here
https://docs.blynk.io/en/platform-overview/products-and-services/products
   does not work
https://docs.blynk.io/en/ssrSpaces/spaces/en

[2021-03-26 22:06] spiutm commented on #3
besides the ssid , pass and token , what did u put on host and port? blynk-cloud. com and 80?

[2021-03-26 23:15] Peterkn2001 commented on #3
Host is blynk.cloud
Port is 443

You get the Auth Token from Dashboard > Devices > Device Info (you have to click the little square to the right to copy it)

And I just noticed that I mis-typed the IP address of the captive portal - should be 192.168.4.1

Pete.

[2021-03-26 23:33] spiutm commented on #3
I already tried all combination, including
Host is blynk.cloud
Port is 443
some times after apply, i get a message "all ok, try to connect" or similar, and still no connection, but i noticed something in my serial monitor, it keeps telling me to "hold the button to reset configuration" besides the normal output, i think something is wrong with the library or how the library uploaded, or the sketch

[2021-03-26 23:41] Peterkn2001 commented on #3
Have you inserted your Template ID and Device Name at the top of Edgent ESP8266_test ?

Note that `blynk.cloud` is EXACTLY that (not blynk.cloud.com or blynk-cloud.com)

Pete.

[2021-03-26 23:47] spiutm commented on #3
I found the error,
// Uncomment your board, or configure a custom board in Settings.h
//#define USE_SPARKFUN_BLYNK_BOARD
#define USE_NODE_MCU_BOARD
//#define USE_WITTY_CLOUD_BOARD

it has to stay
//#define USE_NODE_MCU_BOARD
 so don't touch that
now it is online on dashboard, ill try to connect whit the app also

[2021-03-27 00:22] Peterkn2001 opened #5 "Recycled widgets re-appear again"
Android device: Nexus 7 running Android 6.0.1

When removing a widget from the app by dragging it over the "recycle" logo it disappears, but when an existing widget is edited, or a new one added, the recycled widget re-appears.
Opening the unwanted widget and scrolling down to "Delete" works as expected.

**Gauge widget added...**

![Screenshot_20210327-005550](https://user-images.githubuserconten

[2021-03-27 07:24] spiutm commented on #2
I found the error,
// Uncomment your board, or configure a custom board in Settings.h
//#define USE_SPARKFUN_BLYNK_BOARD
#define USE_NODE_MCU_BOARD
//#define USE_WITTY_CLOUD_BOARD

it has to stay
//#define USE_NODE_MCU_BOARD
so don't touch that
now it is online on dashboard, ill try to connect whit the app also

[2021-03-27 07:43] spiutm opened #6 "pin selection, groups and automation missing from app"
pin selection, groups and automation missing from app

[2021-03-27 08:55] thomoray opened #7 "Widget does not function unless app restarted"
Phone Sony XZ2 Android version 9
Tablet Samsung S6 lite Android version 11

After adding a widget and going back to the device the widget does not make ESP8266 react.
If I leave the app either closing or placing it into the background then after coming back in the app refreshes and the widget functions as expected.

Steps to reproduce.
Go to developer mode inside of the app.
Open the device and ad

[2021-03-27 08:59] Peterkn2001 commented on #6
Pin selection is done via Datastreams. These have to be defined in the web dashboard and are done at Template level.

Pete.

[2021-03-27 08:59] thomoray opened #8 "Unable to scroll widget setting on tablet"
Tablet Samsung S6 lite Android 11

When trying to setup widget settings in landscape on the tablet the settings do no scroll and just shudder in place.

Steps to reproduce
Turn the device to landscape view
Go to developer mode in the app
Select a device
Add a button
Tap on the button and try scrolling down to settings below the fold.

[2021-03-27 09:08] doom369 commented on #8
@thomoray thanks for the report! @alexkipar Please take a look.

[2021-03-27 09:13] doom369 commented on #6
@spiutm Peter is right.

**DataStreams**

Now you have to assign a datastream instead of the pin. Datastream is a part of the Template on the Web Dashboard. At the moment there is no editor of the template on the mobile. So you have to create it on the web.

**groups**

Groups are disabled for the Beta. We plan to refactor them soon. So we decided to hide them for now.

**automation**

In order to

[2021-03-27 09:15] Peterkn2001 commented on #3
I get exactly the same behaviour whether `#define USE_NODE_MCU_BOARD` is enabled or commented-out.

Pete.

[2021-03-27 09:18] doom369 commented on #2
@spiutm thanks for the update. @vshymanskyy is that expected?

[2021-03-27 09:22] doom369 commented on #4
@Mark-Pan this link:

![screenshot-docs blynk io-2021 03 27-11_22_30](https://user-images.githubusercontent.com/1536494/112716380-bed62d00-8eee-11eb-9055-858ed40093e3.png)

[2021-03-27 09:27] Peterkn2001 commented on #6
It seems that the only automation actions are "send email" or "send notification".
Does this mean that it's not possible to update the value of another widget via an automation?

Pete.

[2021-03-27 09:30] doom369 commented on #6
@Peterkn2001 do you have the datastreams with "Avaialble in Actions" checkbox checked?

[2021-03-27 09:33] Peterkn2001 commented on #6
Yes, and LED widget attached to V0, that I was trying to control with a button widget attached to V1.
This is the LED widget setup...
![image](https://user-images.githubusercontent.com/35718564/112716646-76634300-8edf-11eb-9b8b-e04f5004bbe9.png)

Pete.

[2021-03-27 09:39] doom369 commented on #6
@Peterkn2001 could you please clarify: you don't see the option "Set device to" in the actions list or you don't see any device after you have selected the "Set device to" action?

[2021-03-27 09:44] doom369 opened #9 "Automation has no devices for action"
https://github.com/blynkkk/beta/issues/6#issuecomment-808701505

@alexkipar I checked the logs, looks like the issue on the Android side:

[2021-03-27 09:45] doom369 commented on #6
@Peterkn2001 I checked the logs, seems like app issue. I created a separate issue for that - https://github.com/blynkkk/beta/issues/9. Could you please send app logs it will help.

[2021-03-27 09:54] Peterkn2001 commented on #9
@doom369 asked me to send my logs to this issue....

 App Version Name: 1.0.4 (6)
 built at 26.03.2021 01:13

 OS API Level: 23
 Model: Nexus 7
 Manufacturer: asus

Granted Permissions: android.permission.INTERNET,android.permission.ACCESS_WIFI_STATE,android.permission.CHANGE_WIFI_STATE,android.permission.ACCESS_NETWORK_STATE,android.permission.CHANGE_NETWORK_STATE,android.permission.ACCESS_COARSE

[2021-03-27 09:56] Peterkn2001 commented on #6
Done, although my log file doesn't seem to show very much.

Pete.

[2021-03-27 10:41] jxl77 commented on #4
This is where I clicked
![bugdoc](https://user-images.githubusercontent.com/81445092/112718146-5c326080-8ef1-11eb-8478-89b42a4746c7.jpg)

[2021-03-27 12:06] spiutm commented on #6
so now all pins are just virtual? you have to connect virtual pin to analog pin in sketch? isn't that a downgrade from old blynk?

[2021-03-27 12:31] Peterkn2001 opened #10 "Enumerable Datastreams can't be exposed to Automations"
Adding an Enumerable Datastream and selecting "Expose to Automation" requires a type (sensor, power switch etc) to be chosen.
No matter which type is chosen, when attempting to save the Datastream, a message of:
"<datastream name> automation type <selected type> is not supported for 'Enumeration' datastream type"
is displayed...

![image](https://user-images.githubusercontent.com/35718564/11272073

[2021-03-27 12:48] spiutm commented on #10
we have the same setup so far d1 mini + led, i put mine on integer, and worked, set it up on phone app also using automation, the problem i encounter is now i need to find the sketch code to connect  V pins to d1 mini pins that have value 0 to 255 not low or high as in documentation, this seems way more complicated and unnecessary comparing to old blynk

[2021-03-27 12:51] Peterkn2001 opened #11 "Need a better way of deleting a Datastream"
Currently, the only way to delete a Datastream is to scroll to the far right of the Datastreams grid view and click the trashcan icon in the 'Actions' column). The trashcan icon isn't even visible until you hover over the place where the icon should be.

 I think we need a DELETE option in the Datastream edit dialogue.

The main problem though is that when a Datastream has been edited, the templat

[2021-03-27 13:51] alexkipar commented on #7
@thomoray does the device page is opened when you go into the developer mode?

[2021-03-27 13:53] alexkipar commented on #8
@thomoray it should scroll. but not by the empty side of the screen

[2021-03-27 13:57] alexkipar commented on #11
@Peterkn2001 there is a delete button at the end of the data stream row

[2021-03-27 14:18] spiutm opened #12 "BLYNK.sync(V0) missing from library, Blynk.syncAll() working"
i managed to sync the led value only with  Blynk.syncAll(); library doesn't recognize BLYNK.sync(V0)

error: 'class BlynkWifi<BlynkArduinoClientSecure<BearSSL::WiFiClientSecure> >' has no member named 'sync'
   Blynk.sync(V0);
         ^
exit status 1

[2021-03-27 14:37] spiutm commented on #2
**update**, i flashed the second d1 mini i use, this time, whit the setting above, connected using the app whit no problems, as intended

[2021-03-27 14:42] Peterkn2001 commented on #11
Yes, that’s why I said...
`Currently, the only way to delete a Datastream is to scroll to the far right of the Datastreams grid view and click the trashcan icon in the 'Actions' column). The trashcan icon isn't even visible until you hover over the place where the icon should be.`

however, it’s not easy to find, especially as the trash can icon is invisible until you hover over it.

Just trying t

[2021-03-27 14:44] alexkipar commented on #11
@Peterkn2001 got it, I thought 'far right' meant top one button. yes, you are right that delete option should be presented better

[2021-03-27 14:47] alexkipar commented on #5
@Peterkn2001 should be fixed in a new build

[2021-03-27 14:48] doom369 commented on #6
For now - yes.

From the point of view of "wow" effect it is. From the point of view of "real" hardware products - it's not. We have 0 customers who need this.

[2021-03-27 14:48] alexkipar commented on #8
@thomoray can't reproduce it, can you attach a video?

[2021-03-27 14:50] doom369 commented on #10
@Peterkn2001 Enumeration DS was added just recently, so we haven't added support for it everywhere. We'll fix it someday.

[2021-03-27 14:53] doom369 commented on #11
Agree, especially regarding the popup message.

[2021-03-27 15:08] Peterkn2001 opened #13 "Slider widget strange behaviour"
The "Show value" option on the Horizontal and Vertical Slider widgets doesn't work.

The Vertical Slider widget doesn't respond to the "knob" being moved, only tapping above or below the know will move the slider position.
The Horizontal Slider works correctly.

Pete.

[2021-03-27 15:09] spiutm commented on #6
sad, more code, less memory, the logic here behind virtual pins is that u can control more then 1 analog pins in same time with just 1 virtual pin, but that has a bad application over individual sensors, multi pwm cases, etc

[2021-03-27 15:28] doom369 commented on #6
It's not something we won't do. It's just not yet done on the new platform. It's in our plans.

[2021-03-27 15:29] alexkipar commented on #13
@Peterkn2001 yep, we forgot to remove the 'show value' option - will be removed. You can always add value display widget on the same ds to show the value

I will check vertical slider work

[2021-03-27 16:17] Peterkn2001 commented on #13
Have you actually tried that? I have and it doesn't work for me.

Pete.

[2021-03-27 16:19] Peterkn2001 commented on #12
The correct syntax is `Blynk.syncVirtual(V0)` and it's working fine for me.

Pete.

[2021-03-27 16:23] alexkipar commented on #13
@Peterkn2001 strange, it works on my side.
1. Set up the same data stream in slider and value/labeled display,
2. Go back to device tiles
3. Open device - move slider and verify value in value/labeled display

[2021-03-27 16:25] spiutm commented on #12
nice

[2021-03-27 17:02] Peterkn2001 opened #14 "Widgets display different values when "Device Tile" closed then re-opened"
I've set-up a simple app with three widhets...

A Button widget in Switch mode - range set to 0/1
A Horizontal Slider widget - range set to 0/255
An LED widget

The slider alters the brightness of the LED and the button turns the LED on and off.
The functionality of these widgets is working fine when the tile is open...

![image](https://user-images.githubusercontent.com/35718564/112727896-9796548

[2021-03-27 17:09] Peterkn2001 opened #15 "When moving widgets on the grid in the app, only one action is possible"
Android device: Nexus 7 running Android 6.0.1

When attempting to adjust the position/size of widgets on the layout grid in the app. a long press on the widget selects it an allows it to be moved or resized using the handles.
However, attempting to re-select the same widget, or any other widgets, is unsuccessful.
The only way to re-enable the selection of a widget using a long press is to exit the

[2021-03-27 17:15] Peterkn2001 commented on #13
Okay, The Value Widget wasn't displaying anything, but killing the app and re-launching it has fixed the problem.

Possibly related to issue #7

Pete.

[2021-03-27 17:34] alexkipar commented on #13
@Peterkn2001 yep, it will be fixed with the next release.

[2021-03-27 20:23] #12 closed

[2021-03-28 03:36] thomoray commented on #8
@alexkipar please close this ticket I have tried many different ways but I am also not able to reproduce.

[2021-03-28 03:59] thomoray commented on #7
Here is link for a recording of the steps I take to reproduce the issue hope it helps.

https://drive.google.com/file/d/1-k76cyB0Csjh6Snix9sEszQYNIbV2SkP/view?usp=drivesdk

[2021-03-28 04:03] thomoray opened #16 "Adding tabs crashs the app"
Phone Sony XZ2 Android 9
Tablet Samsung S6 lite Android 11

Add tabs to device
Exit developer mode and go back to device
When tapping on the device app exits

https://drive.google.com/file/d/1-ksrp6nuFAgQ7jrufhac-9jqiZ0vfHtg/view?usp=drivesdk

[2021-03-28 04:10] alexkipar commented on #8
@thomoray got it, it may be some ANR type of issue - I will check the performance logs from play store. thanks.

[2021-03-28 04:10] #8 closed

[2021-03-28 04:14] alexkipar commented on #16
@thomoray thanks, we will soon publish a bugfix version with a fix to this issue too

[2021-03-28 04:43] alexkipar commented on #7
@thomoray should be fixed with just published 1.0.6 - hope it will be available to update quite soon

[2021-03-28 04:43] alexkipar commented on #13
@Peterkn2001 described issues should be fixed with just published 1.0.6, 'show value' switch is removed by now.

[2021-03-28 04:44] alexkipar commented on #16
@thomoray it is fixed in 1.0.6 build

[2021-03-28 07:40] Peterkn2001 commented on #13
Tersting complete with version 1.0.6 of the app.

"Show value" option removed from H & V slider widgets.
Vertical slider control knob now responds as it should.

You can close this issue now - thanks.

Pete.

[2021-03-28 07:41] Peterkn2001 commented on #15
Seems to have been fixed in version 1.0.6 of the app.

Can be closed.

Pete.

[2021-03-28 07:43] Peterkn2001 commented on #5
Has been fixed in version 1.0.6 of the app.

Can be closed now - thanks.

Pete.

[2021-03-28 07:44] #13 closed

[2021-03-28 07:44] #15 closed

[2021-03-28 07:44] #5 closed

[2021-03-28 07:54] Peterkn2001 commented on #7
Seems to be fixed in version 1.0.6 of the app with the testing that I've done, but maybe allow @thomoray to confirm before closing?

Pete.

[2021-03-28 08:14] Peterkn2001 opened #17 "Changing text size on Value and Labelled Value widgets has no effect"
Android device: Nexus 7 running Android 6.0.1
Blynk app version 1.0.6

Changing the text size settings in Value and Labelled Value widgets has no effect on the size or weight of the text.

Pete.

[2021-03-28 09:08] doom369 commented on #7
Closing. @thomoray please reopen if reproduced with the latest build.

[2021-03-28 09:08] #7 closed

[2021-03-28 09:19] thomoray commented on #16
Confirmed all issues raised are now working.

[2021-03-28 09:20] doom369 commented on #16
Nice. @thomoray thanks for the confirmation

[2021-03-28 09:20] #16 closed

[2021-03-28 10:47] marminatix opened #18 "Cloud interface learning curve"
Hi.
First of all I've to tell you I'm not a skilled software programmer but I oftenly use Blynk in a basic manner to demonstrate to managers my work results as operation's consultant and the quantitative impact of my methods on company's productivity.

The "only-android" suite is very fast to understand and to learn to use, very friendly and really effective in terms of work/result ratio. A lot of

[2021-03-28 12:33] rmznsy opened #19 "On Web dashboard changing Label Widget's Level Color is not working"
When you want to change the Level Color of Label Widget, it become grey.

Browser: Firefox 87.0 on Mac Os.

![Screen Shot 2021-03-28 at 15 30 48](https://user-images.githubusercontent.com/81516108/112752237-a7746e00-8fda-11eb-9ee8-9fb33473d020.png)

[2021-03-28 17:00] Peterkn2001 commented on #19
It's working okay for me, Windows 10, Chrome browser...

Changed from Blue to Orange...

![image](https://user-images.githubusercontent.com/35718564/112760528-2d021900-8fef-11eb-9b3b-a6055c9c3a6e.png)

![image](https://user-images.githubusercontent.com/35718564/112760539-3be8cb80-8fef-11eb-84ea-1a4a8809caf3.png)

Pete.

[2021-03-28 17:39] doom369 commented on #18
@marminatix thanks for the feedback. I agree, we already reworked some UI screens few times and this is never-ending ongoing work. Every sprint we implement dozens of improvements and we have an onboarding guide in our plans. Still, a lot of work to do.

[2021-03-28 19:26] Peterkn2001 commented on #18
I tend to agree with some of @marminatix's comments and have some thoughts to share, so I'll use this issue as the place...

**Templates**
I find the Template/Device approach slows development down quite a bit if you're creating a one-off device, or projects that use substantially different devices.
It's obviously going to be a quicker way to work if you're attempting to deploy dozens of identical

[2021-03-29 08:09] Mark-Pan commented on #4
Links are fixed. (Gitbook issue)

@jxl77 clear your browser's cache and check on your side please.

[2021-03-29 10:44] spiutm opened #20 "BLYNK_WRITE(V0) affecting temperature sensor on V5"
Blynk.syncVirtual(V0) affecting temperature sensor on V5

with
BLYNK_CONNECTED()
{ // when device is conneceted to Blynk Cloud...
 Blynk.syncVirtual(V0); // syncs V0 pin only (even if sync setting is off for V0
  }
and sensor on V5 i get this:
13:42:09.792 ->   Temp = 20.94
13:42:11.995 ->   Temp = 20.88
13:42:14.292 ->   Temp = 20.88
13:42:15.084 ->   Temp = -127.00
13:42:17.235 ->   Temp = 20.94

[2021-03-29 10:59] Peterkn2001 commented on #20
The -127.00 reading means that the temperature sensor library (DallasTemperature.h maybe?) failed to read the sensor.
That's probably happening because of the code that you're running in your BLYNK_WRITE(V0) callback function.

The solution is to simply ignore any -127.00 readings.

Pete.

[2021-03-29 11:03] spiutm commented on #20
can't ignore, i'm using alerts for drop or temp rise, i use:
Blynk.virtualWrite(V5

on DallasTemperature sketch standalone or in new blynk sketch works fine if i remove sync, but i need sync for leds, works fie on old blynk

[2021-03-29 11:40] spiutm commented on #20
tested like this, i removed sync and results are , every time i use slider to move v0, v5 gets -127, so is as Peterkn2001  mentioned above BLYNK_WRITE(V0) resets sensor on v5, any fix for this?

[2021-03-29 11:42] thomoray opened #21 "Superchart issues"
Tablet Samsung s6 lite Android 11

Adding a super chart to the device has the following issues

* add datastream does not save unless y-axis type is changed
* chart does not display data unless app restarted

https://drive.google.com/file/d/107wZukg0DCrnPGxXYc1nTme-h64FCysm/view?usp=drivesdk

Cheers

Ray

[2021-03-29 12:02] Peterkn2001 commented on #20
You're taking a reading every 2 seconds. Ignoring one reading that is an outlier isn't going to make much difference!

Pete.

[2021-03-29 12:04] spiutm commented on #20
tried delay 2000 still keeps messaging me alerts low tem as it is set drop below 20 and i have 21-22 temp

[2021-03-29 12:36] Peterkn2001 commented on #20
I don't think you understood my suggestion.
You need an `if` statement that checks whether the result of the sensor is -127.00
something like this...
[code]

Pete.

[2021-03-29 12:38] spiutm commented on #20
thank you, i will try

[2021-03-29 12:41] Peterkn2001 opened #22 "Auto-refresh needed on web portal"
As the description says, the web portal (dashboard) needs to auto-refresh so that on/offline device statuses etc. update automatically without having to manually refresh the browser.

Pete.

[2021-03-29 12:53] doom369 commented on #22
@Peterkn2001 it's already fixed. Requires the new deployment.

[2021-03-29 13:41] Peterkn2001 opened #23 "App needs to be killed and restarted to make new Datastreams available"
Android device: Nexus 7 running Android 6.0.1
Blynk app version 1.0.6

After adding new datastreams to a template and saving with the "Update x active device(s)" these datastreams aren't immediately available to assign to widgets.
The only way to overcome this seems to be t6o kill the app and re-open it, at which point the datastreams become available for selection.

Pete.

[2021-03-29 13:45] spiutm commented on #20
had to modify it a lot, but seems a good example so far, 5 min far in testing and no temp drop alert, ty Peterkn2001 you saved me a lot of frustration,  i'm kind of new in arduino , can i ask what the ",2" from Blynk.virtualWrite(V0, String(temp, 2)); stands for? cuz i tried this morning a "if" code of my own and didn't work, even thou it looks similar to yours but no string and ,2

[2021-03-29 13:52] spiutm commented on #20
i guess, digits number?

[2021-03-29 14:44] #20 closed

[2021-03-29 15:10] alexkipar commented on #21
@thomoray app restart issue should be fixed in the latest build, which version are you using?

[2021-03-29 15:15] Peterkn2001 opened #24 "Overlapping Widgets"
Android device: Nexus 7 running Android 6.0.1
Blynk app version 1.0.6

I've discovered that it's possible to overlap one widget on another, and I guess that this isn't an intended feature?

In this example, I've dropped a Value widget on top of a Horizontal Slider...

![image](https://user-images.githubusercontent.com/35718564/112857201-8417f480-90a8-11eb-894b-88fb91818061.png)

This is how it loo

[2021-03-29 15:18] Peterkn2001 commented on #23
I'm nit sure why this would be classed as an enhancement. If you add a datastream and update the devices associated with that datastream then I wouldn't expect to have to kill the app and re-launch for that datastream to become available within the app.

Pete.

[2021-03-29 15:24] Peterkn2001 commented on #11
A bit more on this....
I've noticed that in the "My Devices" table view, the "Actions" column is pinned at the right hand side of the screen, so it's always visible.

![image](https://user-images.githubusercontent.com/35718564/112859866-2933cc80-90ab-11eb-8f4e-c273ebdb313f.png)

I think the same thing is needed in the Template / Datastreams view.

Pete.

[2021-03-29 15:37] alexkipar commented on #24
@Peterkn2001 This only seems possible when the slider widget is moved to its new position without exiting edit mode:

Does it mean:
1. Add widget
2. Move it immediately after adding
3. Exit dev mode?

[2021-03-29 16:02] doom369 commented on #23
@Peterkn2001 because this is how most of the systems work. For example, go to let's say Facebook, open 2 tabs, and post in one tab, you'll see no update in the second tab until you do the update manually.

"force close" is not the right way to do that. So just refreshing the tiles somehow should fix that.

[2021-03-29 16:05] alexkipar commented on #23
@doom369 @Peterkn2001 I'm adding refresh of datastream on any open of datastreams picker - it will fix this issue.

[2021-03-29 16:11] doom369 commented on #23
@alexkipar I don't think that's the best idea... Maybe it would be better to send an update event to the app. Otherwise, you'll do a lot of call during the typical setup

[2021-03-29 16:15] alexkipar commented on #21
should be fixed in 1.0.7 version

[2021-03-29 16:15] alexkipar commented on #23
should be fixed in 1.0.7 version

[2021-03-29 16:16] alexkipar commented on #17
should be fixed in 1.0.7 version

[2021-03-29 16:17] alexkipar commented on #14
@Peterkn2001 is it still reproduces? if yes - can you send me logs from the next app's version (1.0.7) - it should be available in 30mins-1hour

[2021-03-29 16:19] alexkipar commented on #24
@Peterkn2001 I will check the lags on my Nexus 7 - it is possible that a huge dashboard can lead to such issues.

[2021-03-29 16:20] alexkipar commented on #23
@doom369 I will add later some timeout checks, for now, it would be better not to restart the app.

[2021-03-29 16:44] doom369 commented on #11
@Peterkn2001 it's also pinned in the datastream section. Isn't it?

[2021-03-29 17:03] Peterkn2001 commented on #24
Okay, after lots of playing around, I can now reproduce this about 50% of the time.

What seems to be required (although this may not be 100% accurate)...

Enter dev mode.
Move widgets from their existing position to a new position that was previously unoccupied.
It seems that two widgets need to be moved to new locations, and that they need to touch each other.
Then, move a third widget over the

[2021-03-29 17:07] Peterkn2001 commented on #11
Yes, you're right, apologies!

Pete.

[2021-03-29 17:28] Peterkn2001 commented on #14
It is still happening.
Here's a video made with version 1.0.6
https://www.youtube.com/watch?v=fkVNp3rDUj8

The Switch widget has a labelled value widget below it attached to the same datastream, and the slider widget also has a labelled value widget, which is above it and to the right.

The LED brightness is controlled by the slider, and the LEDE will be off if the switch is off.

You'll see that

[2021-03-29 17:39] alexkipar commented on #14
@Peterkn2001 thanks, logs will be super useful, if possible - send them via email, it seems Github doesn't support file attachments.

[2021-03-29 18:00] #1 closed

[2021-03-29 18:12] spiutm opened #25 "Notifications sometimes needs phone unlock to work"
Notifications sometimes needs phone unlock to work, like 50% in rest works fine, fast response

scene: notification on temperature rise or drop set on specific range

[2021-03-29 18:52] Peterkn2001 commented on #14
Okay, I've upgraded to 1.0.7 and sent you the logs via email.

The problem still persists, and I think I understand it better now.
If I turn the button widget off and set the slider to 255 then kill the app and restart it, these are the values that it reverts to when the device tile is opened then closed again.

Pete.

[2021-03-29 19:05] alexkipar commented on #25
@spiutm can you add your smartphone model and android os version?

[2021-03-29 19:13] spiutm commented on #25
samsung note 9 android 10

[2021-03-29 19:16] Peterkn2001 opened #26 "Labelled Value Widgets - text added after label is bold"
App version 1.0.7

Text added after the label value appears bold, as in the screenshots below..

![image](https://user-images.githubusercontent.com/35718564/112887617-4bd5dd80-90cb-11eb-83d6-7017c85620aa.png)

Pete.

[2021-03-29 19:18] alexkipar commented on #26
@Peterkn2001 different font is correct. on such suffixes - there is no need to add them in formatting. you can set up Data Stream unit - and as a result, you will have this suffix auto-added to the value, plus it will be better formatted as half text size.

[2021-03-29 19:22] Peterkn2001 opened #27 "Enhancement Request - Add default text colour to picker"
The default text colour appears to be a very dark blue (38 41 87 according to Photoshop), but this colour isn't available as one of the presets in the colour picker.
Although it's possible to add this as a custom colour, that's difficult if you aren't able to work-our what the RRGGBB value is.

Pete.

[2021-03-29 19:23] Peterkn2001 commented on #17
Font re-sizing now works correctly in 1.0.7

This issue can be closed - thanks.

Pete.

[2021-03-29 19:26] #17 closed

[2021-03-29 19:44] thomoray commented on #21
@alexkipar confirmed everything is now working.

Cheers
Ray

[2021-03-29 19:45] #21 closed

[2021-03-29 19:51] spiutm opened #28 "Label level lost color after change, dashboard"
Label level lost color after change, dashboard

had it on blue, wanted it green, change it and now has no color

[2021-03-29 19:53] alexkipar commented on #28
@spiutm android app or web dashboard?

[2021-03-29 19:54] spiutm commented on #28
web dashboard

[2021-03-29 19:54] Peterkn2001 commented on #28
Is that the same as this: #19

Pete,

[2021-03-29 19:55] spiutm commented on #28
yes sorry didn't seen that
ill close

[2021-03-29 19:55] #28 closed

[2021-03-29 19:58] alexkipar commented on #27
@Peterkn2001 added our primary and secondary colors to the picker. in the future, we will improve this dialog with a better custom color palette.

new build 1.0.8 with a fix should be available in an hour at max

[2021-03-29 19:58] Peterkn2001 commented on #23
Tested, issue is fixed in 1.0.7

Issue can be closed - many thanks,

Pete,

[2021-03-29 19:58] alexkipar commented on #14
New build 1.0.8 with a fix should be available soon

[2021-03-29 19:59] #6 closed

[2021-03-29 19:59] alexkipar commented on #24
Pete,

It seems the drag is improved - no visible lagging on my Nexus 7. Also the bug with overlap should be fixed too. New build 1.0.8 with a fix should be available soon

[2021-03-29 19:59] #23 closed

[2021-03-29 20:00] #26 closed

[2021-03-29 20:10] thomoray opened #29 "Error Generating Device Report"
Not able to generate the report in JSON format calling Get Device Report

File format worked ok with the below settings but when changing to JSON as per docs I received an error.

![image](https://user-images.githubusercontent.com/12146573/112893874-f29b9780-9126-11eb-9dfc-bb41cffc519a.png)

[2021-03-29 20:20] thomoray opened #30 "Icon Button filled with solid color"
Not sure if this is intended or not please confirm.

When selecting the below options on an icon button it displays ok until placed in there on state, then it fills with a solid color. The expectation would have been the outline stayed as is and the icon just changed color. All buttons with solid color have an icon in them although this cannot be seen.

![image](https://user-images.githubuserconte

[2021-03-29 20:37] thomoray opened #31 "Updating Batch Virtual Datastream has no affect"
When sending batch virtual datastream updates nothing changes on web dashboard but 200 response is received.

![image](https://user-images.githubusercontent.com/12146573/112896514-393ec100-912a-11eb-9c21-34cb3c8737ca.png)

http://somup.com/creUYzbBbO

Cheers
Ray

[2021-03-29 21:20] Peterkn2001 commented on #14
Confirm that this is fixed in 1.0.8

Issue can be closed - thanks.

Pete.

[2021-03-29 21:23] Peterkn2001 commented on #27
Confirm fixed in 1.0.8

Can be closed - thanks.

Pete.

[2021-03-29 21:32] Peterkn2001 commented on #24
Tested with 1.0.8 and dragging is greatly improved. I've had numerous attempts and can't re-create the overlapping widget issue again with the new version, so I think it's safe to say that it's fixed, and the issue can be closed.

Thanks.

Pete.

[2021-03-29 21:36] vshymanskyy commented on #2
Closing in favor of #3

[2021-03-29 21:36] #2 closed

[2021-03-29 21:37] #24 closed

[2021-03-29 21:38] #14 closed

[2021-03-29 21:38] #27 closed

[2021-03-30 06:21] doom369 commented on #31
@thomoray API used is not correct. Should be `v1=22&v2=11`. However, error is not thrown in that case. I'll fix that.

[2021-03-30 06:23] rmznsy opened #32 "On Android, in SuperChart some colors of Datastreams does not show up"
These two colors does not visible before the text. İts just empty.

Android App: 1.0.8
S10e Android 11

![Screenshot_20210330-090047_Blynk Cloud](https://user-images.githubusercontent.com/81516108/112942732-42835a00-9139-11eb-8ce5-1c80c1461669.jpg)
<img width="598" alt="Screen Shot 2021-03-30 at 09 19 48" src="https://user-images.githubusercontent.com/81516108/112942759-4adb9500-9139-11eb-9b31-3f7

[2021-03-30 06:29] doom369 commented on #26
@alexkipar but why it is bold anyway?

[2021-03-30 06:34] alexkipar commented on #26
@doom369 it is no bold. it is just thicker than decimals font, which is super fin.

[2021-03-30 06:35] alexkipar commented on #32
@rmznsy they are not supported. it is a bug that they are visible

[2021-03-30 07:35] Peterkn2001 opened #33 "Problem extracting Blynk.Air shipment reports"
Downloaded Blynk.Air shipment reports can't be extracted using the Windows 10 built-in Zip functionality - a "parameter is incorrect" message is generated...

![image](https://user-images.githubusercontent.com/35718564/112950346-16b0a600-9132-11eb-98e8-3a382b59e126.png)

Extracting the file using WinRar was successful.

Pete.

[2021-03-30 08:03] vshymanskyy commented on #3
Ordered some WeMos D1 Mini to check with this specific device.

[2021-03-30 08:09] doom369 commented on #33
It's because of the colon. As quick fix, you can replace it with something else.

[2021-03-30 08:18] Peterkn2001 commented on #33
You can't change the name of a file within a .zip archive without extracting it first - at least not with the W10 built-in .zip extraction tools.

Pete.

[2021-03-30 08:22] spiutm commented on #3
WeMos D1 Mini works fine, as i mentioned above, did Peterkn2001's d1 mini connected with no workaround? cuz i connected 2 d1 minis with the app after
 "it has to stay
//#define USE_NODE_MCU_BOARD
so don't touch that"

[2021-03-30 09:41] Peterkn2001 commented on #3
I've just been doing a bit more experimentation, and I think I have a few clues that may help.

First of all, the `#define USE_NODE_MCU_BOARD` is a bit weird. It causes this pin allocation to be used...
[code]
I've never seen a NodeMCU with a tri-colour LED attached to D8, D7 & D6 (GPIO's 15, 13 & 12).
Every NodeMCU I've ever seen have a single blue LED attached to GPIO2 (D4)

I've commented-out t

[2021-03-30 09:42] Johnep101 opened #34 "Simple example"
I only have iOS devices (😒) so is there a really simple example somewhere that allows me to connect a device to the server without having an app to connect the device to the local WiFi router and cloud server?. I just want to get a device (esp32 dev board) up and running and get data onto the Blynk dashboard. Something like the standard Blynk.begin(auth,said,password) method?
Thanks

[2021-03-30 10:23] Johnep101 opened #35 "Can’t edit templates on ipad"
Maybe this is just a safari issue but I can’t edit a template on my iPad, can’t drag/drop widgets
iPad Pro using safari and ios 14.4.1

[2021-03-30 11:25] Peterkn2001 commented on #34
Install the 1.0.0beta3 library and use the ESP32 WiFi example.

In the Web portal, add a template that's based on an ESP32 board, then create a device based on that template.
The Template screen will give you two lines of firmware configuration, copy these and add them at the very beginning of your sketch.
In the Device > Device Info screen you'll find the Auth Token (left hand column, half way do

[2021-03-30 11:44] doom369 commented on #22
@Peterkn2001 yes, that's why we added "deployment required" which means the issue was fixed, tested, and now requires only deployment ot the cloud.
We are waiting for few more fixes and will do the deploy (1-2 days).

[2021-03-30 11:51] thomoray commented on #31
I have retested using the below as suggested and works correctly but the example in the documentation might need updating also.
![image](https://user-images.githubusercontent.com/12146573/112984060-21a71d00-91aa-11eb-912d-9b74a9878878.png)
![image](https://user-images.githubusercontent.com/12146573/112984109-2ff53900-91aa-11eb-8e4a-4f44335b5911.png)
I will await the deployment to test returns an e

[2021-03-30 11:53] doom369 commented on #31
@Mark-Pan please fix the documentation as well.

[2021-03-30 12:01] thomoray opened #36 "Update Batch Values - Enhancement"
Opening as a separate ticket but would be great if you could add timestamps to this.

This might help to eleviate some of the offline users where connectivity is of concern.

This would allow storing of data offline until connectivity is regained and then data can be uploaded filling any gaps in the data.

Cheers

Ray

[2021-03-30 12:04] doom369 commented on #36
Agree. We already planned that.

[2021-03-30 13:09] Peterkn2001 commented on #34
Hi John, what do you see in your serial monitor?

Pete.

[2021-03-30 13:33] Peterkn2001 commented on #34
Looks to me lie your WiFi credentials are incorrect, as you'd expect to see some sort of connected message and a a local IP address before attempting to connect to the Blynk server.

Pete.

[2021-03-30 13:56] Johnep101 commented on #34
Hi Pete,
I checked to credentials and they looked fine so I tried another board, that didn't work either so I reverted back to an old auth code I had an app for, that didn't work either. SO I rechecked the credentials and sure enough the wifi SSID was incorrect! so much for men checking things. I then got the start up banner and the  error  invalid Auth Token, I remember your earlier comments on t

[2021-03-30 14:04] doom369 commented on #34
@Johnep101 iOs app is planned to be released on Friday.

[2021-03-30 14:05] Johnep101 commented on #34
Brilliant thank you 👍

[2021-03-30 14:11] doom369 commented on #34
@Johnep101 you need to refresh the page. That's a bug, it was fixed. Will deploy it soon.

[2021-03-30 14:12] Johnep101 commented on #34
Ok it's just switched to online 👍

[2021-03-30 14:32] doom369 commented on #34
@Mark-Pan please add this answer to the docs for "static provisioning (old blynk way)" so we don't miss it.

[2021-03-30 14:36] doom369 commented on #33
deployed

[2021-03-30 14:36] doom369 commented on #31
deployed

[2021-03-30 14:37] doom369 commented on #22
Fix deployed.

[2021-03-30 14:37] doom369 commented on #19
@rmznsy fix deployed.

[2021-03-30 14:38] doom369 commented on #28
@spiutm fix deployed. Please let me know is still reproduced. It may require refreshing your browser page.

[2021-03-30 15:26] Peterkn2001 commented on #22
It's not working for me I'm afraid.

I turned TestDevice1 off 4:12pm.
The app shows Offline since 16:13, but the web browser still shows Online 15 minutes later...

![image](https://user-images.githubusercontent.com/35718564/113014197-513b3280-9174-11eb-857d-5f8501d4d4de.png)

Windows 10, Chrome browser. All browser windows were closed before starting the test, then just the Blynk web dashboard op

[2021-03-30 15:28] Peterkn2001 commented on #33
Tested and working - thank you.

Pete.

[2021-03-30 15:28] #33 closed

[2021-03-30 16:04] spiutm commented on #28
works fine now,ty

[2021-03-30 16:52] Mark-Pan commented on #34
Added to https://docs.blynk.io/en/tutorials/connecting-arduino-devices

[2021-03-30 18:38] Johnep101 commented on #34
Hi Dmitriy,
Sorry for contacting you directly but I think there will be a lot of confusion when you go public with this new Beta.
Firstly you need a whole bunch of new examples, the current ones just will not work and the the two given ones, although complete, are way to complex for most builders.
Secondly you need a new repository on GitHub  - completely separate from the current Blynk.
You also

[2021-03-30 18:48] doom369 commented on #34
I think in the same way. However, I not the only person who makes the decisions. So many decisions are still not final and under the discussion. We'll see. But we have to release what we have, otherwise, we would delay the Beta more and more.

That's really cool. Maybe @vshymanskyy could somehow guide you here.
And thanks for the shared aexample

[2021-03-30 20:24] alexkipar commented on #30
should be fixed in 1.0.9 build

[2021-03-30 20:25] alexkipar commented on #32
should be fixed in 1.0.9 build

[2021-03-31 07:13] marminatix opened #37 "Superchart and refreshing"
Hi.
Others on superchart:

Past data:
ANDROID: how to delete past data? or BETTER: how to save and/or delete past data? Zeroing the variable seems not working. APP version has a awful data download format. Could it be improved for easier speadsheet importing?
CLOUD: idem as ANDROID

Live Mode:
ANDROID: SOMETIMES, switching from 15 mins (or other higher) to LIVE, X axis doesn't flow in a reasonable

[2021-03-31 07:35] doom369 commented on #37
Could be done only on the web for now. @blynkkk FYI.

Do you mean beta or old version? Data format was changed in the BETA, you can check that in web interface.

Known issue - https://github.com/blynkkk/beta/issues/22. Will be fixed with next deploy.

[2021-03-31 08:37] Peterkn2001 commented on #37
A few more chart issues that I'll add in here...

Refreshing the web device dashboard always changes the timescale to "Last Hour", regardless of which timescale was show prior to the refresh.

Template view of web dashboard populates the chart and modules with data, but this bears no resemblance to the actual values shown in the device view (and would be even more confusing if there were multiple

[2021-03-31 09:15] doom369 commented on #37
I remember we fixed that if you switch between the device. But for a page refresh... We'll check if there is an easy fix.

That's was done on purpose to show how the graph might look like. As this template "edit" mode.

With dynamic provisioning, there are no more "device credentials". Now you have a device and you can change the token at any time. Via reprovisioning or via manual token update (av

[2021-03-31 10:05] alexkipar commented on #37
@marminatix you can't clear only graph data on mobile, but in device info screen you can remove all the data for a device.

[2021-03-31 10:31] Peterkn2001 commented on #37
It's one thing to give a simulated preview, but why would you populate the chart and modules with totally random, but correctly time-stamped data?
![image](https://user-images.githubusercontent.com/35718564/113130609-2bfe0100-9214-11eb-97e5-b4c8c9fdb54b.png)

which bears no resemblance to the actual data being received by the device...
![image](https://user-images.githubusercontent.com/35718564/11

[2021-03-31 10:39] spiutm commented on #25
any fix?

[2021-03-31 11:02] alexkipar commented on #25
@spiutm I can't reproduce this issue on my side it requires longer investigation

[2021-03-31 12:21] marminatix commented on #37
_"Do you mean beta or old version? Data format was changed in the BETA, you can check that in web interface."_
I intended the old app version 2.7.28. Tried to import .csv in Excel or google sheets but looks not "obvious" nor easy.
I'm gently asking if the data export, when in the future it would be available, could be more rapidly and directly analyzed with common spreadsheet or BI software. Thank

[2021-03-31 13:40] #19 closed

[2021-03-31 13:41] doom369 commented on #22
@Peterkn2001 now should be fixed.

[2021-03-31 13:44] doom369 commented on #37
In that case, it was fixed already in the new Beta.

@Peterkn2001 regarding "changes the timescale to "Last Hour"," should be fixed. Coul

[2021-03-31 13:44] #37 closed

[2021-03-31 13:57] Peterkn2001 commented on #22
No change.

The app shows the device as offline, but the web browser still shows online 10 minutes later, and the "Last Updated" date/time in the device list isn't refreshing.

Browser shows this information at the bottom...

Build Date: 16:28 31.03.2021, Commit Hash: 779020c0d3 , Commit Date: 16:24 31.03.21

Tested on Windows 10, Chrome browser.

Pete.

[2021-03-31 14:09] Peterkn2001 commented on #22
This screen....

![image](https://user-images.githubusercontent.com/35718564/113157739-14824080-9233-11eb-878b-52bc95b6d0d3.png)

Pete.

[2021-03-31 14:27] doom369 commented on #22
@Peterkn2001 strange. It works for me. Ok, we'll check few more things.

[2021-03-31 17:42] alexkipar commented on #25
@spiutm please check app's battery optimization settings on your device, Settings -> Apps -> Blynk Beta -> Battery - it should work on most Android10 and later devices. You can try to set it to 'Do not optimize' and verify the behavior, there is probably a strict optimization for app's background work on your Samsung and it more frequently blocks even high priority notifications.

[2021-03-31 17:55] spiutm commented on #25
i will try

[2021-03-31 18:02] spiutm commented on #25
at first try it worked, but need to further test on long run, i will return with update

[2021-03-31 18:40] Peterkn2001 commented on #22
I noticed that the Build Date and Commit Date at the bottom of the screen had changed, so I tested it again.
The online/offline status is now updating correctly, in sync with the app.

The "Last Updated" field is remaining static though, but this is less of an issue.

Pete.

[2021-03-31 19:01] doom369 commented on #22
It's not updated in the realtime. Only status.

[2021-03-31 19:01] #22 closed

[2021-03-31 19:04] Peterkn2001 commented on #22
The "Last Updated" field is updated when you do a browser refresh (F5), so ought to be refreshed when the browser auto refreshes don't you think?

Pete.

[2021-03-31 20:49] alexkipar commented on #3
@Peterkn2001

Please send logs in such cases. App tries to connect on the "Power On your device... Ready" screen, so it is correct that tap leads to this screen, but there is some issue with connection request. Can you send logs?

[2021-04-01 09:13] spiutm commented on #25
works as intended, ty

[2021-04-01 13:45] marminatix opened #38 "Superchart again"
Hi.

ANDROID (Redmi NOTE 9 PRO)
Superchart on full screen with data (any resolution, horizontal device orientation).
Switch to another app while in full screen and horizontal device.
Back again to Blynk Beta
No more data to see and no way to retrieve graph: "No data yet"

Only way out I found: turn screen vertical again (or set superchart on "standard screen" mode).

Marco

[2021-04-01 15:39] #25 closed

[2021-04-01 15:40] doom369 commented on #29
@thomoray should be fixed now. Could you please check?

[2021-04-01 15:40] doom369 commented on #35
@Johnep101 should be fixed now. Could you please check?

[2021-04-01 15:43] doom369 commented on #11
@Peterkn2001 we improved the texts. Also, this table is planned to be refactored. So I think for now we are good here for now.

[2021-04-01 15:43] #11 closed

[2021-04-01 15:44] doom369 commented on #9
@Peterkn2001 we did a possible fix. Could you please check if that still a case for you?

[2021-04-01 15:45] #4 closed

[2021-04-01 16:23] Johnep101 commented on #35
Hi Dmitriy,
I can now drag and drop items onto the template but can't edit or remove them.
Thanks.

[2021-04-01 16:52] Peterkn2001 commented on #9
Okay, I've done some testing, and the functionality does now work, but there are some issues....

**Web Dashboard.**

In Template > Datastreams > [edit specific datastream] > Advanced Settings
Turning-on Expose to Automation requires an automation type to be selected. If this type (take Brightness as an example) has already been selected in a different datastream then you get a message "Product ha

[2021-04-01 19:51] doom369 commented on #9
Initially, this field was used for Voice Assistances. Alexa and GHome don't allow to have more than 1 brightness controller within a single device. Later, automations were introduced and we reused that field. But yeah, that's was a stupid decision and we need to divide those 2 fields.

That's a very good finding. A ticket created.

Good one. We'll think about what we can do here.

Agree. @blynkkk

[2021-04-01 20:24] alexkipar commented on #3
@Peterkn2001 I've added in the latest build a fix to this issue, I've reproduced it for me only in failure case - when there is a wrong templateId in the sketch, for example.

[2021-04-02 00:10] thomoray commented on #30
Hi have retested and can see when setting up the icons now reflects the settings mostly, but still no luck when in the device.

https://drive.google.com/file/d/1GcagMPYyjkxRrAbeOStJluOaeaJYhI3T/view?usp=sharing

[2021-04-02 00:19] thomoray commented on #29
Retested and works if I don't add dataStreamId or pin as options. If I remove this option then it generates okay.

[2021-04-02 01:09] alexkipar commented on #30
@thomoray yes, the ON state is always filled.

[2021-04-02 11:24] Peterkn2001 commented on #3
@alexkipar I've done some testing with app version 1.0.10 and now I can't get any new device to connect.
My previous workaround of overriding the ChipID to give a new device name doesn't work, and the NodeMCU that was previously working now doesn't work either.

Logs sent.

Pete.

[2021-04-02 11:36] alexkipar commented on #3
@Peterkn2001 I've received your logs - will investigate them. it works on mine side with Nexus 6. Are you using beta3 library?

[2021-04-02 12:06] alexkipar commented on #3
@Peterkn2001
I see that you've tried to provision a device with TMPL_ID="TMPLks1olxUM" while you have only the "TMPL9hkFIuoD"  template in dev mode.

[2021-04-02 12:23] Peterkn2001 commented on #3
@alexkipar both templates exist in my web dashboard, this is the info screen for TMPLks1olxUM...

![image](https://user-images.githubusercontent.com/35718564/113415093-5f789100-93b6-11eb-8dbb-eac4f2a52896.png)

Are you saying that the app isn't synchronising this data with the server, or am I missing a piece of the theory about how this is supposed to work?

Pete.

[2021-04-02 12:28] alexkipar commented on #3
@Peterkn2001 app syncs, but it can't add a device that doesn't have a mobile dashboard. we are discussing the possibility of provisioning of a device that have only web dashboards.

[2021-04-02 12:51] Peterkn2001 commented on #3
Sorry, you've lost me here.
How do you create the mobile dashboard, other than via the "Add device" option in the app - which is the bit that's failing.

Pete.

[2021-04-02 13:16] alexkipar commented on #3
@Peterkn2001 you need to open Dev Mode screen and create a 'prototype' template in the templates dashboard. in same way as with "TMPL9hkFIuoD" template

[2021-04-02 14:30] Peterkn2001 commented on #3
I managed to get the NodeMCU to connect afret adding the prototype template, but still can't get the Wemos D1 Mini to work.

I've sent the logs again, can you see why the device with SSID Blynk TestTemplate2-2E2FE isn't connecting?

Pete.

[2021-04-02 15:07] alexkipar commented on #3
@Peterkn2001 I see some strange behavior, what happens with the hardware according to its logs? It looks like when the app connects to the hardware's AP, it disconnects and reconnects again.

[2021-04-02 15:26] Peterkn2001 commented on #3
The serial monitor shows this...
[code]

Pete.

[2021-04-02 23:07] Peterkn2001 commented on #34
@doom369 Any updated timeline on this, using my old Android tablet is driving me nuts!

Pete.

[2021-04-02 23:29] Johnep101 commented on #34
Given up on Android 😱😱😱

Happy Easter!

John

[2021-04-03 04:31] doom369 commented on #34
@Peterkn2001 It has too many bugs :(. So we'll need few more days.

[2021-04-03 16:24] marminatix opened #39 "Automation: setting trigger"
Hi
Android
Automation
Set trigger
At the bottom of the screen the stepH appears with the lower value at the center.
If you try to manually set via gboard, the system refuses to accept the input.
Or was it my fault?
Marco

[2021-04-03 17:57] spiutm commented on #3
just to compare, this is working for me, d1 mini, device added by app

20:54:00.330 ->     ___  __          __
20:54:00.377 ->    / _ )/ /_ _____  / /__
20:54:00.377 ->   / _  / / // / _ \/  '_/
20:54:00.377 ->  /____/_/\_, /_//_/_/\_\
20:54:00.425 ->         /___/ v1.0.0-beta.1 on ESP8266
20:54:00.425 ->
20:54:00.425 -> [401] --------------------------
20:54:00.425 -> [419] Product:  SPIU
20:54:0

[2021-04-04 08:05] alexkipar commented on #39
@marminatix Can you provide a screenshot? What type of datastream is used for this trigger?

[2021-04-04 11:59] marminatix commented on #39
![IMG_20210404_135525](https://user-images.githubusercontent.com/81511771/113507999-e318b600-954d-11eb-8f30-0bbe22de255f.jpg)
![IMG_20210404_135538](https://user-images.githubusercontent.com/81511771/113508002-e3b14c80-954d-11eb-9115-0b3ebd99d746.jpg)
![IMG_20210404_135551](https://user-images.githubusercontent.com/81511771/113508003-e449e300-954d-11eb-975e-232449bae97e.jpg)
![IMG_20210404_135603]

[2021-04-04 12:01] marminatix commented on #39
The stream is a temperature value. When u try to set the trigger via gboard it doesn't accept the entry. Must use the (+) or (-).

[2021-04-04 12:17] Peterkn2001 opened #40 "Video Streaming Widget :-("
I've been trying to get the video streaming widget working with a local network stream from one of my Reolink CCTV cameras, which is in RTSP format.

Testing...
Using the current (non-beta) version of the Blynk app on iOS (version 2.26.6) the video stream works perfectly.
Opening the same project, with the video streaming widget in it, on Android version 2.28.8 the video stream doesn't play and I

[2021-04-04 16:33] alexkipar commented on #39
@vshymanskyy got it, seems it is an issue with scroll - the list should scroll to the input field below - is it scrollable?

[2021-04-04 16:35] alexkipar commented on #40
@Peterkn2001 I had not enabled exoplayer support for the video widget yet in beta - will do it with the next release. But if the 2.28.8 had not been able to play it - probably beta would not be able too. any video format description for RTSP?

[2021-04-04 16:42] alexkipar commented on #40
@Peterkn2001 have you tried the latest stable 2.28.x version with VLC library implementation?

[2021-04-04 17:24] Peterkn2001 commented on #40
It's a standard video format.... https://en.wikipedia.org/wiki/Real_Time_Streaming_Protocol
but the info button for the widget says that RPSP is supported anyway...

![image](https://user-images.githubusercontent.com/35718564/113516469-5cc29b00-9572-11eb-8029-932e7799119b.png)

I assume you mean 2.27.x version?
I just left the beta channel and re-installed the latest stable version which is 2.27.2

[2021-04-04 17:29] alexkipar commented on #40
iOS app uses different video library than Android app. on Android app we have vlc on 2.27.x and exoplayer with not stable rtsp support on 2.28.x - I don't think we will implement some third option for android app.
I'm waiting for a stable rtsp implementation in exoplayer - it is the only stable video player capable of handling several video views. vlc implementation is the cause of most blynk app'

[2021-04-04 19:12] Peterkn2001 commented on #40
It's FFMPG, with audio, and I have a choice of the _main and _sub streams.
_main is currently set to 2560*1920 @ 25fps
_sub is set to 640*480 @ 7fps.

Both streams work fine with iOS, but neither with 2.27.28

Pete.

[2021-04-05 06:38] marminatix commented on #39
You're right!
Now it works.

[2021-04-05 06:38] #39 closed

[2021-04-06 00:33] JimE007 opened #41 "Time-Line for Items"
When will the iOS App be released?   Can it run concurrently with the current APP?

When will the pricing model be released?

When will the current Blynk Cloud and Apps be discontinued?

[2021-04-06 09:09] alexkipar commented on #3
@Peterkn2001 can you check the latest build - I've added a small delay before requesting hardware information it may help.

[2021-04-06 09:09] alexkipar commented on #38
Should be fixed in the latest version

[2021-04-06 09:10] alexkipar commented on #40
I've added ExoPlayer RTSP support to the Video widget in the latest build.

[2021-04-06 13:38] alexkipar commented on #40
I'm also working on ffmpeg video support - I suppose the next build will be with it.

[2021-04-06 13:42] doom369 commented on #29
@thomoray the fix is deployed. Now should be fixed.

[2021-04-06 13:42] #29 closed

[2021-04-06 13:43] Peterkn2001 commented on #40
Just testing things in 1.0.11 and the video streaming widget refuses to remember the url of the video stream.
If I paste it into the url field then hit the left exit arrow icon, then return to the video stream settings my url has disappeared.

Testing the provisioning stuff next, I'll send logs after that if you wish.

Pete.

[2021-04-06 13:44] alexkipar commented on #40
@Peterkn2001 thanks, there is no need for logs here.

[2021-04-06 13:48] Peterkn2001 commented on #3
Tested with 1.0.11 and getting the same results.

Serial monitor shows the same `WAIT_CONFIG => CONFIGURING` and `CONFIGURING => WAIT_CONFIG` messagesz each time I try to connect.
Apps shows "Can't connect to device" each time.

Logs sent.

Pete.

[2021-04-06 13:56] alexkipar commented on #3
@Peterkn2001 app still can't get board infro from the hardware, that's strange as it works on Nexus 7 on my side. Can you try next scenario:
1. Connect to hardware wi-fi via phones wi-fi settings
2. Open browser and try next URL: http://192.168.4.1/board_info.json - will it show anything?

[2021-04-06 14:46] Peterkn2001 commented on #3
Okay, here's what happens...

I boot the Wemos D1 Mini and whine I connect the Nexus to it's WiFi I see:
 `WAIT_CONFIG => CONFIGURING`

When I enter the `http://192.168.4.1/board_info.json` url I see:
`Sending board info...`

This is immediately followed by the Wemos rebooting with an exception report.
The full serial monitor cycle looks like this...

[code]

The exception decoder gives this...
[c

[2021-04-06 14:47] alexkipar commented on #3
It seems the cause of the provisioning failure. @vshymanskyy please take a look

[2021-04-07 06:02] alexkipar commented on #40
@Peterkn2001 I've just uploaded the 1.0.12 version - it uses FFmpeg in the video widget. please check it with your stream

[2021-04-07 08:31] Peterkn2001 commented on #40
Yay! that works!!

A couple of observations....

It works well with the lower resolution stream. The higher resolution stream buffers (with the three juggling balls) quite frequently, but this may be my Nexus device. Forcing TCP transport seems to improve this a little.

Hitting the 'play' icon at the bottom left of the widget whilst in dev mode causes an "Unfortunately Blynk Beta has stopped - Re

[2021-04-07 08:48] alexkipar commented on #40
@Peterkn2001

Good. It looks promising, probably I will port this ffmpeg implementation to the older blynk app 2.28.x too.

In dev mode that controller should not be available. I'll check the report and will hide it.

[2021-04-07 08:53] Smartnitz opened #42 "Cant download beta android app"
Hey,

I was invited to the beta and allready have an account for the new blank dashboard.

Unfortunately I cant download the beta android app for my smartphone. The link I got in the invitation email is simply not working and in the google play store I can only find the old non-beta app.

Were can I dowload the app? :(

[2021-04-07 09:58] alexkipar commented on #42
@Smartnitz have you tried this link: https://play.google.com/apps/testing/cloud.blynk ?

can you provide your email?

[2021-04-07 11:37] Smartnitz commented on #42
this link gets me an error message after logging in with my google account. It says the test version of this app hasent been released or is not available for my account.

The issue there might be that I used my yahoo-mail account to sign up for the blynk beta. And my google account is a different one of course.

Unfortunately I couldnt find a way to send you a private message on github or your ema

[2021-04-07 11:39] alexkipar commented on #42
@Smartnitz yep, that's because of yahoo email in sign up list

[2021-04-07 11:40] alexkipar commented on #42
@Smartnitz you gmail account has been added to testers list - so in a minute that link should lead you correctly.

[2021-04-07 11:52] Smartnitz commented on #42
Thank you very much. It worked now :)

[2021-04-07 11:52] #42 closed

[2021-04-07 13:13] Peterkn2001 opened #43 "Invalidate Data settings not working correctly"
I added "Invalidate Data" settings to a datastream like this:

![image](https://user-images.githubusercontent.com/35718564/113871612-fd9b9b00-97aa-11eb-9dc5-b1b5bd543bed.png)

but instead of the widgets showing "--" after 10 seconds of no data, it seems to take around 12 to 14 hours before the existing values are replaced with "--" when no data is being sent to the datastream.

**Edited to add** -

[2021-04-07 14:14] doom369 commented on #43
@Peterkn2001 invalidation doesn't work in real-time. However, open/close web/app should show the invalidated feature.

[2021-04-08 04:40] marminatix commented on #38
Solved!

[2021-04-08 04:41] #38 closed

[2021-04-08 09:02] Smartnitz opened #44 "Cant edit Tab Widget"
Hey,

I noticed the Tab Widget in the Android App cant be edited. In the old Blynk app it was possible to rename the tabs or add new ones after pressing and holding down on the tabs widget. Now thats not possible anymore and instead it just drag the tab widget around without beeing able to let go and set its position.

[2021-04-08 09:16] Smartnitz opened #45 "Sliders in Anroid dont show current value"
Hey,

I noticed the Sliders widgets in the Anroid app dont show the current value and there also is no option anymore to show these values. The option to the change the decimals has also gone missing :(

[2021-04-08 09:45] alexkipar commented on #44
@Smartnitz double click on selected tab

[2021-04-08 09:46] alexkipar commented on #45
@Smartnitz that's expected behavior, You can always add any display widget of your choice with the same data stream as Slider to see the values.

[2021-04-08 10:04] alexkipar commented on #45
@Smartnitz about decimals: all formatting options are now on the side of the data stream - you can set up it and the app will use its formatting.

[2021-04-08 17:55] marminatix opened #46 "How to share cloud device?"
Hi.
An industrial customer ask me to share the dashshboard of my "beta" device with him.
Obviously, he doesn't need to edit the properties but only to "read" the labels and the charts and to interasct with the widgets.
Is it possibile?

Thank you.
Marco

[2021-04-08 18:30] doom369 commented on #46
@marminatix yes. you need to invite him to your org for that. On invite provide him with required role (`user` role to view but not edit/control your devices)

![screenshot-blynk cloud-2021 04 08-21_25_56](https://user-images.githubusercontent.com/1536494/114078136-3cb41400-98b1-11eb-9d9f-418f9961ddd3.png)

[2021-04-08 20:02] marminatix commented on #46
Beautiful!

[2021-04-08 20:02] #46 closed

[2021-04-08 22:06] weissen123 opened #47 "ESP8266 provision issue with connection over http and static IP (solved by workaround)"
Hardware: Node MCU 1.0

    ___  __          __
   / _ )/ /_ _____  / /__
  / _  / / // / _ \/  '_/
 /____/_/\_, /_//_/_/\_\
        /___/ v1.0.0-beta.3 on ESP8266

[172] --------------------------
[175] Product:  BlynkTasmotaE
[178] Hardware: 1.0.0
[180] Firmware: 0.1.1 (build Apr  8 2021 22:39:57)
[184] Token:    ...OvI5
[187] Device:   ESP8266 @ 80MHz
[189] MAC:      84:0D:8E:83:14:1A
[192] Fla

[2021-04-10 08:24] #43 closed

[2021-04-10 11:35] Smartnitz opened #48 "virtualWrite and Deepsleep on ESP32"
Hey,

I´m trying to create a very power saving product using an ESP32. Its supposed to unly upload one value to the Blynk server every few hours and then going into deepsleep mode as soon as possible. Here is a very basic example code of what I´m trying to do with boot count and 30 seconds deepsleep time:

[code]

This does work only sometimes. I can see only like 75% of the values on my dashboard

[2021-04-10 16:49] Peterkn2001 commented on #48
What happens if you put this code in your `BLYNK_CONNECTED()` immediately before your `esp_deep_sleep_start();` command?

  for(int loop_count =0; loop_count <6; loop_count++)
  {
    BlynkEdgent.run();
    delay(100);
  }

Pete.

[2021-04-11 06:52] YagoToWolf opened #49 "Can't difine my organizations settings"
When i want to define my organizations settings this don't safe.

[2021-04-11 07:54] Smartnitz opened #50 "Bugs with Tabs widget"
Hey,

I think I found a few issues with the Tabs Widget on android.

1. When creating new tabs in developer mode: After clicking on "Add Tab" and filling in the title, the tab appers to be created. But when I click on the "Back" Icon in the top left corner the new tab gets deleted. Sometimes using the "Back" button of my keyboard worked instead as a workaround

2. Its not possible to define the "H

[2021-04-11 09:14] Smartnitz commented on #50
Also: I cant find an option to delete a certain tab without deleting all.

[2021-04-11 09:29] Smartnitz commented on #48
That did make the problem worse. Now there are no more values uploaded at all. Here is a print of may serial monitor output that keeps looping:

[code]

[2021-04-11 22:22] #32 closed

[2021-04-12 10:31] Smartnitz commented on #31
I didnt test, but stumpled across this. Other parts of the documentation might need an update for this aswell...

![grafik](https://user-images.githubusercontent.com/82087142/114380644-973bc180-9b8a-11eb-9f38-890e210a0dca.png)

[2021-04-12 10:48] doom369 commented on #31
@Smartnitz I don't see anything wrong here. Could you please clarify?

[2021-04-12 11:05] Smartnitz commented on #31
I tested it now and it works. So there is nothing wrong, I just got confused that the syntax for these similar operations looks so diffrent in the documentation.

Updating a single value: ...&pin={pin}&value={value}
Batch updatting multiple values: ...&{pin1}={value1}&...

I think it would be more logical for users if the syntax would be the same.

[2021-04-12 11:08] alexkipar commented on #50
@Smartnitz

Are you using the latest available build, as there has been a bug with not saving widget settings when topbar's back button is tapped - it should be fixed already in the latest build.

About 'Home Tab': the app just caches the latest open tab in the device dashboard, so on the device reopen it should switch to the last tab selected in this device. If you will force close the app - app

[2021-04-12 11:14] doom369 commented on #31
@Smartnitz good point. We'll create improvement.

[2021-04-12 12:03] marminatix opened #51 "Filtering shared devices"
Hi.
I invited a new "user" to view one of my devices but he can automatically view ALL my devices.
I'm not able to limit the visibility of only one device.
Thanks.
Marco

[2021-04-12 12:11] doom369 commented on #51
There 2 permissions for device view: `view own devices`, `view org devices`.
So you can make the user owner of the device and leave for him only "view own devices" permissions.
Another option would be to move the required device into subOrganization and invite the user to it. But it's not allowed for the Beta test.

[2021-04-12 12:39] Smartnitz commented on #50
I am using build 1.0.12 which appears to be the current one in play store.

The behavior you descriped for the "home tab" dosent work for me. Right now it always opens tab number 3 first, which is the first tab i created. No matter which tab I selected last time in the device dashboard. Same happens if I close and restart the app.

But now I was able to delete a tab by swiping. Didnt know about th

[2021-04-12 14:26] marminatix commented on #51
Hi.
First, I see the permissions ("view own" and "view org") on the "Roles and permissions" menu but even clicking on "EDIT" all the options are inhibited
![image](https://user-images.githubusercontent.com/81511771/114409947-3ffa1900-9bab-11eb-9f77-a7fd4ac57602.png)

Second, I've deleted myself as owner but I'm not able to assign any device to the user...
![image](https://user-images.githubusercon

[2021-04-12 14:48] doom369 commented on #51
@marminatix permission granted. Now you should be able to transfer the device ownership.

[2021-04-12 15:24] marminatix commented on #51
Yes.
The device has been successfully transferred to the user but nothing has changed in terms of changing his open permission on the others devices.
![image](https://user-images.githubusercontent.com/81511771/114419385-aa16bc00-9bb3-11eb-9779-b2404ff4867c.png)

[2021-04-12 15:26] marminatix commented on #51
Luca is enabled to see all the organization devices and I'm still not able to change fron "org devices" to "own devices".

[2021-04-12 15:33] marminatix commented on #51
Today, a logistic manager has seen my superchart application to a LoRa project for the productivity measurement of a shipping line. After having appreciated the tool and asking for a quotation, the next thing was: "...where are the data? How can I retrieve/download them and/or link them to my BI tool?". Some answers?

[2021-04-12 15:48] Smartnitz opened #52 "Minor error in documentation"
hey,

Not sure if this is the right place to mention this, but I found a minor error in the description.

![grafik](https://user-images.githubusercontent.com/82087142/114423040-147d2b80-9bb7-11eb-9886-aee9be7a237f.png)

I think its supposed to be:

https://{server_address}/external/api/logEvent?token={token}&code={event_name}

[2021-04-12 15:53] doom369 commented on #52
@Smartnitz thanks.
@Mark-Pan please fix.

[2021-04-12 15:57] doom369 commented on #51
Permissions granted. Please check out the device menu.

What role invited user has?

[2021-04-12 16:10] Mark-Pan commented on #52
@Smartnitz thanks.
@doom369 fixed.

[2021-04-12 16:16] marminatix commented on #51
The invited user has only to "see" the chart and simply interact with it, without changing anything.

[2021-04-12 16:25] #52 closed

[2021-04-12 16:34] marminatix commented on #51
Chart data seem all right.
Nice work

[2021-04-13 09:23] Smartnitz commented on #48
I just tried a different approach to achive the functionality I want. My plan was to upload the boot count value when the connection to the Blynk server is established and then download the server value when there is a new one (thats what BLYNK_WRITE is doing I thought). Then compare these two values and if they match, I have the confirmation that the value was uploaded successfully and can go to

[2021-04-13 09:36] Peterkn2001 commented on #48
You need a Blynk.syncVirtual(vPin) to make the BLYNK_WRITE(vPin) callback trigger.

Pete.

[2021-04-13 11:15] #44 closed

[2021-04-13 11:15] alexkipar commented on #50
@Smartnitz I've just uploaded a new build with fixes to tabs selection, swipe gesture and widget saving as well

[2021-04-13 11:16] alexkipar commented on #40
@Peterkn2001 I've removed URL text and fixed the crash in a new version- it should be available soon

[2021-04-13 11:16] #45 closed

[2021-04-13 12:59] Smartnitz commented on #50
Just tested it and most bugs are fixed. Thanks :)

One thing still happens for me though:

Also, I noticed another thing:

Swiping between tabs dosent work, when do doing it on a Chart widget area with no data in it. I guess thats expected behavior to be able to scroll through the x axis of that chart, but I have a tab that consists out of a few Charts only, so swiping to other tabs from this one

[2021-04-13 13:15] alexkipar commented on #50
@Smartnitz
Swipe would not work on some widgets like graph, slider, etc. maybe I can enable that logic for Dev Mode, but definitely it would not be enabled everywhere.

You always can just click on the necessary tab to switch to it if swipe it not possible due to lots of full-width scrollable widgets

[2021-04-13 13:23] alexkipar commented on #50
@Smartnitz I can't reproduce the behavior with the back button click in the top left corner. Can you provide your smartphone model and android os version, as well do you enabled 'dont keep activities' in smartphone's developer options?

[2021-04-13 13:45] Smartnitz commented on #50
Yep, thats what I expected and I understand the reasons. But end users might not understand why they can swipe all tabs , but not on one tab when most of the screen is filled with charts. Is it maybe possible to allow swiping for certain areas of an unswipable widget? Like the area for the chart title ?

[2021-04-13 13:53] Smartnitz commented on #50
I did some more testing and figured out that the current behavior is like this:
When I create a new tab or delete an old tab and then go back (no matter if with the button on the top left or with keyboard button) its dosent work. I just get back to the tab menu but my changes are gone. Howerever it allways works, when I do this a second time (no matter if with the button on the top left or with ke

[2021-04-13 14:13] Smartnitz commented on #48
Thanks for that tip! It works now.
But it still dosent feel like a nice solution having to download an value again to make sure it was uploaded successfully. Would it be possible to just check if I received a HTTP 200 response before going to deepsleep?

Maybe it would be possible to create an easy to use BLYNK_virtualWriteDone() or similar for that purpose?

[2021-04-13 15:15] Peterkn2001 commented on #40
@alexkipar I've tested it and it's fine - thanks.

Should we close this issue now?

Pete.

[2021-04-13 15:19] #40 closed

[2021-04-13 16:55] spiutm opened #53 "Will old Blynk run after new Blynk Cloud"
Will old Blynk run in parallel after new Blynk Cloud, or it will be removed?
the purpose of this question is for porting options on older projects

[2021-04-13 16:57] Peterkn2001 opened #54 "Widget Titles are now all CAPITALS!!"
Previously, in the Android beta app widget titles were displayed as typed - in upper or lower case.
Now, regardless of how the title is typed, it is displayed in upper case.
This appears to have been done to coincide with the release of the iOS version of the app, where the behaviour is the same.

Is there any way around this?

There are many situations, especially when adding widget labels to LED

[2021-04-13 17:13] doom369 commented on #53
@spiutm yes, for some time.

[2021-04-13 17:13] Saurman opened #55 "Reset password is broken"
After clicking reset password link from email i am redirected to a dashboard

[2021-04-13 17:17] alexkipar commented on #54
@Peterkn2001 I'm uploading a new version soon, the previous build had the wrong app's theme.

[2021-04-13 17:22] marminatix opened #56 "12 and/or 24 hours clock"
Hi.
Europeans usually use 24 hours clock system, sometimes both 12 and 24 hours clock but Superchart X-Axis and downloaded reports seems to be in AM/PM system only and don't know how to toggle (and if it's possibile...).
Thanks.
M

[2021-04-13 17:25] Peterkn2001 opened #57 "Issues with iOS app when using Image Button widget"
iOS app version 3.1.0(14) on iPhone 11 (iOS 14.4.2)

After adding image URLs for Off and On states, tapping the image in edit mode clears the url and the image and they have to be re-entered.

In Android 1.0.13 the url isn't displayed (which it should be), but at least the image is retained.

Android app has a "Refresh" button at the bottom of the screen where the url is entered, iOS has an "Add I

[2021-04-13 17:30] doom369 commented on #55
@Saurman hello, could you please clarify - do you open the link from the mobile or web?

[2021-04-13 18:04] Saurman commented on #55
Web

[2021-04-13 18:19] doom369 commented on #55
@Saurman in that case I'm not sure I understand the issue. "Reset" password link should move you to the "reset password" screen. That's not the case for you?

[2021-04-13 19:33] Saurman commented on #55
No, it just opens an initial cloud dashboard for me

[2021-04-14 06:13] doom369 commented on #55
@Saurman so like you are logged into it?

[2021-04-14 09:58] Peterkn2001 commented on #54
Now fixed in iOS 3.1.0(15) and Android 1.0.14(26)

Thank you!

Pete.

[2021-04-14 09:58] #54 closed

[2021-04-14 10:24] Peterkn2001 opened #58 "Datastream units and Datastream Invalidation not working in iOS"
iOS version 3.1.0(15)

Datastream units (suffixes defined in the datastream) are not showing in the iOS app.

iOS view...
![image](https://user-images.githubusercontent.com/35718564/114695581-b44fcc00-9d13-11eb-9032-e36eedd53336.png)

Android view...
![image](https://user-images.githubusercontent.com/35718564/114695603-b9148000-9d13-11eb-803d-6c547d7380e1.png)

Also, when a datastream is invalidat

[2021-04-14 17:45] Saurman commented on #55
Yes

[2021-04-14 17:48] doom369 commented on #55
@Saurman Did you logout from the web?

[2021-04-14 17:49] Saurman commented on #55
Should i for reset to work?

[2021-04-14 17:58] doom369 commented on #55
@Saurman if you want to reset the password you can do that from the web:
![screenshot-dash-qa blynk cc-2021 04 14-20_57_31](https://user-images.githubusercontent.com/1536494/114757125-23eda780-9d64-11eb-92e6-0f72502fc671.png)

For reset flow you have to be logged out. Otherwise you are not actually "forgot the password"

[2021-04-14 19:57] Saurman commented on #55
Logout from cloud worked, was able to reset password. Icons are still broken in Safari
<img width="313" alt="Screenshot 2021-04-14 at 22 56 48" src="https://user-images.githubusercontent.com/1107926/114770999-bf871400-9d74-11eb-876b-437e1cf29a39.png">

[2021-04-14 20:00] Saurman commented on #55
also, is there a way to migrate a project from public app?

[2021-04-15 07:30] doom369 commented on #55
Could you please check the browser console for the errors? Those images are delivered from the CDN, so looks like it were failed to download unless this is something else.

[2021-04-15 10:34] Saurman commented on #55
[Error] Origin https://blynk.cloud is not allowed by Access-Control-Allow-Origin.
[Error] Failed to load resource: Origin https://blynk.cloud is not allowed by Access-Control-Allow-Origin. (Linearicons.woff2, line 0)

[2021-04-15 10:47] doom369 commented on #55
@Saurman that's strange. Looks like a browser bug to me, as `allow origin` header is correct. What Safari version do you have?

[2021-04-15 10:52] Saurman commented on #55
Yes, that errors was not on a dashboard home screen, this screenshot is:
<img width="1430" alt="Screenshot 2021-04-15 at 13 51 36" src="https://user-images.githubusercontent.com/1107926/114858093-b5efc180-9df1-11eb-8547-9d30fcafdbd7.png">

[2021-04-15 10:52] Saurman commented on #55
Safari 14.0.3

[2021-04-15 11:25] thanxx commented on #55
@Saurman can you please disable extensions for Safari, clear cache, and try again?

[2021-04-15 15:47] eepetrash commented on #57
Please check the 3.1.0 (17) build

[2021-04-15 15:48] Peterkn2001 commented on #58
Fixed in 3.1.0 (17)

Thanks!

Pete.

[2021-04-15 15:52] Peterkn2001 commented on #57
Fixed in iOS 3.1.0 (17) and missing URL fixed in Android 1.0.14

Thanks!

Pete.

[2021-04-15 15:52] #57 closed

[2021-04-15 16:03] #58 closed

[2021-04-15 16:07] doom369 commented on #35
@Johnep101 should be fixed. Please reopen if reproduced.

[2021-04-15 16:07] #35 closed

[2021-04-15 16:35] doom369 commented on #55
@Saurman please run the next command:

`curl -IL -X'GET' -H'Origin: https://blynk.cloud' https://static-fonts.nyc3.cdn.digitaloceanspaces.com/Linearicons.woff2`

[2021-04-15 17:10] Saurman commented on #55
HTTP/1.1 200 OK
Date: Thu, 15 Apr 2021 17:09:19 GMT
Connection: Keep-Alive
Cache-Control: max-age=344694
Content-Length: 159416
Content-Type: font/woff2
Last-Modified: Wed, 15 Jan 2020 13:53:29 GMT
Accept-Ranges: bytes
x-rgw-object-type: Normal
ETag: "5820aea7e44a2bac55288f21a28167fc"
x-amz-request-id: tx0000000000000b7d6036d-0060747b35-b7a28f3-nyc3b
access-control-allow-origin: *
access-control-a

[2021-04-16 06:59] doom369 commented on #55
That's means that CORS headers are correct and you should not see the above error in the browser. I have no ideas right now what that could be.

[2021-04-16 07:21] Saurman commented on #55
works fine in Chrome on latest OSX so i assume it needs some attention from Safari side on your end

[2021-04-16 07:21] #55 closed

[2021-04-16 08:47] ebolisa opened #59 "Unable to blink virtual LED"
Hi, I assisted the webinar yesterday on the new version and later on tried a simple test: blink of a virtual LED. However, the led didn't blink (on my iOS), but if I used a label widget in place of the LED widget, I did receive 0s and 1s.
Am I doing this wrong or is it a bug related to the LED widget?

#define BLYNK_TEMPLATE_ID "TMP"
#define BLYNK_DEVICE_NAME "Demo"
#define BLYNK_FIRMWARE_VERSION

[2021-04-16 09:08] ebolisa opened #60 "Python library"
In yesterday's webinar Python was not mentioned. Will a py library be available for the ones who code with Python?

[2021-04-16 09:23] davidmariag opened #61 "Login error"
Two things.
Is there a “beta” section in the forum to discuss these things?
I get a “server not available” error in the iOS app.

![10AF44C1-20F6-437A-9288-3E383A0C916B](https://user-images.githubusercontent.com/61051937/115004016-0a0cab80-9eaf-11eb-98ae-e763cecc82a5.jpeg)

Is this a generic message to all errors? Incorrect password username etc.?
The reason I ask is I setup the account in blynk36

[2021-04-16 09:39] doom369 commented on #61
Yes. It's the same account.

Could be. @eepetrash please take a look.

[2021-04-16 09:46] eepetrash commented on #61
@davidmariag after failure to login, please go to initial screen, touch and hold on the Blynk logo and send us logs to take a look.

[2021-04-16 09:47] vshymanskyy commented on #60
Python library will work as usual, however Dynamic Provisioning is not yet available.

[2021-04-16 09:48] doom369 commented on #55
I found few bug reports for Safari. We were able to reproduce only with the mobile Safari version. Most likely this is a Safari bug. We'll try try to find some workarounds.

[2021-04-16 09:49] #60 closed

[2021-04-16 09:57] eepetrash commented on #59
@doom369 I we removing the 0-255 LED range?

[2021-04-16 10:14] doom369 commented on #59
@eepetrash I think it should depend on the DS min/max settings.
@alexkipar how you did it on your side?

[2021-04-16 10:23] alexkipar commented on #59
@doom369 same on my side as on ios, as led is the only widget I don't know how to apply to DS model.

@ebolisa you can send 0 and 255 (set them as min/max of DS) and it will work for now

[2021-04-16 10:29] ebolisa commented on #59
Actually, I did try it before posting. Same results:

// V1 LED Widget is blinking
void blinkLedWidget()
{
  if (led1.getValue()) {
    //led1.off();
    led1.setValue(0);
    Serial.println("LED on V1: off");
  } else {
    //led1.on();
    led1.setValue(255);
    Serial.println("LED on V1: on");
  }
}

[2021-04-16 10:33] doom369 commented on #59
@ebolisa please make sure DataStream assigned to the widget has 0-255 min/max values.

[2021-04-16 10:37] ebolisa commented on #59
@boom369

Not sure I'm following you. No such option with that widget on iOS. I can only select the color. Unless, I'm missing some here.

[2021-04-16 10:42] ebolisa commented on #59
Ok, Got it!! Changed to V5 and worked!!

[2021-04-16 10:44] alexkipar commented on #59
@ebolisa it should be connected with your data streams, have you checked them on web dashboard?

[2021-04-16 10:46] doom369 commented on #59
@ebolisa in the new version, values are always truncated to the min/max of the datastream. So if you send `1000` into the V1 with max = `100`, it will be cast to `100`.

[2021-04-16 10:46] ebolisa commented on #59
@alexkipar

Yes, Blynk 2.0 has has assigned datatypes to virtual pins. We just cannot use any pins as 1.0.

[2021-04-16 10:47] doom369 commented on #59
@ebolisa correct. From one side - it complicates the setup. From the other side it gives more flexibility, especially when you have a fleet of similar devices.

[2021-04-16 10:49] #59 closed

[2021-04-16 11:03] doom369 commented on #61
@davidmariag could you please login again? What region are you in?

[2021-04-16 12:16] eepetrash commented on #61
@davidmariag
Thanks for the logs.
There is a new build in Testflight - 3.1.0 (19) with additional networking logging.
Please update, try to login, and send us new logs.

[2021-04-16 13:41] ebolisa opened #62 "Coding with Python (well, trying)"
@vshymanskyy

So, what's the trick to get a connection with Python? How to incorporate the device/template variables?
Surely, I'm using the wrong library.
Thx

 import blynklib

 BLYNK_AUTH = 'kSG_VfKHJKPA4Gq9*****-tGwfwDgg_R'
 BLYNK_TEMPLATE_ID = 'TMPL9C8i****'
 BLYNK_DEVICE_NAME = 'Demo Python'

 blynk = blynklib.Blynk(BLYNK_AUTH)

 while True:
     blynk.run()

[2021-04-16 14:25] peterah opened #63 "Particle Photon"
I use Particle devices for my boards and tried to program a Particle Photon but see that their is no updated library for this platform. Is this correct, or am I looking in the wrong place? When I use the Blynk library available, the code hangs on `blynk.begin(auth);`

I thought this may be available because I am sure I saw a Photon being used in the webinar yesterday.

[2021-04-16 14:40] davidmariag commented on #61
I am in Ethiopia Africa but my device content filter maybe routed through
USA.

On Fri, 16 Apr 2021 at 2:03 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-16 15:06] davidmariag commented on #61
Resent logs. Issue persists.

[2021-04-16 16:04] doom369 commented on #61
@davidmariag thanks for the additional info. Looks like you are using some proxy. Is that correct? It seems that those proxy doesn't propagate iOS client header correctly and that's why you can't connect.
Is that possible to turn if off for the Blynk app?

[2021-04-16 16:14] davidmariag commented on #61
That would make sense that it is using a proxy. No it is not possible to
turn it off and on. The company managing the ground control is in America.

On Fri, 16 Apr 2021 at 7:05 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-16 16:49] doom369 commented on #61
@davidmariag ok. Added even mode logging. Could you please try again?

[2021-04-16 17:03] davidmariag commented on #61
Is it a new version or existing?

On Fri, 16 Apr 2021 at 7:49 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-16 17:06] doom369 commented on #61
@davidmariag existing. I added more logging on the server-side to prove some ideas about this issue.

[2021-04-16 18:14] celetron1 opened #64 "Enumerable data streams not visible in blynk android app"
Hi

I can't see enumerable data streams in android app. I can't assign the DS to button.

Regards,

[2021-04-16 18:45] doom369 commented on #61
@davidmariag is that proxy installed on your phone? Or it's setuped?

[2021-04-17 07:43] davidmariag commented on #61
The phone has to be wiped and it is setup in the phone setup process
through iTunes.

Here is the company’s email. ***@***.***

On Fri, 16 Apr 2021 at 9:45 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-17 07:45] davidmariag commented on #61
It’s a configuration profile.

[2021-04-19 10:18] thanxx commented on #64
@celetron1  it is not supported on mobile for now

[2021-04-20 12:00] Smartnitz opened #65 "binary data in chart widget is missing "flip" option"
Hey,

I  would like to send binary data to blynk. Datastream is configured as integer with min=0 and max=1 since there is no binary option. Anyways when I receive a value of 1 (for true) from my device in that datastream, the chart in the android widget should show it as "true". But it dosent work and shows "false" instead. The same thing worked for me in the old Blynk version since there was a "f

[2021-04-21 06:17] marminatix opened #66 "Chrome issue (Web version)"
Hi.
I'm testing an application handling some simple data transfer with a "push" data acquisition and a maximum of 1 per second refresh rate.
On the Android interface it seems all right and correctly updating numbers and graphs. On the web side (chrome browser) the flow, on superchart "latest" refresh rate, seems to periodically freeze, the browser begins to use a lot of CPU and the fan starts runn

[2021-04-21 07:00] doom369 commented on #66
@marminatix I suppose you're using "Raw" source for the Graph. Rgiht?

[2021-04-21 08:44] marminatix commented on #66
Sorry.
I've seen such an option of "raw" data but don't rememeber "where".
Could you kindly say me where to look for?
Thanks.
M

[2021-04-21 09:22] doom369 commented on #66
@marminatix it's in the chart settings:

![screenshot-dash-qa blynk cc-2021 04 21-12_22_23](https://user-images.githubusercontent.com/1536494/115530237-43249180-a29c-11eb-879f-528b24af5b36.png)

[2021-04-21 09:35] marminatix commented on #66
All options are on "AVG of"

![image](https://user-images.githubusercontent.com/81511771/115531930-947d5280-a295-11eb-97f0-198040f4860d.png)

[2021-04-21 10:08] doom369 commented on #66
Ok. Thanks. Definitely, graph render performance issue than.

[2021-04-21 16:03] marminatix commented on #51
@doom369
_"What role invited user has?"_

Hi.
As in the screenshot below, editing the user permissions is still inhibited and so it's impossibile to test the device sharing with some "passive" users inside the organization.
Could this feature be enabled or is it still under development?
Thanks.
M

![image](https://user-images.githubusercontent.com/81511771/115584758-5438c700-a2cb-11eb-8eae-dd5facc

[2021-04-21 16:05] doom369 commented on #51
@marminatix added permission. Please try again.

[2021-04-21 16:46] marminatix commented on #51
Nothing ...
All options denied.

![image](https://user-images.githubusercontent.com/81511771/115590865-c0b6c480-a2d1-11eb-955e-be72d04c43d4.png)

[2021-04-21 16:47] marminatix commented on #51
Right now!
Permission are visible.
Close and open again the permission webpage.
Thanks

[2021-04-21 17:06] doom369 commented on #66
@marminatix fix deployed. Please let us know if bug is still there.

[2021-04-21 17:07] doom369 commented on #61
@davidmariag okey. Looks like we can't do much here. Proxy truncates required headers so not much options from our side. You need to either remove the proxy or and whitelist some hosts.

[2021-04-21 17:07] #61 closed

[2021-04-21 17:08] #53 closed

[2021-04-21 17:08] doom369 commented on #50
looks like fixed to me.

[2021-04-21 17:08] #50 closed

[2021-04-21 17:09] doom369 commented on #49
@YagoToWolf could you please provide screen?

[2021-04-21 17:10] marminatix commented on #51
I've modified ONLY the USER's privileges, restricting to "view owned devices".
Same thing if I try to ONLY exclude the user from viewing the organization's devices...
The system doesn't permit...

![image](https://user-images.githubusercontent.com/81511771/115593395-bc3fdb00-a2d4-11eb-9966-fb30b284d152.png)

[2021-04-21 17:10] #30 closed

[2021-04-21 17:12] doom369 commented on #41
Already done.

Yes

In 1-2 months.

At some points after the Blynk 2.0 public launch.

[2021-04-21 17:12] #41 closed

[2021-04-21 17:13] doom369 commented on #65
@Smartnitz do you mean Andorid or iOS app?

[2021-04-21 17:14] Smartnitz commented on #65
android

[2021-04-21 17:15] doom369 commented on #51
@marminatix hm, looks like a bug. We'll check.

[2021-04-21 17:22] davidmariag commented on #61
The issue persists. Will it be fixed in the public release.

On Wed, 21 Apr 2021 at 8:08 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-21 18:14] marminatix commented on #66
At a first glance it seems working properly but probably it'll take some time to be sure.
In the meanwhile, I close the issue.
If I'll see the issue again I will reopen.
M

[2021-04-21 18:15] doom369 commented on #61
No. As I said - proxy truncates the headers required for establishing the connection. So we can't do much here.

[2021-04-21 18:18] davidmariag commented on #61
Sorry I missed that message. What is the host that I should ask them to
whitelist?

David

On Wed, 21 Apr 2021 at 9:16 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-21 18:44] doom369 commented on #61
blynk.cloud

[2021-04-21 20:36] davidmariag commented on #61
Ok they have whitelisted the app and now it works.

On Wed, 21 Apr 2021 at 9:44 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-04-22 06:20] marminatix commented on #66
I'm sorry.
It seems the "bug" still persist.
Only Blynk cloud open, Chrome is still using about 50% of the CPU resources. And the fan runs...
On MS Edge, thing are going a little better with "only" from 15 to 25% CPU usage.
M

![image](https://user-images.githubusercontent.com/81511771/115664710-7a4d7e00-a342-11eb-9fab-34d0cbd5840a.png)
![image](https://user-images.githubusercontent.com/81511771/1

[2021-04-22 06:28] marminatix commented on #66
Edge same as Chrome.
And the fan runs...

![image](https://user-images.githubusercontent.com/81511771/115666295-aff36680-a344-11eb-83a1-94ea7ce54e2b.png)

[2021-04-22 15:39] OmarQT commented on #42
I have the same issue even though I'm using the same email address where I received the invitation, can you assist?

[2021-04-22 16:02] alexkipar commented on #42
@OmarQT what does play store show you when you try the link above?

[2021-04-22 16:13] OmarQT commented on #42
This is what I see when I try the link
[image: image.png]

On Thu, Apr 22, 2021 at 11:02 AM Alexander Kipar ***@***.***>
wrote:

[2021-04-22 16:19] alexkipar commented on #42
@OmarQT, the image hadn't attached( can you also provide your email - I will verify if it is in the access list

[2021-04-23 12:53] marminatix commented on #56
The charts retain the AM/PM notation but the chart reports are in 24 hours format.
For me, it's enough.
Thanks a lot.
M

[2021-04-23 13:25] doom369 commented on #56
It should depend on the user locale, this is something will be introduced soon.

[2021-04-23 14:13] alexkipar commented on #56
@doom369 if i'm not missing anything, chart reports are not android app functionality

[2021-04-23 14:15] doom369 commented on #56
@marminatix coudl you please clarify do you mean web or Android?

[2021-04-23 16:34] OmarQT commented on #42
![unnamed](https://user-images.githubusercontent.com/83025203/115902165-bf97ab80-a427-11eb-9b3d-c08ffa4c92f1.png)
Sorry about that @alexkipar , let's see if works this time, my email is omar.qtorres@gmail.com

[2021-04-23 16:54] alexkipar commented on #42
@OmarQT it seems this email got lost somehow, I've just added it - the link should work now

[2021-04-23 17:40] marminatix commented on #56
@doom369
Hi.
The issue is intended ONLY for the webpage of the beta version.
The chart on the Webpage has the X-Axis with the AM/PM format only.
Some days ago I tried to download the chart .csv report and the data format on the file was AM/PM, so I opened this issue.
Today I tried again and, without changing anything about the local settings, the format is now 24 hours.
And this is beautiful if yo

[2021-04-24 17:05] davidmariag opened #67 "Gauges"
If you copy a gauge in the app the Virtual pin in the settings copies as expected but the V# doesn’t display on the gauge unless you change to a different pin and back again
![033B2D9A-0278-4F36-AE0E-8EA814F053FB](https://user-images.githubusercontent.com/61051937/115966903-5b184180-a538-11eb-9fce-44caf3b6ccc7.png)

[2021-04-24 19:00] davidmariag commented on #67
Added comment. I would expect the gauges should be like the button pictured. When you go into development mode the V# isn’t displaying.
![FF29533E-71F7-415A-B9AF-F354962E9123](https://user-images.githubusercontent.com/61051937/115969997-74c18500-a548-11eb-875c-1d873f8ad77e.png)

[2021-04-25 06:11] doom369 commented on #56
We actually already implemented this, but on UI we don't have an option to change the locale yet. Soon will be done.

[2021-04-25 06:11] #56 closed

[2021-04-26 10:41] doom369 commented on #66
@marminatix hello. We deployed the new build with the fix. Please check.

[2021-04-26 10:44] marminatix commented on #66
Testing....

[2021-04-26 13:22] marminatix commented on #66
Hi.
The situation is better but not good enough.
The CPU usage increases with time and after 30 minutes both Crome and Edge are seizing constantly about 50% of the processor with the "lastest" update rate. No problem with other update rates. Previously, the CPU was seized in a shorter period of time at higher percentages.
Sometimes the webpage (always in "latest" mode) freezes and needs to be relo

[2021-04-27 11:44] Peterkn2001 commented on #66
I've been trying to recreate this and I can't.
My chart widget has two datastreams, each set to "AVG of" and I've tested Chrome and Edge individually and together. After a few hours, checking the memory usage at regular intervals I've not seen CPU usage higher higher than 7% and usually it's around 2% or less for both browsers.

![image](https://user-images.githubusercontent.com/35718564/116234798

[2021-04-27 14:52] eepetrash commented on #67
Copying the detastream selection was actually a bug. Everything except detastream selection should be copied.

Showing pin fixed in Blynk beta 3.1.0(20)

[2021-04-27 15:48] #67 closed

[2021-04-27 16:19] marminatix commented on #66
Probably I've found the solution.
Other than only the CPU over-usage, in the last days, after some device firmware upgrade, the charts began to freeze.
Of course I was using "AVG of" and the rate was one per second but in that "one per second" there were 10 Vpin pushed in.
So, of course I was an outlaw! And the system was telling me I was.... ;-)
While the android beta app (with the same widgets)

[2021-04-27 16:24] marminatix commented on #51
I've tried again and I noticed that the system doesn't let me save the settings even when I ONLY try to exclude the user from viewing the organization's device.....
![image](https://user-images.githubusercontent.com/81511771/116277343-aa9f7d00-a785-11eb-8166-c09f8ac020b2.png)

[2021-04-27 16:40] doom369 commented on #51
Not fixed yet. I'll update the ticket when ready.

[2021-04-27 16:44] doom369 commented on #66
Thanks for the update. Yes, 1 req/sec vs 10 req/sec it's a bit different load :). 10 req/sec is not that big that the chart should lag or eat a lot of CPU. Most likely some UI elements are rendered on every request. So this should be fixed anyway.

[2021-04-27 16:53] OmarQT commented on #42
Thankyou @alexkipar all good now!

[2021-04-27 17:08] marminatix commented on #66
Yes.
The routine runs with 1 second pace.
My fault was thinking it was right but progressively adding Vpins brought the req/sec to 10 and not 1...
As you can see I'm not a software developer but I USE these things and I'm sure that tools will help me to improve gathering reliable data from the shop floor, to set the best modeling math for simulating the process and to be effective at the eyes of t

[2021-04-27 21:44] DaleSchultz opened #68 "Provisioning device: List of networks does not ask user to do anything, but we have to click on a network"
I flashed the example app onto an ESP8266.
It is broadcasting a wifi AP.

In the Android app I tried to add a device.
I get a pop up notice saying that Blynk Beta want to connect to a temporary wifi point
It lists the wifi point available and gives me a cancel button.

_There is no indication that I should press on the wifi network it found._

I understand that this may be an Android system dialog

[2021-04-27 21:54] DaleSchultz opened #69 "Adding device results in message: Not correct device"
ESP8266 is flashed using device ID and name copied from web portal.
It is broadcasting a wifi AP

Adding the device on the Android app, it finds the device SSID but then says:

Not correct device.

I have tried it with and without the line: ```#define USE_NODE_MCU_BOARD```
with the same result.

![Screenshot_20210427-171648](https://user-images.githubusercontent.com/46095860/116316730-5e057300-a78

[2021-04-27 22:01] DaleSchultz commented on #69
in the web dashboard have set the **hardware** to

- ESP8266
- NodeMCU
- Wemos D1

and get the same result for all three.

[2021-04-28 08:04] doom369 commented on #69
@DaleSchultz is that still an issue? this error usually means that you used the wrong template id or you don't have templates at all.

[2021-04-28 08:04] doom369 commented on #68
@alexkipar is that a system dialog?

[2021-04-28 11:08] DaleSchultz commented on #69
yes nothing has changed.

Today I deleted all my templates and devices and started again
I created  a template that uses nodemcu hardware
I created 1 device that uses the single template

I placed the template ID and device name into the sketch
I flashed it to the NodeMCU

I try to add the device, it says it connects and then goes to the screen that says: NOT correct device

The name it displayed

[2021-04-28 11:14] DaleSchultz commented on #69
and... BTW it leaves the phone connected to the temporary AP. So the phone is left offline!
When the error condition is achieved, the wifi connection to the device should be dropped.

[2021-04-28 11:20] doom369 commented on #69
@DaleSchultz do you use iOS or Android? Could you please send logs?

[2021-04-28 11:36] Peterkn2001 commented on #68
@DaleSchultz I had a similar issue and it was because I'd missed the step of adding the template in the app...
See this link...

https://github.com/blynkkk/beta/issues/3#issuecomment-812507875

Pete.

[2021-04-28 11:41] doom369 commented on #68
@Peterkn2001 In that case app should show "You don't have template" error. We added that in the recent updates.

[2021-04-28 11:45] DaleSchultz commented on #69
This is all that is in the log
[code]

[2021-04-28 11:49] doom369 commented on #69
@DaleSchultz that's strange. @alexkipar please advise.

[2021-04-28 11:51] DaleSchultz commented on #69
when I created the template and device I was in the web portal.

In looking to see how to send logs, I clicked the wrench icon in the Android app.
I saw it was for creating a template on the phone. So I went back out without creating a template from the phone.

I decided to see if the log could capture the attempt to connect to the device, so I tried adding a device again.
I now get the message: C

[2021-04-28 12:00] DaleSchultz opened #70 "hardware list is not sorted properly, so user thinks hardware is not in list"
on Web portal, create a new template.

We are presented with a list of supported hardware, which appears to be sorted.
But it is only partially sorted, if one looks below 'W' we find other hardware devices.

![image](https://user-images.githubusercontent.com/46095860/116400117-ab70f700-a7f7-11eb-8213-a60128763e35.png)

Obviously the danger is that the user wont find their device in order and concl

[2021-04-28 12:03] doom369 commented on #69
I don't see any template on the mobile project of your account

[2021-04-28 12:06] DaleSchultz opened #71 "Usability: could not see checkbox in delete screen."
I wanted to delete devices and templates

I was presented with the screen in which I have to type DELETE, but even after doing that, the delete button was not enabled.

I tried this a few times.
Eventually I noticed that the text below the DELETE field was in fact a checkbox.

I am not blind but I am over 60. A check box that is a required item needs to be made clearly visible as a checkbox and ha

[2021-04-28 12:13] DaleSchultz commented on #69
In the web portal it shows me two templates I created on the phone
![image](https://user-images.githubusercontent.com/46095860/116401687-84b3c000-a7f9-11eb-90dd-d62e720784c5.png)
So the templates I created on the phone have replicated to the server.

[2021-04-28 12:24] DaleSchultz commented on #69
the two templates I created on the phone were empty.
I created a 3rd and added a button.
Now that I have a non-empty template, it has gone back to the old behavior of saying that "not correct device"

So just having visited the developer mode forced me to create a non-empty template, even though the template I am using already exists in the cloud.

[2021-04-28 12:30] DaleSchultz opened #72 "Phone app: cannot edit empty template without creating another new one first"
On phone app click Developer mode
Enter a template name to create a new (first) template
Do not choose any action types.
It creates an empty template. Fine.
Go back to main screen.
Tap Developer Mode to edit the existing (empty) template.

There being no non-empty templates, it insists you create a new template first. On entering a new name, one sees both.

Either non-empty templates should not be

[2021-04-28 12:35] doom369 commented on #69
That template is not the one you're trying to provision. I see you set up a mobile template with templateId = TMPLbdfXkTCi, while you add device with another template.

[2021-04-28 12:43] doom369 commented on #72
@alexkipar @eepetrash when a new template is created we always have to select some default type. Why do we allow to create the template without any type? It doesn't make any sense.

[2021-04-28 12:49] DaleSchultz commented on #69
correct, but the mere presence of the template added an additional hurdle to provisioning the web-created device using the web-created template.

[2021-04-28 12:50] DaleSchultz commented on #69
understood, but remember, simply tapping the developer mode and _not_ creating a template on the phone changed the behavior of attempting to provision a device using web-created template.

[2021-04-28 13:36] alexkipar commented on #68
It is a system dialog and it is the only way to connect of the Android 10 and later. Nothing can be changed there.

[2021-04-28 13:43] DaleSchultz commented on #68
well, Blynk app can put up a message _first_ saying that on the next screen , we should pick the device we wish to connect to.

[2021-04-28 14:02] eepetrash commented on #72
@doom369 it doesn't happen on iOS

[2021-04-28 14:31] doom369 commented on #69
Yes. this is something we have to implement.

[2021-04-28 17:15] doom369 commented on #66
@marminatix we deployed another possible fix. Please check again.

[2021-04-29 16:44] marminatix commented on #66
@doom369 the rate is at 10 Vpin per second again.
Next days I'll have a better situation.
M

[2021-04-30 06:51] marminatix commented on #66
After 1 hour.
10 Vpins per second.

![image](https://user-images.githubusercontent.com/81511771/116658879-f5d9ab80-a990-11eb-8515-8fec4640bfdf.png)

[2021-04-30 09:56] marminatix commented on #66
Chart freezed but label working...

<img width="1255" alt="Immagine 2021-04-30 115353" src="https://user-images.githubusercontent.com/81511771/116679548-f0895a80-a9aa-11eb-956f-397f1cb6907c.png">

[2021-05-01 19:31] DaleSchultz commented on #69
I am still not bale to progress without adding a device to the app.... should I just wait or is there something else that can be tried?

Remember the creation of templates on the phone simply raised _additional issues_. The original problem of it not provisioning still exists.

[2021-05-04 07:18] whogarden opened #73 "Android app lost"
I had to restore my smartphone to factory settings,
But now that it's done I can not find the android app to restart testings.
What can I do please?

[2021-05-04 08:41] whogarden opened #74 "'BlynkCRC32' was not declared in this scope"
Can not use blynk beta(version=1.0.0-beta.1) when original blynk (version=0.6.1) is present in libraries repository.
(Error 'BlynkCRC32' was not declared in this scope) when compiling the sketch "Edgent_ESP32.ino"

[2021-05-04 16:55] jpecor commented on #63
I am having a similar problem. I can't get past a compile error.

I have a Particle Photon controlled remote switch that I manage with an existing Blynk app that I'd like to update to the new Blynk.360 and library.  I still can't get even a basic test to compile for the Photon.

Are there any examples of tested code for Particle devices available?

Thanks!

[2021-05-04 17:27] alexkipar commented on #73
@whogarden it should be available by the link: https://play.google.com/store/apps/details?id=cloud.blynk

[2021-05-04 18:02] doom369 commented on #63
@vshymanskyy any advice?

[2021-05-04 18:22] jpecor commented on #63
This is all there is to my code.  I deleted my template ID, device name and auth token for sharing, but they are there in the actual code.

[code]

And here the compile errors:

[code]

[2021-05-04 18:48] whogarden commented on #73
There is nothing here https://play.google.com/store/apps/details?id=cloud.blynk
The answer is : Désolé, impossible de trouver l'URL demandée sur ce serveur.

[2021-05-04 19:02] alexkipar commented on #73
@whogarden are you signed in to the same account in the Play Store as the email you used to register for beta?

[2021-05-04 19:06] whogarden commented on #73
No, the email of the play store is a gmail and the email for beta is laposte.fr

[2021-05-04 19:08] alexkipar commented on #73
@whogarden can you provide the Gmail email?

[2021-05-04 19:12] whogarden commented on #73
Email : espouare@gmail.com

[2021-05-04 19:21] alexkipar commented on #73
@whogarden I've added that email and removed your comment with it. Please recheck that link on your smartphone - it should work now

[2021-05-04 19:23] whogarden commented on #73
I got it Thank you

[2021-05-04 19:24] #73 closed

[2021-05-10 15:33] whogarden opened #75 "There is a running shipment with this original product"
I receive that error when I try to start shipping.
(shipping previous firmware was ok with V 0.1.1)
Build:4:08 PM Today
Version:0.1.2
Type:TMPLy7SjT90M
Hardware:ESP32
MD5 Checksum:7086AEADF401AE5E9967F542FF6472A4
and No condition

[2021-05-11 07:12] doom369 commented on #75
@whogarden what status does that shipment has?

[2021-05-11 07:34] whogarden commented on #75
I just see now that I can not have a shipment with my second device.
I have not seen that I can not chose the second device, it's not in the list.

[2021-05-11 08:37] whogarden commented on #75
That's OK

[2021-05-11 08:37] #75 closed

[2021-05-11 09:07] whogarden commented on #75
I understand that I must "cancel" the previous shipment of the same device (event if the update has been done)
to be able to make a new shipment.
Is this correct?

[2021-05-11 11:31] whogarden commented on #75
In "Devices for new shipping"
Shipment status is "Success" and status is "Online"
In "Blynk.Air"
Status is "Live" with a green point blinking

Why not "Finished"?

[2021-05-11 16:37] Sultan-Kathat opened #76 "Unable to set Output value in button widget"
I am not able to set output value in the button widget, I am not able to find the option for the same.
By default,
![Screenshot_20210511-220405](https://user-images.githubusercontent.com/64056864/117852718-401e2f00-b2a5-11eb-94d3-0ba72ace45a9.jpg)
 it is sending the maximum and minimum value.

Attaching the screenshot

[2021-05-12 10:18] Peterkn2001 commented on #76
I thought the values were now defined in the Datastream setup, not in the app widget.

Pete.

[2021-05-14 20:41] whogarden opened #77 "How can I delete a template"
Because of many manipulations I end up with a lot of templates and I don't know how to delete some of them?
What can I do?

[2021-05-15 04:04] doom369 commented on #77
You need to click on the template on the web, then the edit button in the right corner, and then "delete" button in the top right corner.

[2021-05-15 19:27] whogarden commented on #77
There is no "delete" button, I have only "Save" and "Cancel"
![3](https://user-images.githubusercontent.com/16666934/118375781-37d73400-b5c4-11eb-99c3-af8aa8604a45.jpg)

[2021-05-15 19:46] whogarden commented on #77
There is no "delete" button, I have only "Save" and "Cancel"
![3](https://user-images.githubusercontent.com/16666934/118375781-37d73400-b5c4-11eb-99c3-af8aa8604a45.jpg)

[2021-05-15 19:50] whogarden commented on #77
I'm sorry,
I found it (it's at the left of "Cancel")

[2021-05-15 19:50] #77 closed

[2021-05-17 09:16] whogarden opened #78 "Can't "review and apply" after reset configuration"
The wifi password has been changed, and the device always restarts....
In https://docs.blynk.io/en/getting-started/activating-devices/blynk-edent-wifi-provisioning
and in" How WiFI provisioning works" step 11
You say that "WiFi credentials can be changed by using Blynk app", I can see nothing about that in the app.
So I tried to hold the button to reset configuration.. and add new device in the ap

[2021-05-17 09:40] whogarden opened #79 "I can "start Shipping" with no devices selected"
I can "start Shipping" with no devices selected.
(Yes I am a little dizzy and don't see the warning at the left bottom)
The device is updated.
But the status of the shipment stays live.
and the report says "SUCCESS" (after "Cancel").
(maybe not allow to start shipping if there is no device selected).

[2021-05-18 09:42] whogarden opened #80 "Can't display image in Image button widget"
In phone app,
in "Image Button Widget", I chose to set an image to OFF STATE of an image button.
I can see the image but don't know how to set it?
![Image button](https://user-images.githubusercontent.com/16666934/118628840-480e2f80-b7cd-11eb-8623-2e076b8df6c3.jpg)

What must I do?

[2021-05-18 15:24] whogarden commented on #80
When there is only one image on "ON STATE" (for example),
and no image on "OFF STATE"
On and Off are working, but we always see the image of "ON State".

[2021-05-18 15:43] whogarden opened #81 "In sketch I can't use virtual pins from V128 to V255"
In sketch (with arduino IDE and ESP8266-12F)
 I can't use virtual pins from V128 to V255.

It does nothing.

BLYNK_WRITE(V131) // Executes when the value of virtual pin 131 changes
{
  int pin_value = param.asInt();
  if (pin_value == 1)
  {
    // execute this code if the switch widget is now ON
    digitalWrite(13, LOW); // Set digital pin 13 HIGH
  }
  else
  {
    // execute this code if the s

[2021-05-18 16:12] alexkipar commented on #80
@whogarden got it, we will enable such option.

[2021-05-20 09:23] whogarden opened #82 "In mobile app selected value of "Device Reference" disappears when the information screen is refreshed"
A "Device Reference" was created in the (web) template Metadata.
Then for that "Device Reference" the value "Test SOS Devboard" was selected in mobile app in page "Information" of the device.
But when I refresh the screen, this value returns to "No referenced devices".

[2021-05-21 07:37] whogarden commented on #77
I can now see distinctly the delete button.
thank you for your wonderful involvement

[2021-05-21 08:01] whogarden opened #83 "in mobile app, I can't see some metadata"
I try to use all the metadatas in a template, but in the mobile, I can't see :
Time
Cost
Coordinates
Switch
IMEI
ICCID
Is there something I don't understand?

[2021-05-21 16:31] whogarden opened #84 "Can't erase datas from a device in web dashboard"
On device web dashboard, I try to erase data.
I receive the message
"Data was erased successfully. It might take several minutes before it disappears"
But 2 hours later when I "Download Report", datas are still present into the file "Test SOS32 Devboard_1375_data.csv"

[2021-05-21 16:40] doom369 commented on #84
Yes. That's a known issue. Will be fixed soon.

[2021-05-23 09:42] alexkipar commented on #82
@whogarden on Tuesday there will be a new build available and this issue will be fixed

[2021-05-23 09:42] alexkipar commented on #83
@whogarden not all types of metadata are available on mobile - we will make them available soon.

[2021-05-23 15:51] whogarden opened #85 "There is only one column in the csv files"
When I open a csv file with excel all the datas are concentrated into only one column.
It's difficult to use...
![Comma-Semicolumn](https://user-images.githubusercontent.com/16666934/119267299-3920e600-bbee-11eb-8191-efce53a8c05f.jpg)

The reason is :
With excel in french langage the separator is not comma but semicolon. ?
Maybe can you provide an option in settings to choose the separator that ex

[2021-05-23 18:12] doom369 commented on #85
@whogarden could you please provide the "bad" csv? Looks like a bug in CSV generation.

[2021-05-24 07:16] whogarden commented on #85
Here
[device_list_349_2021-05-24T09-13-31.zip](https://github.com/blynkkk/beta/files/6530475/device_list_349_2021-05-24T09-13-31.zip)

[2021-05-24 07:18] whogarden commented on #85
Please delete it quickly because my email is inside

[2021-05-24 08:04] whogarden commented on #85
There is my email inside.
Can you warn me when you'll be on line?
I'll put the file at that moment and then delete it quickly
Thank you.

[2021-05-24 08:05] doom369 commented on #85
@whogarden please send to dmitriy@blynk.cc

[2021-05-24 08:06] whogarden commented on #85
There is my email inside.
Can you warn me when you'll be on line?
I'll put the file at that moment and then delete it quickly
Thank you.

[2021-05-24 08:07] whogarden commented on #85
File have been sent.
Is it ok?

[2021-05-24 08:22] doom369 commented on #85
got it, thanks. we'll check.

[2021-05-24 08:24] doom369 commented on #85
Opened it with LebreOffice and all seems fine. I'll ask the QA team to check with windows and MS Office

[2021-05-24 09:39] whogarden commented on #85
It's because the separator is a comma with excel in english...
But in France, with excel the separator is a semicolon in french MS excel... Why???
So you can not see the problem.
May be you can confirm by asking somebody in France or Belgium ......
It's something like when you apply a formula to a unix time stamp.
You use this formula : =(A1/86400)+DATE(1970,1,1)
but this formula doesn't work, in

[2021-05-24 10:11] doom369 commented on #85
I see. You're right. Looks like both semicolon and comma are valid separators and depend on the locale. I didn't know that. Will fix.

[2021-05-24 17:21] JimE007 opened #86 "Questions about Legacy Blynk"
Not an Issue - but not certain if there is some forum I should be using.

I have a few questions about the Legacy Blynk systems moving forward.  This is both to inform others that I have directed towards blynk in the past - and to address questions at an upcoming IoT presentation.   Also for personal reasons :-).

1) My understanding is that the Legacy Blynk Server will be shutdown at some point i

[2021-05-24 17:53] doom369 commented on #86
Correct. I think ~1 year. But that is not yet decided. Could be changed in any direction.

Yes. The old app will still be available in the app store.

I think for the local server owners nothing will be changed unless they want to use the new app/cloud.

400$ is a white-label app plan. If you don't run any business that's plan is not for you.

No plans for that.

Yes. The launch will be very soon.

[2021-05-24 18:59] #86 closed, assigned to nobody

[2021-05-24 19:09] vshymanskyy commented on #74
Sorry, Arduino does not support having 2 different versions of the same library.
If you need to manage libraries in a more flexible way, we suggest using advanced tools like PlatformIO

[2021-05-24 19:09] #74 closed

[2021-05-24 19:41] vshymanskyy commented on #81
@whogarden pins above `V127` have some limitations in usage, and this is properly documeted. Check out these notes:
- https://docs.blynk.io/en/blynk.edgent/api/virtual-pins#blynk_write-vpin
- https://docs.blynk.io/en/blynk.edgent/api/virtual-pins#blynk_read-vpin

[2021-05-24 19:41] #81 closed

[2021-05-24 19:56] vshymanskyy commented on #48
Currently, the values that are sent out via `virtualWrite` are not acknowledged individually, so I think your solutions is quite good.
We'll consider adding an additional blocking API, like:
[code]
But status is not 100% reliable, i.e. could be a false negative. WDYT?

[2021-05-24 19:56] #48 closed

[2021-05-24 19:59] vshymanskyy commented on #79
This is intended. If you select no devices, a "Live" upgrade is created.
Which means, all of the devices (i.e. even newly added) of selected product will be upgraded

[2021-05-24 20:00] #79 closed

[2021-05-25 07:27] whogarden commented on #79
In that case, the status stays live with green dot blinking.
(The device is successfully updated),
It seems to us that we can update nothing at all, yes we can accept that,
but in Blynk.Air the problem is :

Blynk.Air does not see the end of the update.
And the status in Blynk.Air remains "live" for ever... And we don't know is the update is done or not.

[2021-05-25 12:31] vshymanskyy commented on #63
You should include this file instead of BlynkParticle.h:
[code]

[2021-05-25 12:31] #63 closed

[2021-05-25 16:46] whogarden opened #87 "Blynk Beta android smartphone app is no more working"
Since about an hour, the android smarphone app is not working.
I have only three dots moving.
Is it the end of testing?

[2021-05-25 16:59] doom369 commented on #87
@whogarden we rolled out the new version. It requires a new mobile client's app / web (clear the cache).

iOS swill may not work. Android should work.

[2021-05-25 17:02] Peterkn2001 opened #88 "Has the API changed? - now not working"
I've been running a script which pushes data to virtual pins of my test device using the external API since the beginning of beta testing.
Since 16:13 BST today this has been failing with the error:
`{"error":{"message":"Invalid token."}}`

My API call is:
`https://blynk.cloud/external/api/update?token=REDACTED&pin=v12&value=12.93%22`

Pete.

[2021-05-25 17:09] whogarden commented on #87
Done,
What email must I fill?
Email of play store or email of web blynk.cloud?

[2021-05-25 17:32] Peterkn2001 opened #89 "Website Feedback & pricing questions..."
Having seen the banner message about what's happening on 25th June, I took a look at Blynk.io and have a bit of feedback...

1) At the top of the https://blynk.io/pricing#plan-comparison page, the plans are listed left to right as Free, Pro, Plus but as you scroll down to the comparison of what's included, the sequence changes to Free, Plus, Pro.
Very confusing!

2) The cost of adding an additiona

[2021-05-25 17:41] doom369 commented on #89
Thanks for the feedback. I'll check these questions with the team.

[2021-05-25 17:43] doom369 commented on #87
@whogarden during the login? "email of web blynk.cloud"

[2021-05-25 17:44] alexkipar commented on #82
@whogarden should be fixed in the latest build

[2021-05-25 17:45] alexkipar commented on #80
@whogarden empty images should be a possible option now in the latest build

[2021-05-25 17:45] blynkkk commented on #89
Thanks Peter!

1. will fix
2. fixed
3. this will be defined by 25th
4. this info will be soon added to website and pricing pages

[2021-05-25 17:45] doom369 commented on #88
@Peterkn2001 you can try this host `fra1.blynk.cloud`. Should work for you. We just deployed the distributed setup (like we have in blynk 1.0). In future, we'll implement forwarding or redirect for API. So generic host could be used without region specific domain.

[2021-05-25 17:57] whogarden commented on #87
It's what I have done, but app stays on "Connecting"
(clear the cache was not enough to stop the points moving
I had to delete all datas... was it a mistake).

[2021-05-25 17:58] doom369 commented on #87
@whogarden is that Android app? What version do you have?
@alexkipar did you release the app with the Geo DNS support?

[2021-05-25 18:01] alexkipar commented on #87
@doom369 Geo-DNS support app's version will be available at best tomorrow only

[2021-05-25 18:02] whogarden commented on #87
Android 10QKQ1

[2021-05-25 18:04] vshymanskyy commented on #63
Verified with library v1.0.0 on Photon

[2021-05-25 18:05] alexkipar commented on #87
@whogarden are you using the 1.1.0 apps' version?

[2021-05-25 18:07] whogarden commented on #87
It's the Blynk Beta Version 1.1.0

[2021-05-25 18:24] jpecor commented on #63
Thanks Volodymyr. I was able to get past the compile errors.  But now, when I try connecting from the app, I just get dancing black dots on a white screen:  From: Volodymyr Shymanskyy ***@***.***>Date: Tuesday, May 25, 2021 at 1:04 PMTo: blynkkk/blynk_Issues ***@***.***>Cc: Jason Pecor ***@***.***>, Comment ***@***.***>Subject: Re: [blynkkk/blynk_Issues] Particle Photon (#63)Verified with library

[2021-05-25 18:34] alexkipar commented on #87
@whogarden 1.1.1 version should be available in minutes - please try it, I suppose it should fix this issue

[2021-05-25 18:42] whogarden commented on #87
It's OK.
 Thank you

[2021-05-25 18:45] whogarden commented on #87
I think I may close the issue

[2021-05-25 18:45] #87 closed, assigned to alexkipar

[2021-05-25 19:06] blynkkk commented on #85
CSV stands for `comma separated values`. Shouldn't it always be comma? :)

[2021-05-25 19:39] whogarden commented on #85
No...
In csv files opened with Windows MS Excel,
The separator is a comma in MS excel in English (and may be other langages).
But in French (may be in other langages) the separator must be a semicolon.

(May be can you provide an option in web Blynk.cloud settings  to let the user choose the separator that excel expects?)
The default should be comma.
 Don't forget to explain this.
And it will be t

[2021-05-25 19:49] jpecor opened #90 "iOS App only shows dancing dots on white screen"
I had some time to get back to testing the new Blynk app this morning, and all I get now is 3 dancing black dots on a white screen:

![IMG_B4D7BAC7DFFE-1](https://user-images.githubusercontent.com/14111408/119559482-58438300-bd68-11eb-9c1f-0fed0bc4153f.jpeg)

Any ideas?

Thanks!
Jason

[2021-05-25 20:10] eepetrash commented on #90
Hi @jpecor
Thats happening because the server started GeoDNS resolutions today and looks like your existing account resides in a different server to the one app connects now.

This will be addressed in the next iOS app update.

[2021-05-25 20:18] whogarden commented on #80
The button name  "Update Image" is quite clear.
When There is an empty image, we can not see the button, there are no edges.
When the button is activated 2 times, it never return to "no image" and we can not see the on / off

[2021-05-25 20:29] jpecor commented on #90
Thanks @eepetrash!

Since I'm evaluating the app via TestFlight, will the update come through the same way as normal app updates?

[2021-05-25 20:33] alexkipar commented on #80
@whogarden can you clarify what does it mean 'activated two times' ? On the setting UI for the empty case - understood.

[2021-05-25 20:50] eepetrash commented on #90
@jpecor yes

[2021-05-25 20:59] jpecor commented on #90
Good news.  Any idea on timeline?  No rush on my end - just want to keep an eye out for it.

[2021-05-25 21:47] eepetrash commented on #90
The build, 3.1.1 (0) is sent to Testflight, but required Apple review. Usually it takes 1 or 2 days.

[2021-05-25 21:51] jpecor commented on #90
Sounds good, thanks!

[2021-05-25 21:51] #90 closed, assigned to nobody

[2021-05-26 06:15] Peterkn2001 commented on #88
Thanks @doom369 that host works fine.

I guess the documentation here:
https://docs.blynk.io/en/https-api/update-virtual-datastream-value
needs to be updated.

Pete.

[2021-05-26 07:18] rob-buckingham opened #91 "led widget not working correctly"
I have led widgets in my project and use the simple code led1.on(); and led1.off(); my datastream is set to double and  range 0 to 10000.
when using app version 3.10(23) everything is fine
when using app version 3.10(25) leds dont light up at all
when using app version 3.10(28) leds light up but very dim

I've also tried a very simple sketch that turns led on and off every second and had  the same

[2021-05-26 07:19] doom369 commented on #91
@rob-buckingham hello. Is that ios/android?

[2021-05-26 07:24] rob-buckingham commented on #91
sorry forgot to mention ios

[2021-05-26 08:27] jensdenbraber opened #92 "Feature request mobile app: copy auth tokens with corresponding device name"
When you go to the project settings and click on the "Copy all" button of the auth tokens. Only the tokens are copied. It is unclear which token corresponds with which device.

Proposal:

A structure something like:
{
  \<Device name>:\<Auth token>,
  \<Device name>:\<Auth token>,
  \<Device name>:\<Auth token>
}

[2021-05-26 09:46] eepetrash commented on #91
@rob-buckingham what value are you sending, the 10000 (max value according to the datasrteam settings)?

[2021-05-26 10:26] rob-buckingham commented on #91
Not sending a specific value just led1.on();
and led1.off();
But I get the same results when I send led1.setValue(255); or led1.setValue(0);
Also the colours on the led widgets are a very light grey not the colours I selected in widget settings for led

[2021-05-26 10:27] doom369 commented on #92
@jensdenbraber you're talking about the mobile app, right?

[2021-05-26 10:31] doom369 commented on #88
@Peterkn2001 agree
@Mark-Pan please update the doc. Add add `NOTE` section that right now URL may requires specific region host. We'll need to show it on UI somewher.

[2021-05-26 10:39] rob-buckingham commented on #91
Changing datastream to range 0 to 255 fixes the issue so I’m not sure if this is solved as anyone can still replicate my setup and have the same results without any warning it won’t work correctly

[2021-05-26 11:24] jensdenbraber commented on #92
Yes, the Android mobile app in this case :)

[2021-05-26 12:25] whogarden commented on #80
On the image button (set to "SWITH")
OFF SATE = no image
ON STATE = there is an "image2.jpg"
Start with button off
On the screen I can't see the off button( there is no image)
When I press the button, I can see the on button image  (button is on)
But now I press the button to return to off, the image should be "off button", but It's the same image (image2.jpg)
And then off button or on button alwa

[2021-05-26 12:32] whogarden commented on #80
And if you go back to an other device and come back to that device the off button shows the "on" image.
but if you disconnect then return to the device the off button shows no image (it's what we attemp to).
then one tap you see the "on" image
then one tap you see the "on" image
then one tap and you alwats see the "on" image.....

[2021-05-26 12:38] alexkipar commented on #80
@whogarden,

I've thought that you want no image option for it not to be visible. As it is an image button - you can create any transparent image suitable for your needs and set it up for the off state. We won't implement some special no-image case with a different background for this widget.

[2021-05-26 12:39] whogarden commented on #80
And when on settings, if I tap the on state image,
I don't see that image and the url is empty.
I tap on delete and return in the previous screen but the on state image is always seen. (an error here)..
But back in the user screen the on image is not present (normal I deleted it)

[2021-05-26 12:42] whogarden commented on #80
It's a misunderstanding excuse me.
At the beginning I tested with only one image on the on button.
And I saw what I describe now.

[2021-05-26 12:44] alexkipar commented on #80
@whogarden on the refresh from on-image state to off-no-image state - I will fix it in the next update. as well in settings UI

[2021-05-26 12:52] whogarden commented on #80
It will be fully sufficient, thank you.

[2021-05-26 13:16] whogarden opened #93 "Can't download report"
When I try to "download report", I have the error :
Failure: 404 Not Found

[2021-05-26 13:25] whogarden commented on #85
May be can you have a look at this ...
https://harvestmedia.zendesk.com/hc/en-us/articles/360023978031-Opening-Excel-files-with-the-correct-CSV-list-separator

[2021-05-26 13:30] Mark-Pan commented on #88
Added to each HTTP API article of the documentation.

[2021-05-26 13:39] blynkkk commented on #92
should be moved out from mobile app and managed on the web

[2021-05-26 13:45] whogarden commented on #82
When I refresh the screen, this value returns to "No referenced devices".
web dashboard was updated, and saved.
Is it ready to test?

[2021-05-26 14:02] alexkipar commented on #92
@blynkkk we do t have such functionality in the new app

[2021-05-26 14:02] alexkipar commented on #92
@jensdenbraber is it about Blynk 2.28.x ?

[2021-05-26 14:15] doom369 commented on #93
@whogarden yeah, we I saw this error in the logs. Already fixed, will be available with next deploy.

[2021-05-26 14:20] doom369 commented on #85
We'll check if we can use user locale in that case. If not - we'll add UI option.

[2021-05-26 14:59] rmznsy opened #94 "Choosing 3 Labels tile design creates UI error"
After you create a template in web app than, on mobile app (Android S10e) when you choose 3 Labels tile design, it does not work properly.
This one is before the change.
![Screenshot_20210526-174624_Blynk IoT](https://user-images.githubusercontent.com/81516108/119682560-a7161900-be4b-11eb-8a18-90942fd73bca.jpg)

These are after you choose the 3 Labels design.

![Screenshot_20210526-174715_Blynk Io

[2021-05-26 15:31] alexkipar commented on #94
@rmznsy.

We will upload a fix today, I hope it will be available soon

[2021-05-26 15:43] rmznsy opened #95 "Web dashboard ignores empty space"
On web dashboard, when you leave a space on top of a widget, after you save the dashboard, it goes up. It does not allow white space in UI design. (Mac Os 11.3.1, Firefox 88.0.1)

This is editing page.
![Screen Shot 2021-05-26 at 18 40 47](https://user-images.githubusercontent.com/81516108/119689940-f2332a80-be51-11eb-8353-5bd347215e0b.png)

This is after you save.
![Screen Shot 2021-05-26 at 18 4

[2021-05-26 19:05] jensdenbraber commented on #92
It is version: 2.27.27 (15.04.2021 18:25:04) running on Android.

[2021-05-26 19:07] alexkipar commented on #92
@jensdenbraber got it. i will add smth like the proposed logic for clipboard copy of tokens in one of next updates

[2021-05-26 19:13] jensdenbraber opened #96 "Website improvement suggestions"
See the following URL for some website improvement suggestions:

https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fblynk.io%2F

[2021-05-26 20:41] whogarden commented on #80
That's OK with Version 1.1.2(32)

[2021-05-26 20:41] #80 closed

[2021-05-26 20:44] alexkipar commented on #94
@rmznsy
The fix should be available, but you should recreate that template or use it as 8 columns one ))

[2021-05-26 20:45] whogarden commented on #82
That's OK with Version 1.1.2(32)

[2021-05-26 20:45] #82 closed

[2021-05-26 21:12] whogarden opened #97 "I can't find the About of the web dashboard"
I can't find the About in the web dashboard.

[2021-05-27 04:21] doom369 commented on #97
@whogarden could you please clarify what do you mean by "About"?

[2021-05-27 06:57] whogarden commented on #97
I just need to know the "Version" of the https://blynk.cloud/dashboard/xxx

[2021-05-27 07:02] whogarden commented on #97
For example,
I have problems with the chart size, and I am asking me if it's a mishandling or if it because there is a new web version.

[2021-05-27 07:03] whogarden commented on #97
For example,
I have problems with the chart size, and I am asking me if it's a mishandling or if it is because there is a new web version.

[2021-05-27 07:21] doom369 commented on #97
I see... Yes, this is good point. We'll think about it.

[2021-05-27 08:04] whogarden opened #98 "Can't upload file in Blynk.Air"
I can not upload file.bin in Blynk.air
I click on Upload firmware file (.bin, .tar, .zip)
Then I select the .bin
I have the message "Uploading file..."
But no firmware appears.
According to bug #79
"This is intended. If you select no devices, a "Live" upgrade is created.
Which means, all of the devices (i.e. even newly added) of selected product will be upgraded"
I have no device selected.

[2021-05-27 09:58] EarlOld commented on #98
@whogarden Can you provide your **.bin** file?

[2021-05-27 11:54] whogarden opened #99 "Minimum size of charts are now too long"
I don't know if a made something unexpected, but with previous minimum size of charts, I could set 2 charts side to side like :
![Previous_size](https://user-images.githubusercontent.com/16666934/119820734-18a8a280-bef2-11eb-93e5-07202a653e39.jpg)
But now with the minimum size, I can only set one chart the second is dropped under.
![Now_size](https://user-images.githubusercontent.com/16666934/1198

[2021-05-27 12:09] whogarden commented on #98
.bin is there
https://1drv.ms/u/s!AumeH7O_5gYEqsxfI1SIrhkcIHbNWg?e=7pd5to

[2021-05-27 12:11] doom369 commented on #98
The issue is reproduced, Thanks. Will be fixed today.

[2021-05-28 08:59] whogarden opened #100 "Video Streaming is jerky"
I try to use the same widget "Video Streaming" that I use in a project 4WDRobotCamera with the old Blynk 0.6.1
The streaming is from a RPI3 and the video is fluid (latency 2seconds...)

But in the Blynk IoT 1.1.2(32) (26.05.2021 19:41) the video is jerky.
The streaming is from the same http address used for the RPI3

[2021-05-28 09:41] whogarden opened #101 "I can't create mobile dashboard"
I Made a transfer of a device that was OK
![Transfer](https://user-images.githubusercontent.com/16666934/119963858-dd1cdf80-bfa8-11eb-91ff-387c9a4fa326.jpg)

But I can't install Blynk app on the smartphone because emails are not the same.
The email to use with the device transfered in web "https://blynk.cloud/dashboard/xxx"
 is not the same as the email in the (android) smartphone.
How can I chang

[2021-05-28 09:45] doom369 commented on #101
Sorry I don't understand you. Could you please use some example. Like "I'm logged under X, did transfer to Y, etc"

[2021-05-28 09:52] doom369 commented on #100
@whogarden is that andorid or ios?

[2021-05-28 12:22] KANAKARAJA407 opened #102 "Provide STEM option Like Ubidots IoT Platform"
Kindly provide STEM Mode like the Ubidots platform. so that users can thoroughly understand the Blynk platform then they may choose a monthly plan or yearly subscription. Still, I am choosing STEM in Ubidots there are no restrictions, and also they provide up to 3 Channels with 4000 data dots in the storage capacity. this is the best solution to understand the complete Blynk IoT Dashboard so my su

[2021-05-28 13:12] whogarden commented on #101
I am logged under the email xxxxx@lapxxxte.fr of the device tranfered
And I want to  "install Blynk app for android on a smartphone but the email xxxxx@gmail.com is not the loggin email of the web dashboard
![logged](https://user-images.githubusercontent.com/16666934/119988739-b5d50b00-bfc6-11eb-9e7e-2ff81cdc7ee9.jpg)
May be there is something I don't understand.

[2021-05-28 13:16] whogarden commented on #100
It's android version 10 QKQ1
Now, I am wifi connected.
On RPI I have Raspian and video is from Motioneye.

[2021-05-28 13:35] doom369 commented on #102
Thanks for the proposal. We'll consider this.
By the way, Blynk has a fully free option for 1 device with 255 variables (ubidots has only 20 variables per device).

[2021-05-28 13:51] doom369 commented on #101
And xxxxx@gmail.com  is the account you was originally logged under, correct? And from xxxxx@gmail.com you did a transfer, right?

[2021-05-28 14:12] whogarden commented on #101
Yes

[2021-05-28 14:14] doom369 commented on #101
@whogarden are you sure you did a logout from the previous account?

[2021-05-28 14:21] whogarden commented on #101
Yes done now
and always same email to install app and web loggin

[2021-05-28 15:59] whogarden commented on #101
It's a misunderstanding.
I can not use 2 different email addresses in that case.
I installed the app from Play Store and connected with the web dashboard loggin / pass
And all is fine.

[2021-05-28 15:59] #101 closed, assigned to nobody

[2021-05-28 16:11] John93-Blynk opened #103 "Help"
Hello all.

Blynk slider and step v and step h doesn't show the current position value like the old blynk.

[2021-05-28 17:13] mikesoniat opened #104 "Problems with Location datastream and Map widget"
My map widget was working fine on the old app. Now:

**Web**: I setup a datastream "Location" type connected to my MapWidget virtual pin. It connected up automatically when I added a map widget to the web dashboard. Looks good, but no data is being received on my device dashboard.

**New App:** When I add a map widget, the "Location" pin is not showing up as an option. All other V pins are showing

[2021-05-28 17:24] doom369 commented on #104
@mikesoniat when the Location DataStream created you need to set it as raw DS:

![screenshot-blynk-qa com-2021 05 28-20_17_05](https://user-images.githubusercontent.com/1536494/120019928-b931bc00-bff1-11eb-846d-aa6d720dedc1.png)

We will fix it in the next build. So we don't confuse the people.

Real-time updates for the map are not yet implemented. Will be implemented soon as well.

Correct usage

[2021-05-28 18:02] mikesoniat commented on #104
Thank you for your quick response. BTW, I love the new UI!

[2021-05-28 18:38] doom369 commented on #104
@mikesoniat thanks! I'll update this ticket when we'll fix the issue. Meanwhile, I updated the doc with additional info on how to update the map:

https://docs.blynk.io/en/web-dashboard/products/dashboard/map#insert-the-data

[2021-05-28 19:55] mikesoniat opened #105 "mph and psi not available in datastream units"
I would like to request you add mph "Miles Per Hour" and psi "Pounds per Square Inch" to the datastream units options.

[2021-05-29 05:40] doom369 commented on #105
@mikesoniat thanks for the proposal. Will do.

[2021-05-30 12:13] #103 closed, assigned to blynkkk

[2021-05-30 14:43] JAndrassy opened #106 "Blynk 1.0.0 compilation error: "functional: No such file or directory""
compilation error:
Arduino/libraries/Blynk/src/Blynk/BlynkConsole.h:20:10: fatal error: functional: No such file or directory

Blynk 1.0.0
Arduino IDE 1.8.15
Arduino Uno
Blynk Arduino_Ethernet example

what library is for `<functional>`?

[code]

[2021-05-30 23:19] LucasVS1998 opened #107 "Web Dashboard Buttons doesn't work"
In web or in the quick button in the app i can't use the functionalities

[2021-05-31 05:35] doom369 commented on #107
Could you please provide more details? What button do you mean?

[2021-05-31 07:38] Agnetka-qa commented on #105
@doom369 Is it right?
AR: DS units are doubled
![image](https://user-images.githubusercontent.com/65705128/120157681-f23d7c80-c1fb-11eb-89e7-3ce794a8e19c.png)
![image](https://user-images.githubusercontent.com/65705128/120157723-fc5f7b00-c1fb-11eb-9bd2-6e936c2505da.png)

[2021-05-31 10:16] vshymanskyy commented on #106
Thanks for reporting. This issue was fixed, available from `master` branch: https://github.com/blynkkk/blynk-library

[2021-05-31 10:19] doom369 commented on #105
@mikesoniat added. Please reopen if not fixed.

[2021-05-31 10:21] doom369 commented on #104
@mikesoniat both issues are fixed. Now new Location DS isRaw == true by default. Also, the map now supports real-time updates. Please let me know if it works as expected. Please reopen if not fixed.

[2021-05-31 10:24] vshymanskyy commented on #102
Blynk already provides a Free plan. We will expand it's capabilities whenever possible

[2021-05-31 10:24] #102 closed, assigned to blynkkk

[2021-05-31 10:25] doom369 commented on #100
@alexkipar did you have a chance to look into it?

[2021-05-31 10:28] doom369 commented on #99
@whogarden the issue is fixed. thanks for the report. It appears it was a design bug :). Please reopen if not.

[2021-05-31 10:29] #104 closed, assigned to mikesoniat, eepetrash

[2021-05-31 10:29] #105 closed, assigned to doom369, mikesoniat

[2021-05-31 10:29] doom369 commented on #98
@whogarden the issue is fixed. Please reopen if not fixed.

[2021-05-31 10:38] doom369 commented on #97
@whogarden hello. After thinking a while we decided not to add this. This is because the web version is always the latest one. The only way to get a non-latest web version would be to have a browser cache. However, during the page refresh the index page should always be refreshed. So the only way to get the not latest web page is to have an open page that is never refreshed. That is not a case in

[2021-05-31 10:38] #97 closed, assigned to nobody

[2021-05-31 10:40] doom369 commented on #96
Thanks. But blynk.io was made with 3-d party site builder (Tilda), so I'm not sure we can improve that. But in general I agree, it would nice to make it faster.

[2021-05-31 10:41] doom369 commented on #95
@rmznsy the issue was fixed. Please reopen if not.

[2021-05-31 10:41] #95 closed, assigned to doom369, rmznsy

[2021-05-31 10:41] doom369 commented on #94
@rmznsy closing. Please reopen if not fixed.

[2021-05-31 10:41] #94 closed, assigned to alexkipar, rmznsy

[2021-05-31 10:42] doom369 commented on #93
@whogarden fixed. Please reopen is reproduced.

[2021-05-31 10:43] #89 closed, assigned to blynkkk

[2021-05-31 10:44] doom369 commented on #88
Updated docs + added troubleshooting section. If we get many reports about this issue we are gonna implement request forwarding on the server-side to forward the request to the required region. Right now it may be not necessary. We'll see.

[2021-05-31 10:44] #88 closed, assigned to doom369, Peterkn2001

[2021-05-31 12:15] whogarden commented on #98
Not working.

[2021-05-31 13:09] doom369 commented on #98
@whogarden did you refresh the page? Do you see some errors in the browser console?

[2021-05-31 13:16] whogarden commented on #98
I logged out.
And then log in.

[2021-05-31 13:20] doom369 commented on #98
@whogarden could you please open the web in the new tab instead of logout/login? In order to get the latest "UI", the page need to be fully refreshed.

[2021-05-31 13:23] whogarden commented on #98
Sorry,
What do you mean by new tab.
I just tap "F5"

[2021-05-31 13:24] doom369 commented on #98
@whogarden yes. I mean F5. So no luck? Do you see some errors?

[2021-05-31 13:26] whogarden commented on #98
I can only see "Uploading file..." and then nothing.

[2021-05-31 13:30] doom369 commented on #98
@whogarden we would need the web browser console output. As I can't reproduce.

[2021-05-31 13:32] whogarden commented on #98
I think I have an answer
It's not working with firefox, but I can work with Chrome.

[2021-05-31 13:32] doom369 commented on #98
Hm... I see. We will check with the firefox. Thanks.

[2021-05-31 13:43] whogarden commented on #98
I shipping is done, but the device restarts but can not connect to blynk
Error [8735] Content-Length not defined
I used the same bin "RS0_ESP8266-255.ino.generic.bin"

[2021-05-31 13:56] doom369 commented on #98
@vshymanskyy please take a look.

[2021-05-31 13:59] whogarden commented on #99
Charts now auto resize by themself
[Capturer-01.zip](https://github.com/blynkkk/blynk_Issues/files/6570709/Capturer-01.zip)

[2021-05-31 14:19] whogarden commented on #93
When I click on "Download", the file is
https://blynk.cloud/device_data_349_2021-05-31T04-13-36-250.zip
I have :
Failure: 404 Not Found

[2021-05-31 14:27] whogarden commented on #98
Serial output if it can help.
[Can't upload file in Blynk.Air #98.txt](https://github.com/blynkkk/blynk_Issues/files/6570875/Can.t.upload.file.in.Blynk.Air.98.txt)

[2021-05-31 14:49] doom369 commented on #98
@whogarden thanks. This one is geo dns issue. We right now generate generic url "blynk.cloud", but we need to generate "fra1.blynk.cloud". It is already fixed, but requires extensive testing. Hopefully will do deploy at the end of this week.

[2021-05-31 14:53] LucasVS1998 commented on #107
![blynk issue](https://user-images.githubusercontent.com/83510012/120210887-aba14f80-c206-11eb-8ba8-007fb36a653c.png)
None of those values is corresponding to the datastream variables, for example...

[2021-05-31 14:55] doom369 commented on #107
@LucasVS1998 yes, that's a device template, it's not really connected to any device. It just a random values to show you how it will look like on the device.

[2021-05-31 15:15] mikesoniat commented on #104
I'm not sure if I'm just missing something. The web UI seems to work great, but my Location virtual pin (V12) is still not available on the iOS app. See below:

Datastream
![image](https://user-images.githubusercontent.com/1984428/120213192-8c032a80-c1f8-11eb-870e-f347a2a4ec3c.png)

Web Map Settings
![image](https://user-images.githubusercontent.com/1984428/120213270-9a514680-c1f8-11eb-83e3-1321e3

[2021-05-31 15:36] doom369 commented on #104
@eepetrash, please take a look

[2021-05-31 16:01] whogarden commented on #98
What can I do with error "Content-Length not defined"
1. Reflash does nothing more
2. Hold the button to reset configuration... doesn't work
Device is seen registered in the mobile app, but (Can't connect the device)

[2021-05-31 23:50] Carlini2016 commented on #107
E ai Lucas, conseguiu colocar pra funcionar ? Estou testando, mas também não funcionou

[2021-06-01 07:56] Mark-Pan commented on #93
****ENV:****
Firefox 88.0.1 (64-bit)
Edge Версия 91.0.864.37 (Официальная сборка) (64-разрядная версия)

****AR:****
UI shows an attempt to upload the file
.bin is not uploaded
no UI or console errors
![upload ota](https://user-images.githubusercontent.com/67413917/120287074-904a4900-c2c7-11eb-8f88-bf1666d37c8f.PNG)

[2021-06-01 19:01] cactixxx opened #108 "Text Input - No supported data stream"
I created an enumerable datastream in Blynk.360 (which is the only stream that make sense), but the App reports there are no supported datasteams for the text input interface.

[2021-06-01 20:34] whogarden commented on #98
The state of the shipping is
State live and progress grey
I cancel the shipping,
and the device has connected and is now OK

[2021-06-01 21:02] LucasVS1998 commented on #107
Então cara, pelo que eu entendi ali esse Web Dashboard é só um "template", nele você só configura como as coisas vão parecer... A questão é que não sei ainda onde essas variáveis realmente irão estar na web... como acompanhar elas (talvez só com uma atualização futura)

[2021-06-02 07:07] doom369 commented on #108
@alexkipar @eepetrash I thought we fixed that one. Please clarify.

[2021-06-02 07:08] alexkipar commented on #108
@doom369 text input can't support enum ds

[2021-06-02 07:09] alexkipar commented on #108
@cactixxx enum ds currently are supported only by value display and labeled display widgets. Soon we will bring them to image, icon and segmented widgets. Can you clarify how you expected to use it in text input one?

[2021-06-02 10:30] #107 closed, assigned to LucasVS1998

[2021-06-02 10:30] doom369 commented on #99
@whogarden fixed.

[2021-06-02 10:31] doom369 commented on #98
@whogarden fixed.

[2021-06-02 10:32] doom369 commented on #93
@whogarden fixed.

[2021-06-02 10:34] doom369 commented on #71
@DaleSchultz should be fixed. Please reopen if not.

[2021-06-02 10:34] #71 closed

[2021-06-02 10:35] doom369 commented on #70
@DaleSchultz the list content was truncated and minimized. Now should be much better.

[2021-06-02 10:35] #70 closed

[2021-06-02 10:36] doom369 commented on #66
@marminatix should be fixed. If not - please create the new ticket.

[2021-06-02 10:36] #66 closed

[2021-06-02 10:37] doom369 commented on #36
@thomoray added docs for the batch update via HTTPS API - https://docs.blynk.io/en/https-api/batch-update-values. Hardware API  will be added later and doc will be updated accordignly.

[2021-06-02 10:37] #36 closed

[2021-06-02 10:42] #49 closed

[2021-06-02 10:44] doom369 commented on #64
@celetron1 partially done. however yet not all widgets support this.

[2021-06-02 10:44] #64 closed

[2021-06-02 10:46] doom369 commented on #68
@blynkkk WDYT? Close or we can fix it somehow?

[2021-06-02 10:49] doom369 commented on #69
@DaleSchultz this one should be fixed. We did a bunch of improvements here. So i think we can close it.

[2021-06-02 10:49] #69 closed

[2021-06-02 10:50] cactixxx commented on #108
I would like the ability to send custom string data (that the user entered) from the App to the device.  Currently, there are only Virtual Pin, Enumerable and Location data streams and none of those streams is available to the text input widget.

[2021-06-02 11:08] Carlini2016 commented on #107
Why this Topic was closed ? Someone has a solution ?

[2021-06-02 11:11] doom369 commented on #107
@Carlini2016 this ticket has no bug desciption. Described issue is not a bug. It's a template, not a device view. So all is correct here.

[2021-06-02 11:13] doom369 commented on #107
Template view:

![screenshot-blynk-qa com-2021 06 02-14_12_43](https://user-images.githubusercontent.com/1536494/120470786-a251e780-c3ac-11eb-9be8-bc444f0d2215.png)

Real device view:

![screenshot-blynk-qa com-2021 06 02-14_12_18](https://user-images.githubusercontent.com/1536494/120470813-aaaa2280-c3ac-11eb-8245-7da04d0951c2.png)

[2021-06-02 11:16] doom369 commented on #108
@cactixxx Virtual Datastream has subtypes. There is a String virtual datastream you can use it for this task:
![screenshot-blynk-qa com-2021 06 02-14_15_57](https://user-images.githubusercontent.com/1536494/120471218-1e4c2f80-c3ad-11eb-8d03-2eda1d850904.png)

[2021-06-02 12:11] cactixxx commented on #108
Thanks, can't believe we missed it

[2021-06-02 12:39] doom369 commented on #108
No problem. Glad to help.

[2021-06-02 12:39] #108 closed, assigned to alexkipar, eepetrash

[2021-06-02 14:40] eepetrash commented on #104
Added Location datastream support for Map widget in iOS build 3.1.2(5)
Available now in TestFlight: https://testflight.apple.com/join/x1xZdnzx

[2021-06-02 15:05] marminatix commented on #51
Seems working now.
I will share a device with another user...

[2021-06-02 15:58] whogarden commented on #98
As it is written in documentation "Updating Firmware Over-The-Air"
"Otherwise leave the selection empty"
I leave the device selection empty.
The .bin is uploaded, the device is updated, restarts and is OK
But, as I already wrote in issue #79,
The status of the shipment stays live with the green dot blinking.
And we can not see if the update is finished (the device can be far away from my location)

[2021-06-02 16:11] whogarden commented on #93
Download is successfully done.

[2021-06-02 16:11] #93 closed, assigned to doom369, whogarden

[2021-06-02 16:28] doom369 commented on #98
That's correct. When you do not select any device - that's an ongoing (never ending) shipment. This is because when you sell your devices and want them to update as soon they connect - you don't know when the device will be added (purchased, delivered, unpacked). So this is an ongoing shipment and is designed for this use case.

If you want the shipment to finish, you need to select specific devic

[2021-06-02 16:55] whogarden commented on #98
Thank you.
(I begin to understand...)
I did not think I would find the shipment events there.
Yes if we can download a report it will be clear.

[2021-06-02 20:04] whogarden commented on #85
.csv files always have commas.

[2021-06-02 20:24] whogarden commented on #99
It's OK.

[2021-06-02 20:24] #99 closed, assigned to doom369, whogarden

[2021-06-02 20:59] whogarden commented on #98
OK thank you

[2021-06-02 20:59] #98 closed, assigned to vshymanskyy, doom369, whogarden

[2021-06-03 06:27] doom369 commented on #85
Yeah. WE made the csv generation user locale based. But at the moment only 3 locales are supported. So it can't be checked until we add more.

[2021-06-03 08:27] whogarden opened #109 "xxxxx has transferred Temp logger 95693 to your account."
In "docs.blynk.io/en/web-dashboard/devices-1" you say "here you can change Device Owner by providing Email of a new one."
I transfer a device to an existing account.
The transfers" seems OK.
The new owner receive the message "xxxxx has transferred Temp logger 95693 to your account."
the device is seen in the original dashboard with the new owner (OK)
but is not présent in de destination dashboard.

[2021-06-03 08:38] doom369 commented on #109
@whogarden hello. What do you mean by "original dashboard" and "destination dashboard"?

[2021-06-03 08:46] whogarden commented on #109
The original dashboard is the user device from where I want to make the transfer.
and the destination is the other user where the device transfered will be used.
No easy to explain

[2021-06-03 08:55] whogarden commented on #109
The web dashboard where the device must be transfered is empty.

[2021-06-03 09:25] doom369 commented on #109
I see. Yes, this should be fixed after we implement template publishing.

[2021-06-03 10:07] eepetrash commented on #91
OK, As agreed [before](https://github.com/blynkkk/blynk_Issues/issues/59), mobile apps work with the min/max defined in the datastreams settings.

[2021-06-03 10:07] #91 closed, assigned to alexkipar, eepetrash

[2021-06-03 14:08] mikesoniat commented on #104
Works great! Thank you!

[2021-06-04 20:52] ChristoTurmel opened #110 "Template name modification on web client don't update in mobile app"
I created a template in the web client named : OWMGEOTEMP. It appears on my phone (iPhone12) correctly. After that, i changed the name of the template to Pool in the web client, but the template name doesn't update on my phone (IOS 14.6). Is it normal ?

Thank you

[2021-06-05 07:17] doom369 commented on #110
That's expected as template has it's own name. However, probably it would be better to reuse the product name.
@eepetrash @alexkipar WDYT?

[2021-06-05 12:03] alexkipar commented on #110
@doom369 Android app uses products one, when it loaded them.

[2021-06-05 19:26] eepetrash commented on #110
@doom369 ok but it will require refreshing products each time templates refresh happens

[2021-06-06 13:27] touhid360 opened #111 "I am not able to login into the mobile app with the blynk.cloud credentials. Do I have to signup separately with the mobile app also? Why it is NOT working with the same profile information that I have created on the blynk web?"

[2021-06-06 14:05] doom369 commented on #111
No. Did you confirmed your account and was able to login into the app?

[2021-06-06 14:08] touhid360 commented on #111
Yes, I have confirmed my account. I am able to log in to the web BUT when I tried to login into the mobile app, It's showing "User is not registered"

[2021-06-06 14:37] doom369 commented on #111
Looks like you're using hte wrong app. The new app called **Blynk IoT** - https://play.google.com/store/apps/details?id=cloud.blynk&hl=en_US&gl=US

[2021-06-06 14:54] touhid360 commented on #111
Superb. Thank Dmitriy. I was using the old app. Now its working perfectly.

[2021-06-06 17:32] mscsco opened #112 "uploading sample device data"
Is there a way to upload sample device data for designing dashboards on the web and app? I've been driving my devices around town to get GPS data, but it would be nice to just upload a CSV or some such to build dashboard examples for my clients.

[2021-06-07 06:26] doom369 commented on #112
At the moment this is not possible. But the idea is nice. We'll consider it.

[2021-06-08 06:44] italex33 opened #113 "I cannot add device"
I followed these instructions listed here: https://docs.blynk.io/en/mobile-applications/device-management/add-new-device, but it is impossible to find a device  the way is listed here. I have two Arduino MKR1010,  I cannot see any one of them in my WiFi settings, I am using the iPhone 12 Pro Max latest OS. Some clarification will be appreciated.

[2021-06-08 09:02] Ad758 opened #114 "Invalid Auth Token message"
Hi, I'm looking for help with an "invalid auth token" message in the serial monitor after uploading an arduino sketch.

I've tried copying from the "device info" tab and also entering the auth code manually to avoid any problems with copy and paste, but haven't been able to add a new device.

I've gone through the documentation but haven't found a solution yet.

Any help? Thanks!

[2021-06-08 09:07] doom369 commented on #114
Hi. Please provide us with the serial output

[2021-06-08 11:57] Ad758 commented on #114
[7425] Connected to WiFi
[7425] IP: 192.168.0.115
[7425]
    ___  __          __
   / _ )/ /_ _____  / /__
  / _  / / // / _ \/  '_/
 /____/_/\_, /_//_/_/\_\
        /___/ v1.0.0 on ESP8266

[7502] Connecting to blynk-cloud.com:80
[8202] Invalid auth token
[25501] Connecting to blynk-cloud.com:80
[26105] Invalid auth token

[2021-06-08 12:04] doom369 commented on #114
That's wrong server. Looks like you are connecting to the old server, not a
new one

On Tue, Jun 8, 2021, 14:57 Ad758 ***@***.***> wrote:

[2021-06-08 12:20] rmznsy opened #115 "Blynk.notify is not working"
Blynk.notify is not working. I saw that in the documantation [https://docs.blynk.io/en/web-dashboard/products/events](url). But it is not working for me. Is there a trick for it to work or just a bug?
Blynk Library 1.0.0
Nodemcu 1.0

[2021-06-08 12:25] Ad758 commented on #114
`  Blynk.begin(auth, ssid, pass);
  // You can also specify server:
  Blynk.begin(auth, ssid, pass, "blynk.cloud", 80);
  //Blynk.begin(auth, ssid, pass, IPAddress(192,168,1,100), 8080);
`
I've changed it to the new blynk.cloud server in the sketch, but still getting the "Connecting to blynk-cloud.com:80" and "Invalid auth token" message on serial.

Where else should I change it?

Thanks

[2021-06-08 12:27] Ad758 commented on #114
The "Blynk.begin(auth, ssid, pass, "blynk.cloud", 80);" line is not commented out on the sketch...

[2021-06-08 12:43] Ad758 commented on #114
This has been resolved - I needed to comment out the first "Blynk.begin" line.

Thanks for the help.

[2021-06-08 12:43] #114 closed, assigned to nobody

[2021-06-08 13:14] vshymanskyy commented on #113
@italex33 Did you flash both devices with the Blynk.Edgent?
Do you see both devices broadcasting a WiFi network? Try scanning WiFi networks from your PC.

[2021-06-08 13:16] vshymanskyy commented on #115
You should use `Blynk.logEvent` instead of `Blynk.notify`:
https://docs.blynk.io/en/blynk.edgent/api/log-event

Sorry this is an error in the documentation. Working on a fix

[2021-06-08 13:16] #115 closed, assigned to nobody

[2021-06-08 13:50] justine69 opened #116 "Problem : Communication betwenn ARDUINO UNO, ESP32 and BLYNK"
Hi all,

I will need your help on a program that I am in the process of making.

I want to control an RGB LED strip (12V DC) and a fan (PWM) via the BLYNK application.

For this I have an Arduino UNO board and an ESP32.

I have the code for the Arduino UNO as well as for the ESP32 but I don't know which code to use to link the ESP32 to the Arduino.

Attached are the codes for the 2 cards.

Thank y

[2021-06-08 13:59] vshymanskyy commented on #115
Fixed, will appear soon in the docs. Thanks!

[2021-06-08 14:10] doom369 commented on #115
@rmznsy for the back-compatibility Blynk.notify still works. But notifications are sent only for the existing accounts. Anyway to avoid any problems in the future - please use `Blynk.logEvent` with notifications enabled.

[2021-06-08 14:41] doom369 commented on #114
@Ad758 I"m glad, you find the reason!

[2021-06-08 15:54] Ad758 commented on #114
Thanks, been struggling with that since Friday!

Adrian Tromp

EarthSmart Technologies

Water, Ozone & Monitoring Systems

Ph: 082 449 5015 |  <http://www.earthsmart.co.za/> www.earthsmart.co.za

From: Dmitriy Dumanskiy ***@***.***>
Sent: Tuesday, 08 June 2021 16:42
To: blynkkk/blynk_Issues ***@***.***>
Cc: Ad758 ***@***.***>; Mention ***@***.***>
Subject: Re: [blynkkk/blynk_Issues] Invalid Auth T

[2021-06-08 17:04] rmznsy opened #117 "Radial Gauge is not working on Android App"
Radial Gauge is not working on Android App.
Blynk IoT Android v1.1.2(32)
Samsung S10e Android 11

It is just empty.
![Screenshot_20210608-195911_Blynk IoT](https://user-images.githubusercontent.com/81516108/121227826-af7f4280-c894-11eb-9db8-bfb0d01bf194.jpg)

[2021-06-08 17:54] rmznsy opened #118 "Feature request: Need bold numbers for Gauge and Labeled value widget"
Need bold font setting for Gauge widget, just like the old Blynk App. Under sun light or for older people who can not see very well, need bold numbers to see easily.

New App (Android 11, S10e, Blynk Iot v1.1.2):
![Screenshot_20210526-155912_Blynk IoT](https://user-images.githubusercontent.com/81516108/121232155-f58ad500-c899-11eb-815c-7ffe267ccd6d.jpg)

Old App (Android 11, S10e, Blynk 2.27.29):

[2021-06-08 17:58] doom369 commented on #118
Yeah. This one should be fixed soon.

[2021-06-08 18:13] rmznsy opened #119 "Feature request: Entering Units Manually"
On new Blynk IoT App, Is it possible to change units manually? For example, I need to write "dk" instead of "min" (minutes) to Gauge. With old Blynk App, it was possible.

[2021-06-08 18:17] doom369 commented on #119
@rmznsy no. you have to set the main units that your hardware sends. Later Blynk will provide automatic conversion between supported types.

For example, your hardware sends celsius and your user wants to see kelvins. The user goes to settings, selects "kelvins" and blynk will automatically convert it.

[2021-06-08 18:33] rmznsy commented on #119
Okay. I understand the point. So, maybe, there should be multi language support for the units in the future.

[2021-06-08 18:52] doom369 commented on #119
@rmznsy could you please provide an example, so I could better understand what do you mean?

[2021-06-08 19:15] rmznsy commented on #119
@doom369 For example, my users speak Turkish, so instead of min (minutes), I want to show/write dk (dakika, minutes in Turkish) to the Gauge. It is not a big problem if it is not possible.

[2021-06-09 02:27] italex33 commented on #113
I am able to place the Particle Photon is listening mode(blinking blue), I see it in the iPhone Settings, also I see it in my computer WiFI list, but I cannot connect to it using the steps listed on the link I sent prior.
The MKR1010 I have not idea how to place it in listening mode.   I tried to flash the MKR1010 using the Blynk.Edgent,  no joy. This is what I get:

Arduino_MKR1010:4:10: fatal er

[2021-06-09 05:38] doom369 commented on #119
I see. That's another thing. It's actually a very big feature. We have it in plans, but it not gonna happen soon.

[2021-06-09 05:38] #119 closed, assigned to nobody

[2021-06-09 15:54] blynkkk commented on #116
Hi, questions like that can be answered on our forum: http://community.blynk.cc . Please use search, and if there is no answer, please create a new topic. Thanks!

[2021-06-09 15:54] #116 closed, assigned to nobody

[2021-06-09 15:55] blynkkk commented on #113
Particle devices are not supported for wifi provisioning. Stick to Static Tokens for now

[2021-06-09 15:55] #111 closed, assigned to nobody

[2021-06-09 15:57] #109 closed, assigned to blynkkk, whogarden

[2021-06-09 16:33] blynkkk commented on #68
Taken into work.

[2021-06-09 16:34] blynkkk commented on #51
@marminatix can we close?

[2021-06-09 19:44] rmznsy opened #120 "Terminal widget is not storing messages on Android App."
Terminal widget is not storing messages on Android App. When you are in the app it shows the messages, however when you close and reopen it again, it shows blank.

I tried `Blynk.virtualWrite` and `terminal.print`.  Both did not fix it.

Blynk IoT v1.1.2(32)
Android 11, S10e

[2021-06-09 21:34] italex33 commented on #113
How about  the MKR1010? I cannot add at all.

[2021-06-09 21:47] ChristoTurmel commented on #110
So, should I expect an update to fix that, or it's something i will need to deal with ? Thx !

[2021-06-10 03:40] doom369 commented on #113
It's supported.

@vshymanskyy please advise and add section to troubleshooting.

[2021-06-10 03:42] doom369 commented on #120
Not yet implemented.

[2021-06-10 04:54] vshymanskyy commented on #113
Please provide more info - Device logs specificly.

[2021-06-10 07:57] nasserbek commented on #113
Dear Blynkers,
I can't add my existance device ESP32 used with Blynk old version.

In the Blynk Platform device info I edited the Auth key and changed it to be the same as the one I was using before, then I copied the 2 lines for template and device defines and inserted them in the top of the main code.

After dwonloading Edgent_esp32 , I connect to the wifi SSID of the EXP32 but when I open Blynk

[2021-06-10 08:44] doom369 commented on #113
Why would you do that? Have you checked the getting started - https://docs.blynk.io/en/getting-started/activating-devices

[2021-06-10 08:59] nasserbek commented on #113
Thanks for your fast replay..
I followed that link, **Activating device with a Static Auth Token** .
Under prepare your sketch step 4, from Arduino IDE open **edgent_esp32**.
but Edgent_est32 dosen't contain the code shown with the 4 lines to be edited with my credential Auth, ssid, pw... I see instead the code of Edgent_exp32.ino, should I replace it with the shown code wit Blynk.run .?

regards

[2021-06-10 09:04] doom369 commented on #113
But why did you edited the Auth Token? It was already there. You need to copy it to hardware, not change it.

@vshymanskyy please take a look, docs code example totally different from the library example.

[2021-06-10 09:15] nasserbek commented on #113
@doom369 :
I edited the Auth Token because it was possibile to edit then I thought I could use my existing Auto Key for my old device to use it into the new device.. Whey it is possible to edit the auth key? what is the scope for editing the auth key?

[2021-06-10 11:47] nasserbek commented on #113
Well, I removed the device from the Platform and added a new one.
-Following the doc link option B "Static Token"
-Copied the simple code after replacing the 2 defines lines , new auth key for the new device and with my wifi credential.
-Downloaded the code into the esp32
-Still see the device offline on my mobile and on the Web...

On the serial monitor I see this message:
[20045] Connecting to b

[2021-06-10 12:25] italex33 commented on #113
This is what I have done so far, it seems to be working. I am using the Arduino MKR1010.  Add the two lines  like this:

#define BLYNK_TEMPLATE_ID "TMPLxxx3OMI"
#define BLYNK_DEVICE_NAME "MKR1010"

Add this line: char auth[] = "6Hlg5o_oh_q9uL0vxxxxxxKntRQ_w";
Add this line: BlynkTimer timer;

In setup add:  Blynk.begin(auth, ssid, pass);

In loop void add:
Blynk.run();
timer.run();

Flash it to yo

[2021-06-10 12:35] doom369 commented on #113
That's wrong host, looks like you are using old firmware.

[2021-06-10 13:09] nasserbek commented on #113
@doom369 :
Yes, it looks like the host was wrong, I didn't change anything but after trying several times it works and I can see the device online with the same code ..

[2044] Connecting to blynk.cloud:80
[2753] Ready (ping: 201ms).

Thanks

[2021-06-10 13:27] doom369 commented on #117
@alexkipar could you pelase take a look?

[2021-06-10 13:28] alexkipar commented on #117
We will soon release a new version with a fix to this issue

[2021-06-10 13:28] doom369 commented on #106
@jandrassy closing due to lack of the feedback.

[2021-06-10 13:28] #106 closed, assigned to vshymanskyy

[2021-06-10 13:29] #92 closed, assigned to alexkipar

[2021-06-10 13:30] #51 closed

[2021-06-10 13:58] nasserbek commented on #113
On the web dashboard I added a label connected with the Device that changes every 6 secs, on the mobile it works and I see it changes but on the Web dashboard doesn't move to make work I must refresh the page .. it looks like the web dashboard can't do a continuous polling from the device ..

Editing the Auth key is also working, I'm using the Auth key used with old blynk with old server and it wo

[2021-06-10 14:01] doom369 commented on #113
Looks like a bug. We'll check. Thanks for the report. Also, it would be nice to create a separate ticket, rather than put everything in one.

[2021-06-10 14:16] JAndrassy commented on #106
sorry, yes, it is alright

[2021-06-10 15:25] doom369 commented on #113
@nasserbek we were not able to reproduce. Do you have a datastream assigned to that widget? Do you open the correct device? Please double-check your settings.

[2021-06-10 16:28] Aprngp opened #121 "Unable to invite user - You can't invite user with higher permissions than your current role"
I am trying to invite user from the Settings -> Users link but it gives me below error

You can't invite user with higher permissions than your current role

I am Admin and I am trying to add User role.

[2021-06-10 16:32] doom369 commented on #121
@Aprngp are you able to invite the admin?

[2021-06-10 16:35] Aprngp commented on #121
Oh, yea, I was able to invite as Admin and the Edit the user to User

[2021-06-10 16:48] doom369 commented on #121
@Aprngp good, that's would be workaround until we fix the issue.

[2021-06-10 17:10] doom369 commented on #121
@Aprngp fix deployed.

[2021-06-11 00:30] nasserbek commented on #113
@doom369
Yes of course I created a data stream with named "Sec" on the virtual Pin V11, in fact it works fine on my the mobile app, under the device web dash board but not working under Template dash board..

![dash board under device](https://user-images.githubusercontent.com/54413843/121613286-b96c9580-ca8e-11eb-9b28-739d443afc54.JPG)

![dash board under template](https://user-images.githubuserc

[2021-06-11 04:20] doom369 commented on #113
@nasserbek it's a template dashboard (with a fake data), it's not a real device dashboard. It just shows you how your device dashboard (with real data) will look like.

The Mobile dashboard created in the mobile app, not on the web.

[2021-06-11 11:30] OleksandrGora opened #122 "Can not upgrade firmware over Blynk Air"
I have created a new shipment, chose the board, downloaded a new firmware in the shipment. By now: status - Live. Progress - none. There are more than 20 messages "Request sent" in Events history. Nothing happens. Should I modify my code to activate the feature?
![image](https://user-images.githubusercontent.com/85741797/121679877-8394d480-cac1-11eb-950c-d0e8d6d2981f.png)

[2021-06-11 11:48] doom369 commented on #122
@OleksandrGora do you have some serial console log from the hardware?

[2021-06-11 11:54] OleksandrGora commented on #122
It is connected to network over WiFi. I use other library for ugrading the firmware over the air (can it be the reason?) I will connect it with usb, will let you know. Or (better) provide me please the code for sending some data to Blynk terminal on smartphone.

[2021-06-11 11:59] doom369 commented on #122
Yes. You need to use blynk firmware.

[2021-06-11 12:05] OleksandrGora commented on #122
I mean there is a part of code with OTA firmware. While using Blynk air I do not use that firmware (I only mentioned it to say that usb connection is not used and I do not see serial console log).

Should I insert a code in my program for using Blynk Air? As I understand I do not have to make additional programming for using Blynk Air. Connection main library should be enough. All magic happens th

[2021-06-11 12:16] doom369 commented on #122
Yes. That's correct.

Looks like the device doesn't handle the firmware request. Only @vshymanskyy could help you here.

[2021-06-11 15:47] davidmariag opened #123 "Template doesn't show up in "add device""
I added up to 3 templates and all works fine. On the forth template it doesn't show up in the drop down in devices. First tried login out and back in to see if it would refresh. I thought maybe the problem was no data streams enabled. Enabled a data stream and still it didn't appear in the drop down.

See pics...
![1](https://user-images.githubusercontent.com/61051937/121713382-7853a000-cae5-11eb-

[2021-06-11 18:32] doom369 commented on #123
@davidmariag could you please refresh the page. Does that help? Do you see some errors in the web browser console?

[2021-06-11 18:58] OleksandrGora commented on #122
I noticed once such a message on serial console log:
dhcps: send_nak>>udp_sendto result 0

As addition: there is an external watchdog board. It is connected to RST pin of the ESP32 board (if it can help).

[2021-06-12 07:43] deemoss opened #124 "Fatal error: BlynkEdgent.h: No such file or directory, Arduino, PlatformIO"
<img width="971" alt="a" src="https://user-images.githubusercontent.com/2356886/121769226-0f167000-cb6b-11eb-8938-86c772d32b86.png">
Hi,

I am transitioning to Blynk 2.0. To start, I simply copied the Edgent example. PlatformIO and libraries are all lates versions. When I run it, I get “fatal error: BlynkEdgent.h: No such file or directory, Arduino, PlatformIO”. I have spent the last few hours tro

[2021-06-12 23:26] Luuciano27 commented on #120
Tengo el mismo problema, el terminal no almacena los mensajes. Estoy usando un ESP32 DevKitC V4.
 Blynk Iot v.1.1.2 en android 10

[2021-06-12 23:33] Luuciano27 opened #125 "Blynk edgent no restaura la coneccion a internet"
Estoy teniendo el siguiente problema con Blynk.edgent en mi ESP32. Luego de que caiga la conexión a internet este se traba y no vuelve a reconectar, el monitor serial muestra el siguiente error:

`[E][ssl_client.cpp:36] _handle_error(): [data_to_read():287]: (-76) UNKNOWN ERROR CODE (004C)`

ESP32 DevKitC V4.0
PlatformIO IDE 2.3.2
VS Code 1.56.2

[2021-06-13 06:28] davidmariag commented on #123
Not in front of my system now. Please note I logged out and back in. Log in out and in would refresh it I think. I am using an older version of Chrome maybe that is the problem??

[2021-06-13 14:42] doom369 commented on #123
Logout may not help. As it could be an old script version loaded into a browser, so it's more effective to refresh the page.
I wasn't able to reproduce. Our Qa team will check as well.

[2021-06-13 16:53] Tarun75 commented on #62
I am using Blynk.py micro python library currently working on old Blynk cloud , what are the changes in code to connect to new Blynk cloud.

[2021-06-13 19:50] ebolisa commented on #62
You mean BlynkLib.py? If so, we need to wait for a new version to come up.

[2021-06-14 01:03] kingstonheath opened #126 "Superchart min max"
In Superchart, min max values default to 0 and 100 an cannot be changed.

[2021-06-14 01:04] kingstonheath opened #127 "Superchart binary setting"
In Superchart, binary chart setting doesn't plot any data.  Stays at zero.  No flip setting is available.

[2021-06-14 06:19] jbjbjb1 opened #128 "Generate report gives no raw data"
In device dashboard, when I generated a report with raw data, it downloaded a zip file with a csv file, however the raw data csv file was blank. When I tried to re-generate the report it said there was not data available. When I tried again it gave me a zip file with a csv file, however the raw data csv file was again blank.

[2021-06-14 06:31] doom369 commented on #128
@jbjbjb1 do you have the datastreams with isRaw == true? Could you please attach generated file?

[2021-06-14 07:38] jbjbjb1 commented on #128
In my datasteam I only have the option for "Save raw data (plan restrictions apply)" which is false. In the help it says "By default server stores only 1 data point per data stream per minute." That level of raw data is fine for me. @doom369 is the setting somewhere else you mentioned?
[jb esp32 work phone_3100_data.zip](https://github.com/blynkkk/blynk_Issues/files/6646428/jb.esp32.work.phone_310

[2021-06-14 09:01] doom369 commented on #128
If so you need to choose "minute" aggregation to get the data. "Raw" data is the data for the datastreams where "Save raw data" is true.

[2021-06-14 10:27] #128 closed, assigned to nobody

[2021-06-14 13:17] vshymanskyy commented on #124
You're using an incomplete example. Please use all files, i.e.: https://github.com/blynkkk/blynk-library/tree/master/examples/Blynk.Edgent/Edgent_ESP32

[2021-06-14 13:17] #124 closed, assigned to vshymanskyy

[2021-06-15 00:35] kdharrigan opened #129 "Unable to add new device"
I have an account with blynk however I'm confused about how the customer will add a new device in the app. I've created a template under my main account, and can add devices to my existing account. This process fails once I try adding a new device from a new blynk account to mimic the customer set up process. Any ideas will be greatly appreciated.
![failed provisioning](https://user-images.githubu

[2021-06-15 06:16] doom369 commented on #129
How did you make a new account? HAve you invited the user to the sub-organization?

[2021-06-15 13:06] kdharrigan commented on #129
Hello Dmitriy,

Yes, I added a sub organization.

After attempting to log into the user to add a device I get the attached message.

Best regards,
Kevin Harrigan, Owner
Cell. 340-643-1573
www.yourideasvi.com
Your Ideas VI

From: Dmitriy Dumanskiy
Sent: Tuesday, June 15, 2021 2:16 AM
To: blynkkk/blynk_Issues
Cc: kdharrigan; Author
Subject: Re: [blynkkk/blynk_Issues] Unable to add new device (#129)

[2021-06-15 13:07] doom369 commented on #129
Don't see any image.

[2021-06-15 13:11] kdharrigan commented on #129
![errormsg 8946](https://user-images.githubusercontent.com/57235227/122058426-9bb66d80-cdb9-11eb-945d-efb81c272774.png)

[2021-06-15 15:04] doom369 commented on #129
@kdharrigan what role does your user have? Have you created mobile template?

[2021-06-15 15:06] kdharrigan commented on #129
Dmitriy,

Configured as a user

Best regards,
Kevin Harrigan, Owner
Cell. 340-643-1573
www.yourideasvi.com
Your Ideas VI

From: Dmitriy Dumanskiy
Sent: Tuesday, June 15, 2021 11:05 AM
To: blynkkk/blynk_Issues
Cc: kdharrigan; Mention
Subject: Re: [blynkkk/blynk_Issues] Unable to add new device (#129)

@kdharrigan what role does your user have?
—
You are receiving this because you were mentioned.
Re

[2021-06-15 15:52] Humancell opened #130 "Suggestion: Getting Started"
This is some feedback from a new user of your platform.  I created my account, and my password, and got into the web console.  At that point I was just left in the "User Profile" with no direction on what to do next.

Yes, I've got the documentation open, but it also does not seem to have a "Getting Started" section.

Purely a suggestion for onboarding new users and customers, in both the web inte

[2021-06-15 15:55] Humancell commented on #130
BTW ... I did finally find this:  https://blynk.io/en/getting-started

But it was not linked from the Console (that I could see), nor the documentation.

[2021-06-15 16:43] nbolton opened #131 "Unable to call BLYNK_READ"
I'm unable to get this simple line to print to serial.

[code]

I cannot see any Blynk widget settings that relate to frequency, and all examples appear to be for the legacy version of Blynk.

[2021-06-15 16:51] doom369 commented on #131
In Blynk 2.0 we removed `BLYNK_READ`

[2021-06-15 16:53] doom369 commented on #130
@Humancell thanks for the feedback. We'll try to improve.

[2021-06-15 17:10] nbolton commented on #131
Got it, timers only?

[2021-06-15 17:14] doom369 commented on #131
For now - yes. We haven't yet decided if we have to return this frequency reading. Usage in BLynk 1.0 is low and creates a high load on the server, however it good for the first-time experience. We'll wait for more feedback.

[2021-06-15 17:28] nbolton commented on #131
The best feedback I can give you is: Please remove it from [the docs](https://docs.blynk.io/en/blynk.edgent/api/virtual-pins) and [help pages](http://help.blynk.cc/en/articles/512056-how-to-display-any-sensor-data-in-blynk-app) if has been removed from the code (or make it super clear in the docs/help that if you're using Blynk 2.0, which is likely, then it won't work).

[2021-06-15 17:53] doom369 commented on #131
Agree. Removed from the new doc.

[2021-06-15 17:53] #131 closed, assigned to nobody

[2021-06-15 17:54] doom369 commented on #129
I mean what role did you assign? Did you create a mobile template?

[2021-06-15 17:54] doom369 commented on #123
@davidmariag fix deployed. Please reopen if reproduced.

[2021-06-15 17:54] #123 closed, assigned to doom369

[2021-06-15 17:55] doom369 commented on #122
@OleksandrGora could you please post all serial output?

[2021-06-15 17:56] #121 closed, assigned to doom369, Aprngp

[2021-06-15 17:56] doom369 commented on #117
@alexkipar please close if fixed.

[2021-06-15 17:57] #113 closed, assigned to vshymanskyy

[2021-06-15 17:58] #9 closed

[2021-06-15 18:04] nbolton commented on #131
Impressive response time!

[2021-06-15 18:21] psnaherath opened #132 "OnLine/OffLine Real Update"
Device OnLine/OffLine Real Updates option not work correctly. so can't find derive ofline or online and we can't conform Device operation working correctly. can you fix it like LED On Off real Time feedback system .
Thank You

[2021-06-15 18:23] doom369 commented on #132
Could you please clarify how exactly it doesn't work? Did you setup any "OFFLINE IGNORE PERIOD" option in the template settings?

[2021-06-15 18:40] psnaherath commented on #132
no im not set any Ofline ignored period. if i remove( power off) device but
web dashboard  indicate  still device is Online (Green). i checked Web page
reload, logout and relogin but it still online (green)

On Tue, 15 Jun 2021, 11:54 pm Dmitriy Dumanskiy, ***@***.***>
wrote:

[2021-06-15 18:58] doom369 commented on #132
@psnaherath https://docs.blynk.io/en/blynk.edgent/mainoperations/devices-online-status

[2021-06-15 18:59] psnaherath commented on #132
Hi friend..  It goes offline after few minutes like 10min but real time LED
feedback system is working correctly so There is a some problem on blunk
server.

On Wed, Jun 16, 2021 at 12:10 AM prasanna herath ***@***.***>
wrote:

[2021-06-15 19:02] psnaherath commented on #132
Ok i will try it friend Thank you my friend

On Wed, 16 Jun 2021, 12:28 am Dmitriy Dumanskiy, ***@***.***>
wrote:

[2021-06-15 19:08] #132 closed, assigned to nobody

[2021-06-15 19:28] OleksandrGora commented on #122
There is nothing after one hour waiting:
![image](https://user-images.githubusercontent.com/85741797/122111913-f20ec500-ce28-11eb-98b4-250b994fe946.png)
Log alerts before 9:20 PM was logged earlier then shipping was started.

[2021-06-15 19:39] doom369 commented on #122
@OleksandrGora please show the initial "connection" lines

[2021-06-15 19:41] vshymanskyy commented on #122
You need to use Blynk.Edgent example.

On Tue, Jun 15, 2021, 10:39 PM Dmitriy Dumanskiy ***@***.***>
wrote:

[2021-06-15 19:49] kdharrigan commented on #129
Dmitriy,

I was able to resolve my problems. All were user error on my behalf.
1) There was a bit of confusion between my templates.
2) I did not make the proper assignments under the user roles.
    I had to allow the user role "user" to be able to add and provision devices.

[2021-06-15 19:53] OleksandrGora commented on #122
After resetting the board:
![image](https://user-images.githubusercontent.com/85741797/122113971-6d717600-ce2b-11eb-8e00-94b5097a7d04.png)
Include list of used libraries: (can be interference between libraries?)
![image](https://user-images.githubusercontent.com/85741797/122114132-9c87e780-ce2b-11eb-9296-a4065148c089.png)

Blynk.Edgent did not used, you are right. Should I include some additional

[2021-06-15 19:59] #129 closed, assigned to nobody

[2021-06-15 20:29] blynkkk commented on #130
There is a link to documentation right from the console:
![image](https://user-images.githubusercontent.com/11541426/122118915-9deaed00-cdf6-11eb-8abd-33781d1ee550.png)

Also, there is a getting started guide.
![image](https://user-images.githubusercontent.com/11541426/122118987-b1965380-cdf6-11eb-8798-7af18ecb5b80.png)

![image](https://user-images.githubusercontent.com/11541426/122119018-ba87250

[2021-06-15 20:29] #130 closed, assigned to blynkkk

[2021-06-15 20:30] blynkkk commented on #110
Name on the mobile should be synced. Mobile layout is a part of device template.

[2021-06-16 11:44] alexkipar commented on #100
@whogarden please check the latest version - I've changed buffer size and it should help with this issue

[2021-06-16 11:44] alexkipar commented on #72
should be fixed

[2021-06-16 11:44] #72 closed

[2021-06-16 11:44] alexkipar commented on #118
@rmznsy should be fixed in the latest version

[2021-06-16 11:54] rmznsy commented on #118
Fixed, thanks.

[2021-06-16 11:54] #118 closed, assigned to alexkipar, rmznsy

[2021-06-16 11:56] rmznsy commented on #117
Still not working. Blynk IoT v1.1.3

[2021-06-16 12:34] kingstonheath commented on #126
Hi,
Thanks for the feedback.  Tried to change the min/max on one of my superchart data labels but no difference.  It lets me change the values but the values are not saved.  When I exit the datastream setting page and then go back into it again, values are back to 0 and 100.  I should say I am using android version 11

Steve

[2021-06-16 12:35] kingstonheath commented on #126
I should also say I did dump the app cache and restart in case it was old settings being saved.

[2021-06-16 13:12] alexkipar commented on #126
@kingstonheath which app version is this?

[2021-06-16 13:26] alexkipar commented on #117
@rmznsy, what do you have as min/max in your datastream used by this widget, and which values are you sending to it - same as in the datastream settings?

[2021-06-16 14:19] rmznsy commented on #117
I realized that it is working but value is not displayed.

![Screenshot_20210616-171441_Blynk IoT.jpg](https://user-images.githubusercontent.com/81516108/122235852-b296b600-cec6-11eb-9e21-726d44caf36f.jpg)![Screenshot_20210616-171430_Blynk IoT.jpg](https://user-images.githubusercontent.com/81516108/122235884-b7f40080-cec6-11eb-8c7e-b890a91225b5.jpg)

[2021-06-16 22:16] kingstonheath commented on #126
Apologies.  App hadn't updated.  Tested and all is good.  Many thanks

[2021-06-17 06:56] #126 closed, assigned to alexkipar, kingstonheath

[2021-06-17 09:35] whogarden commented on #100
I don't see any better improvement.
I attach the 2 videos of the old Blynk and Blynk IoT here (please delete them as soon as you get them, thanks).
1 . the old Blynk

2 . And in full screen (but it's the same when full screen is not selected).

[2021-06-17 12:09] vshymanskyy commented on #122
Please checkout examples in Arduino IDE: `File -> Examples -> Blynk -> Blynk.Edgent`
Those examples contain OTA implementation, which can be separated  easily and integrated in your sketch.
However I recommend integrating full Blynk.Edgent with Dynamic provisioning, etc.

[2021-06-17 12:09] #122 closed, assigned to vshymanskyy

[2021-06-17 12:10] vshymanskyy commented on #124
Please checkout examples in Arduino IDE: `File -> Examples -> Blynk -> Blynk.Edgent`

[2021-06-17 15:01] svatos opened #133 "Dark Mode (with SuperChart)"
While in dark mode on phone, superchart with explicitly set white color of datastreems has black lines and also has a bold white font with shadows which makes it unreadable.

![IMG_20210617_165935](https://user-images.githubusercontent.com/10947341/122422630-96118100-cf8d-11eb-84e7-cec8a7bf2b84.jpg)
.

[2021-06-17 15:38] alexkipar commented on #117
@rmznsy, thanks, got it; there is a check for the small size of the widget when we do not display its value. Also, there is an option in its setting not to display value.

[2021-06-17 16:20] rmznsy commented on #117
@alexkipar okay. I see. After I make it bigger, it is showing the value.

[2021-06-17 16:21] #117 closed, assigned to alexkipar, rmznsy

[2021-06-17 16:26] alexkipar commented on #117
@rmznsy cool, I will allow value for some smaller sizes in the next release; it seems it currently checks the wrong min size for the value enabled state.

[2021-06-17 16:29] rmznsy commented on #117
@alexkipar yes, now I have to make it at least this big. ![Screenshot_20210617-192831_Blynk IoT.jpg](https://user-images.githubusercontent.com/81516108/122437408-5acd7d00-cfa2-11eb-8f95-4c9729befe52.jpg)

[2021-06-17 19:27] blynkkk commented on #133
Dark theme wasn't implemented yet

[2021-06-17 19:27] #133 closed, assigned to nobody

[2021-06-19 11:45] nbolton opened #134 "Auto scroll to the right for super chart"
When I reopen the iOS app, I always have to manually scroll my super chart to the right to see new data (and it's not obvious that there is new data waiting to be seen).

It would be useful if the super chart automatically scrolled to the right (either using an animation, or just always showed the most recent data). That way, I wouldn't always have to manually scroll when reopening the app.

When

[2021-06-19 12:25] nbolton opened #135 "Push notification for offline device"
I notice that the notifications tab for the Offline event is not clickable. It would be useful to receive a push notification to my iOS device when the device goes offline.

Is this a planned feature?

[2021-06-19 16:21] Ad758 opened #136 "SSID not showing up"
I've used the Edgent_ESP32 example from the library, but I don't see the SSID showing up on the list of AP's on my phone or laptop to be able to add a new device.

Any help? Thanks

[2021-06-19 16:41] whogarden opened #137 "Time in reports can be 12hours or 24hours"
The time in a shipment report is "2021-06-19 18:10:51" (It's what I need)
but the time in device report is 06/19/21 06:34:59 PM

[2021-06-19 17:34] doom369 commented on #135
@nbolton yes. would be implemented some day, but not on the priority list right now.

[2021-06-19 17:39] vshymanskyy commented on #136
What is your arduino ide, esp32 core versions, board, hardware configuration, etc?
Also, serial console output?

[2021-06-20 07:21] Ad758 commented on #136
Arduino ide is 1.8.15.

ESP32 board is 2.0.0 alpha1

![image](https://user-images.githubusercontent.com/71893553/122665335-ec0d4100-d1a6-11eb-8f1f-883fa907e591.png)

Not sure how to get the esp32 core version - will send when I figure that out.

Boards used are ESP32 Wroom-32

![image](https://user-images.githubusercontent.com/71893553/122665590-65596380-d1a8-11eb-93a9-c37890054658.png)

![image](

[2021-06-20 07:35] vshymanskyy commented on #136
So you have AP IP 0.0.0.0, probably due to some issue with the Beta ESP32
core. Please try the latest stable release of ESP32 sw, we will check the
beta in meantime.

On Sun, Jun 20, 2021, 10:21 AM Ad758 ***@***.***> wrote:

[2021-06-20 15:36] nbolton commented on #135
Are you looking for contributors, volunteers, or businesses partners?

[2021-06-20 15:49] Ad758 commented on #136
Thanks for the help, I changed the board to 1.0.6 and it's connecting.

![image](https://user-images.githubusercontent.com/71893553/122680514-cc4e3b00-d1ef-11eb-8e1e-59754963842d.png)

[2021-06-21 15:24] blynkkk commented on #134
looks like a bug. Latest data should be displayed.

[2021-06-21 15:27] blynkkk commented on #135
@nbolton thanks for asking! Could you please share your ideas on collaboration to iot@blynk.cc?

[2021-06-21 15:27] #136 closed, assigned to vshymanskyy

[2021-06-22 14:10] Peterkn2001 opened #138 "Broken link in documentation"
At the bottom of this page:
https://docs.blynk.io/en/blynk.edgent/api/virtual-pins

there is a link to "changing widget properties". This is the URL for that link:

https://github.com/blynkkk/docs/tree/b7e1f17dc099ba9cebae3461a13ca2fe69b767a8/blynk.edgent/api/blynkfirmware.md#blynk-main-operations-change-widget-properties

but it gives a 404 error.

Pete.

[2021-06-22 15:37] vshymanskyy commented on #135
@nbolton currently you can enable Push notifications for offline events in your App Settings.
However it works for all devices (you cannot select devices).

This feature is on our roadmap.

[2021-06-22 15:37] #135 closed, assigned to nobody

[2021-06-22 16:18] doom369 commented on #138
@Mark-Pan please fix.

[2021-06-23 08:51] Mark-Pan commented on #138
URL is changed to https://docs.blynk.io/en/blynk.edgent/mainoperations/widget-properties

[2021-06-23 09:18] #138 closed, assigned to Peterkn2001

[2021-06-23 09:30] Peterkn2001 commented on #138
Perfect, thanks.

[2021-06-23 11:27] Peterkn2001 opened #139 "Blynk.syncAll() not working"
To replicate this issue, use the following code (ESP32 with static provisioning for simplicity of testing)

[code]

Define a datastream for pin V1 and attach a **slider widget** to it in the web dashboard.
(Note that this issue isn't limited to the slider widget, but there is another issue with the slider widget on the web dashboard, and I'll raise a separate issue about this (#140), but this setu

[2021-06-23 11:30] vshymanskyy commented on #3
You can now use:
[code]

[2021-06-23 11:36] Peterkn2001 opened #140 "Slider widget on web dashboard sends value when browser focus is lost"
When a slider widget is used on the web dashboard then the widget sends is value to the Blynk server when the the user switches away from the web browser window to any other window (not necessarily a browser window).

This behaviour does not occur with with switch widgets.

Use the setup and code from issue #139 to demonstrate this issue.. When ever the web dashboard loses focus then the current s

[2021-06-23 11:37] doom369 commented on #139
@Peterkn2001 now DS should be explicitly set as "sync" for `SyncAll` operation to work:

![screenshot-raypak-qa blynk cc-2021 06 23-14_34_38](https://user-images.githubusercontent.com/1536494/123090025-5553b500-d430-11eb-81eb-375f506c3f85.png)

Right now this option is missing on the UI. We'll add it with the next deployment.
This was done to avoid the hardware crash when `syncAll` invoked. For th

[2021-06-23 11:41] doom369 commented on #140
Wow, nice catch. Thanks.

[2021-06-23 12:01] Peterkn2001 commented on #140
Ha! Only found it because of the syncAll testing, had me very confused for a while!

Pete.

[2021-06-23 12:12] Peterkn2001 commented on #139
In that case, the documentation here will need updating:

https://docs.blynk.io/en/blynk.edgent/api/virtual-pins

Requests all stored on the server latest values for all widgets. All analog/digital/virtual pin values and states will be set to the latest stored value. Every virtual pin will generate BLYNK_WRITE() event.

and I'm not sure that the wording of the advanced option in your screenshot is

[2021-06-23 12:36] Peterkn2001 commented on #3
I see you've tidied up the LED pins, but I still think you have it wrong for the NodeMCU...

[code]

Every NodeMCU board has an LED connected to GPIO2 (the same as the Wemos), but some NodeMCUs have an additional LED attached to GPIO16

Using GPIO2 will work with every NodeMCU, GPIO16 will only work with some.

Pete.

[2021-06-23 13:15] vshymanskyy commented on #3
Done. Thanks!

[2021-06-23 13:15] #3 closed

[2021-06-23 16:36] nbolton opened #141 "Slope control only records first data point"
1. Add slope control on iOS
2. Set datastream to one of string type
3. Adjust data points

Expected: Some kind of serialised string of data points.
Actual: Only 1st data point is saved to the virtual pin (where are the other data points?)

[2021-06-23 16:47] nbolton commented on #135
Excellent, found it.

![image](https://user-images.githubusercontent.com/313427/123136582-01a29500-d44b-11eb-9b2f-3f4011d46472.jpeg)

[2021-06-23 16:50] nbolton opened #142 "Extra data points for slope control"
Feature suggestion: It'd be great if the slope control allowed for a custom number of data points (e.g. 4 data points) instead of only 2.

[2021-06-23 19:29] nbolton commented on #142
Actually, perhaps I don't need more than 2 data points for what I'm doing. But, what would be a nice to have (visually) is if the line up to the 1st point started at 0,0 and the final line went to 100,100. Not very important because I can control how the points are used in code, but visually it would be good if it matched the behaviour of the code.

![image](https://user-images.githubusercontent.c